[2022-08-25 15:42] cmwilson21 commented on #17752
@gmaclennan thanks for checking in! We do appreciate your patience as we are working through our backlog 💛

[2022-08-25 15:43] cmwilson21 commented on #20134
@Jerry-AWS thanks for opening an issue and linking it to your PR! ✨

[2022-08-25 15:52] cmwilson21 commented on #20137
@srbdev Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-25 15:56] cmwilson21 commented on #20145
@vincent-czi Thanks for opening and issue and submitting a PR! ✨

[2022-08-25 16:03] cmwilson21 commented on #20164
@89z Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-25 18:05] Globlost opened #20171 "https://github.com/github/docs/commit/f705a17c1acbca44d893bfa39f43bf9734c3353b#commitcomment-82209372"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-08-25 18:05] #20171 closed

[2022-08-25 18:06] Globlost commented on #20171
https://github.com/github/docs/issues/20171#issue-1351265558

[2022-08-25 19:19] codewithdev commented on #18736
This Issue has been resolved. Please approve and merge the PR https://github.com/github/docs/pull/20173

[2022-08-25 20:09] codewithdev commented on #20136
@rajbos Probably the use of "repository's" is correct in this page https://docs.github.com/en/repositories/releasing-projects-on-github/viewing-your-repositorys-releases-and-tags. However, the intro is only stating users to view releases and tags of a single repository.

[2022-08-25 20:22] rajbos commented on #20136
Indeed, there will be exceptions 😅.

Question is more about the process to get this fixed 😀.

[2022-08-25 21:04] 89z commented on #20164
actually this looks way easier:

https://spdx.org/licenses

[2022-08-25 21:49] aisgbnok commented on #7044
It seems like they do have copy buttons, but only when they are explicitly set. It would be nice if every code block had a copy button.

#### Reference

https://github.com/github/docs/blob/da5fb554bf6ced2d3ef8f550461617971590cca0/contributing/content-markup-reference.md?plain=1#L77-L83

#### Live Example

[Configuring issue templates for your repository](https://docs.github.com/communities/using-t

[2022-08-25 22:42] jsoref commented on #7044
Indeed. The code is here:
https://github.com/github/docs/blob/main/lib/render-content/plugins/code-header.js

I'd suggest changing the code to honor `:nocopy` and adjusting it so that unless it sees {:nocopy}, it always adds a copy block. That'd be the easiest thing. If there's no language specified, the left edge could either be empty (` `), or have _`Example`_ or `Text` or something similar (I d

[2022-08-26 11:20] adarshajit opened #20182 "UI Improvement: Issues with the navbar buttons and index sidebar"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

![Screenshot from 2022-08-26 16-41-12](https://user-images.githubusercontent.com/50659234/186892342-de16c20b-02aa-48ab-9fd2-4555e41a6981.png)

### What changes are you suggesting?

Hi noticed

[2022-08-26 16:43] cmwilson21 commented on #20136
👋 Hey @rajbos, thanks for opening an issue! I can definitely see how this could grab someone's attention. However, the references in the search titles are not plural but show possession of a single repository. So the files are correct with the singular form `repository` with an `'s` for possession.

I hope that clears up things for the titles; I'm going to go ahead and close this issue 💛

Thank yo

[2022-08-26 16:43] #20136 closed

[2022-08-26 17:01] cmwilson21 commented on #20182
@adarshajit Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-26 17:58] jsoref opened #20191 "Document how to accept an invitation to a repository/organization"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-access-to-your-personal-repositories/inviting-collaborators-to-a-personal-reposi

[2022-08-26 21:07] aeisenberg opened #20196 "Confusion on Troubleshoot CodeQL workflow page- Is `go` a compiled language or not?"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/troubleshooting-the-codeql-workflow#no-code-found-during-the-build

### W

[2022-08-26 23:18] aeisenberg commented on #20196
Closing in favor of https://github.com/github/codeql-core/issues/1345

[2022-08-26 23:18] #20196 closed

[2022-08-26 23:30] diegohj56 opened #20199 "Hhhfgg"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-08-26 23:30] #20199 closed

[2022-08-26 23:59] diegohj56 opened #20200 "Diegohj56"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Docs

### What changes are you suggesting?

Saludos

### Additional information

Espero les ayude

[2022-08-27 00:00] #20200 closed

[2022-08-27 01:12] Akenndy commented on #20191
SECURITY.md

[2022-08-27 01:12] Akenndy commented on #20191
SECURITY.md

[2022-08-27 03:18] avalonv opened #20202 "Clarify reporting abuse in comments when the user is not a contributor."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/communities/maintaining-your-safety-on-github/reporting-abuse-or-spam

### What changes are you suggesting?
The current doc states only collaborators may report comm

[2022-08-27 03:24] avalonv commented on #20202
Correction: I misunderstood the fact that the option to report abuse is only available to maintainers and collaborators. My bad.

[2022-08-27 15:07] taylorhakes opened #20216 "Dismissing a review causes reviewed event to be in `dismissed` state"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#reviewed

### What changes are you suggesting?

Ideally change the behavior of the API to keep the state of t

[2022-08-27 15:35] PythonCoderAS opened #20217 "Remove extraneous `<em>` tags"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/managing-commit-signature-verification/generating-a-new-gpg-key

### What part(s) of the article would you like to see updated?

A code block contains

[2022-08-28 08:50] ckuethe commented on #18778
Hello @janiceilene - do you know if anyone is reviewing my PR? It seems to have been useful to one other person recently.

[2022-08-28 21:56] bobsaintcool opened #20243 "Git commit signature with SSH key state to use the public part for signing"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[authentication](https://github.com/github/docs/tree/main/content/authentication)/[managing-commit-signature-verification](https://github.com/github/docs/tree/main/content/authentication/manag

[2022-08-29 00:31] #18736 closed

[2022-08-29 07:12] kaichii opened #20249 "Incorrect Layout"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/cn/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#configuration-options-for-the-dependabotyml-file

### What part

[2022-08-29 07:12] #20249 closed

[2022-08-29 12:35] kashiwachen opened #20256 "Docs: Correct the word sprint to iteration"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[project-filters.md](https://github.com/github/docs/blob/main/data/reusables/projects/projects-filters.md) is gonna be affectet

### What part(s) of the article would you like to see updated?

[2022-08-29 13:34] cmwilson21 commented on #20191
👋 @jsoref Thanks for opening an issue and for the Mario reference 🍄

I'll triage this for the team to take a look! 👀

[2022-08-29 13:37] cmwilson21 commented on #20202
@avalonv Thanks for opening an issue and PR! ✨

[2022-08-29 13:44] cmwilson21 commented on #20216
@taylorhakes Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-29 13:48] cmwilson21 commented on #20216
@taylorhakes - Just for clarification, are you requesting a change in the documentation over dismissing a review? Or is this a request to update the behavior of the API?

[2022-08-29 13:48] cmwilson21 commented on #20217
@PythonCoderAS Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-29 13:52] taylorhakes commented on #20216
Hey @cmwilson21. I am requesting both. The immediate fix is to document this behavior in  the docs. It would be amazing to fix this behavior to show the original review state, but I don’t know how much work that would be because the code isn’t open source.

[2022-08-29 14:02] cmwilson21 commented on #20256
@kashiwachen Thanks for opening an issue and PR! ⚡

[2022-08-29 14:46] #20134 closed

[2022-08-29 17:21] gracepark commented on #20182
Hi @adarshajit - We're aware of the issue, and are looking into it. Thank you for reporting. This seems to be happening to a very small percentage of users whose OS color mode preference may be set different to GitHub. For e.g. we've seen this when the OS is set to dark and GitHub is set to light. Let me know if that is not the case!

[2022-08-29 18:29] yogeshlonkar opened #20266 "Fix documentation of repository_visibility field in OIDC token"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#understanding-the-oidc-token

### What part(s) of the article wou

[2022-08-29 21:12] cmwilson21 commented on #20216
Thanks for clarifying @taylorhakes! We can take a look at the documentation side. For the feature feedback, it would be best to leave that over in the [communities feedback discussions](https://github.com/community/community/discussions/categories/pull-requests).

We will check it out from the docs side of things. Thanks again for raising an issue! 💛

[2022-08-29 21:38] cmwilson21 commented on #20249
@kaichii I see that you were raising an issue about a broken table in one of our translation files but one of our bots closed it. We can't make changes to the translation files in our repo, but I have opened an issue with our localization team so they can fix it.

Thank you for raising this issue with us! ✨

[2022-08-30 01:43] kaichii commented on #20249
@cmwilson21 Oh! I see.

[2022-08-30 06:43] #20217 closed

[2022-08-30 07:08] #20145 closed

[2022-08-30 09:43] tjenkinson commented on #19593
@skedwards88 just checking if you saw my reply and if the internal ticket been updated?

[2022-08-30 11:41] mbiesiad opened #20289 "'Attaching files' has missing important note"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files

### What part(s) of the article would you like to see updated?

At this moment there

[2022-08-30 11:44] hat-owl opened #20290 "Review and fix potential typo in git clone feedback text copy"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Quickstart: Fork a Repo](https://docs.github.com/en/get-started/quickstart/fork-a-repo)

### What part(s) of the article would you like to see updated?

I compared the git clone progress text

[2022-08-30 13:38] cmwilson21 commented on #20289
@mbiesiad Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-30 13:41] cmwilson21 commented on #20290
@hat-owl Thanks for opening an issue and linking your PR to it! ✨

[2022-08-30 18:07] skedwards88 commented on #20216
Thanks for this issue! You or anyone else is welcome to open a PR to update the docs to reflect that the `dismissed` state exists.

[2022-08-30 18:16] skedwards88 commented on #19593
Thanks for clarifying. I thought you were talking about the response, but I understand now that you are pointing out that this is missing from the request parameters. I'll open an issue for the owning team.

[2022-08-30 19:26] skedwards88 commented on #19593
`state_reason` is now documented in the request body as well. Thanks again for this issue!

<img width="440" alt="image" src="https://user-images.githubusercontent.com/25328854/187525825-4f03f039-9b2c-44ca-aa62-f6b5241b1e4d.png">

[2022-08-30 19:54] gracepark commented on #20182
Awesome thanks for the confirmation. Since we are aware and looking through this, I'll close this issue for now. If anything else pops up please let us know! Thank you again!

[2022-08-30 19:54] #20182 closed

[2022-08-30 19:58] cmwilson21 commented on #20078
@bashirmindee Thanks again for opening this issue! ✨

The blog post you linked to is dated 2019. GitHub blogs are snapshots of a feature or improvement and will become outdated as the feature is updated. These blogs announce features as opposed to documenting them.

Draft pull requests are available in public repositories with GitHub Free for organizations and public and private repositories with

[2022-08-30 19:58] #20078 closed

[2022-08-30 20:09] cmwilson21 commented on #19655
@calebboyd Thanks for your patience on this one as we are working through our backlog ✨

I spoke with the team and we noticed that in the commits linked above, it's the name of the folder that is being changed, not the template name itself. If the name of the folder is changed, the template cannot be selected anymore when an issue is created.

I hope that helps. If not, please let us know. I'm goi

[2022-08-30 20:09] #19655 closed

[2022-08-30 20:18] cmwilson21 commented on #20266
@yogeshlonkar Thanks for opening an issue! I see that you made a PR as well, but it's for a file in which we don't usually accept changes, so our bot closed it out. 💛

I will get this issue triaged for review, and it will be fixed internally if approved.

Thank you for your interest in improving GitHub Docs! :sparkling_heart:

[2022-08-30 23:56] Salamander098 commented on #20290
Thank you hat owl

from 👍 Salamander 098

[2022-08-30 23:56] Salamander098 commented on #20290
I am salamander 098 @ mystery.com

[2022-08-31 08:42] tjenkinson commented on #19593
Thanks! Is the only supported value right now `not_planned`?

[2022-08-31 16:36] skedwards88 commented on #19593
Thanks for your thoroughness. I followed up with the team to ask the to define this as an enum and to list the allowed values.

[2022-08-31 16:48] aisgbnok opened #20325 "Update Gmail buttons screenshot"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Configuring notifications](https://docs.github.com/account-and-profile/managing-subscriptions-and-notifications-on-github/setting-up-notifications/configuring-notifications#customizing-your-e

[2022-08-31 20:19] #20290 closed

[2022-09-01 04:09] #19904 closed

[2022-09-01 12:52] nzbitcoinme commented on #20216
Opensorce/runpandora/yh5aitec

[2022-09-01 13:13] cmwilson21 commented on #20325
@aisgbnok Thanks for opening an issue and linking it to your PR! ⚡

[2022-09-01 20:36] carflo opened #20356 "Empty default value for auto_merge parameter in Create a Deployment documentation"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

The [Create a Deployment](https://docs.github.com/en/rest/deployments/deployments#create-a-deployment) documentation shows an empty value for the `auto_merge` parameter when it should show `tr

[2022-09-02 00:11] Dmarshk opened #20358 "dmarshclover"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-09-02 00:11] #20358 closed

[2022-09-02 13:02] cmwilson21 commented on #20356
@carflo Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-02 13:47] cmwilson21 commented on #20356
Thank you again for opening this issue! Updates to the REST/GraphQL API description must be made internally. I have copied your issue to an internal issue, so I will close this issue.

[2022-09-02 13:47] #20356 closed

[2022-09-03 02:20] Zhong-z opened #20379 "GPG supported key algorithms"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/managing-commit-signature-verification/generating-a-new-gpg-key

### What part(s) of the article would you like to see updated?

#generating-a-gpg-key

[2022-09-03 12:12] hsoonslami commented on #20325
Nsnsnznn

[2022-09-03 20:14] CEOPBR opened #20395 "https://bats-core.readthedocs.io/en/stable/"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-09-03 20:14] #20395 closed

[2022-09-04 08:04] Brokkies commented on #16950
I would like to help with this ,but still new and don,t know where to start

[2022-09-04 14:22] cys3004 opened #20406 "Thanks for opening this pull request! A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [contributing guidelines](https://github.com/github/docs/blob/main/CONTRIBUTING.md)."
Thanks for opening this pull request! A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [contributing guidelines](https://github.com/github/docs/blob/main/CONTRIBUTING.md).

_Originally posted by @welcome[bot] in https://github.com/github/docs/issues/12791#issuecomment-989903805_

[2022-09-04 14:36] ataljka opened #20408 "G"
https://github.com/ataljka/ata/issues/2

[2022-09-04 14:36] #20408 closed

[2022-09-05 05:14] iamCristYe opened #20413 "Using internationalized domain for GitHub Pages"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site

### What part(s) of the article would you like to s

[2022-09-05 10:15] felicitymay commented on #20289
Hi @mbiesiad - thanks for flagging your concerns.

I agree that it would be helpful to update the article to mention the fact that the image is uploaded immediately, even if you ultimately decide not to add the comment, cancel the changes etc. I'll update the issue summary with a short content design plan that you, or someone else can follow to raise a pull request to update the article.

I also a

[2022-09-05 10:28] felicitymay commented on #20289
Actually, on looking more into this, I think we'll need to consult with a subject matter expert to check how this works for GitHub Enterprise Server. Then we'll be able to suggest docs changes to make this article clearer.

[2022-09-05 12:36] qsalatiel opened #20419 "Typo on Copilot billing pt translation page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/pt/billing/managing-billing-for-github-copilot/about-billing-for-github-copilot#pre%C3%A7os-de-github-copilot

### What changes are you suggesting?

Fix the typo on the

[2022-09-05 16:43] Veylkh opened #20424 "Missing Mastering Markdown page (that redirects to Basic Formatting)"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

### At:
 Get started / Writing on GitHub / Start writing on GitHub / Write & format on GitHub /

### Both:
- About writing and formatting on GitHub #[Further Readings](https://docs.github.com/

[2022-09-05 20:51] Verisimilitude11 opened #20426 "Update the UI elements in images to match the current elements"
### Code of Conduct

- [x] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/about-pull-request-reviews

https://github.com/github/docs/blob/main/content/pull-r

[2022-09-06 04:39] cys3004 opened #20429 "👋 Hey there spelunker. It looks like you've modified some files that we can't accept as contributions. The complete list of files we can't accept are:"
👋 Hey there spelunker. It looks like you've modified some files that we can't accept as contributions. The complete list of files we can't accept are:
.devcontainer/**
.github/actions-scripts/**
.github/workflows/**
.github/CODEOWNERS
assets/fonts/**
data/graphql/**
Dockerfile*
lib/graphql/**
lib/redirects/**
lib/rest/**
lib/webhooks/**
lib/search/indexes/**
package*.json
scripts/**
translations/*

[2022-09-06 12:55] cmwilson21 commented on #20379
@Zhong-z Thanks for creating an issue and opening a PR! ✨

[2022-09-06 13:01] cmwilson21 commented on #16950
@Brokkies Thanks for your interest in helping out with this one! ✨

Take a look at the [contributing.md](https://github.com/github/docs/blob/main/CONTRIBUTING.md/) to learn how to contribute in this repo. You can open a [discussion](https://github.com/github/docs/discussions) if you have any questions or check out issues with the [help wanted](https://github.com/github/docs/issues?q=is%3Aopen+is%3

[2022-09-06 13:02] #20406 closed

[2022-09-06 14:12] cmwilson21 commented on #20413
@iamCristYe Thanks for creating an issue and linking it to your PR!

[2022-09-06 14:23] cmwilson21 commented on #20419
Closing per comment in [PR](https://github.com/github/docs/pull/20420#issuecomment-1238219898)

[2022-09-06 14:23] #20419 closed

[2022-09-06 14:28] cmwilson21 commented on #20424
@Veylkh Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-06 14:33] cmwilson21 commented on #20426
@Verisimilitude11 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-06 14:35] #20429 closed

[2022-09-06 16:15] felicitymay commented on #20289
@mbiesiad - I've discussed this with an internal team and passed on your feedback.

I've added a content design plan to the issue summary with some small changes to the article that should make the current behavior clearer to users.

Thanks for bringing this to our attention ✨

[2022-09-06 16:27] #19000 closed

[2022-09-06 16:30] Sunny68778 opened #20440 "<!-- MODIFIED_CONTENT_LINKING_COMMENT -->"
## Automatically generated comment ℹ️
**This comment is automatically generated and will be overwritten every time changes are committed to this branch.**

The table contains an overview of files in the `content` directory that have been changed in this pull request. It's provided to make it easy to review your changes on the staging site. Please note that changes to the `data` directory will not

[2022-09-06 17:21] cmwilson21 commented on #20191
👋 @jsoref I spoke with the team and we are not going to add this. Since notification settings differ from user to user, it would cause more confusion to document the various options.

Thank you for your interest in improving GitHub Docs! :sparkling_heart:

[2022-09-06 17:21] #20191 closed

[2022-09-06 17:39] jc-clark commented on #20424
Thanks for the report @Veylkh. We met about this as a team decided on two next actions:

- In [About writing and formatting on GitHub](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/about-writing-and-formatting-on-github#further-reading), delete the entire "Mastering Markdown" line since the correct article is already linked in the li

[2022-09-06 17:47] Veylkh commented on #20424
Thank you for the replies.

@jc-clark Are you sure that, at some point, there wasn't a (possibly planned) recipient for this link? Such as another article in the docs or external references.

[2022-09-06 17:53] jsoref commented on #20191
4. You can navigate directly to https://github.com/settings/organizations

[2022-09-06 17:59] jc-clark commented on #20424
No problem, @Veylkh! Great question, there used to be a recipient for this link. The "Mastering Markdown" links are guides that have been deprecated. "Basic writing and formatting syntax" is the most current/updated guide we have for markdown syntax. When we deprecated the "Mastering Markdown" guide, we set up some redirects to "Basic writing and formatting syntax". Understandably, those redirects

[2022-09-06 18:03] #20424 closed

[2022-09-06 19:50] cmwilson21 commented on #20164
@89z Thanks for bringing this up! In the sentence right before the example given, there's a link to "[Licensing a repository](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository)." From there, you can scroll down to "[Searching GitHub by license type](https://docs.github.com/en/repositories/managing-your-reposit

[2022-09-06 19:50] #20164 closed

[2022-09-06 20:38] cmwilson21 commented on #20426
@Verisimilitude11 Could you give us a bit more information on what you would like to see updated in this article?

Thank you! 💛

[2022-09-07 01:08] Verisimilitude11 commented on #20426
For example in this image:
<img width="359" alt="image" src="https://user-images.githubusercontent.com/96280466/188766589-f836fcae-8a33-4923-9bcd-1d4868a932ca.png">
The icon for pull requests, buttons, and the general UI are different.

[2022-09-07 12:24] deivid-rodriguez opened #20454 "By default, dependabot only updates direct dependencies"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file.

### What part(s) of the article would you like to see updated

[2022-09-07 13:43] #20440 closed

[2022-09-07 13:48] cmwilson21 commented on #20454
@deivid-rodriguez Thanks for opening an issue and linking it to your PR! ✨

[2022-09-07 13:48] chrismuellner opened #20456 "Incorrect type of `string` for `github.ref_protected` property"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/contexts#github-context

### What part(s) of the article would you like to see updated?

type for property `github.ref_protected` is of

[2022-09-07 14:21] cmwilson21 commented on #20456
@chrismuellner Thanks for opening an issue and linking it to your PR! ✨

[2022-09-07 15:50] slenguyen opened #20459 "Update GEI Managing Access section to include IP Allowlist configuration"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Managing access for GitHub Enterprise Importer: https://docs.github.com/en/early-access/enterprise-importer/preparing-to-migrate-with-github-enterprise-importer/managing-access-for-github-ente

[2022-09-07 17:24] slenguyen commented on #20459
Moved to docs-internal.

[2022-09-07 17:24] #20459 closed

[2022-09-07 18:51] victorlin opened #20465 "Update self-hosted runners to support macOS ARM64"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners#architectures

### What part(s) of the article would you like to see updated?

https://github.com/github/d

[2022-09-07 18:57] #20325 closed

[2022-09-07 20:10] KES777 opened #20469 "It is not documented how to send required parameter"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/packages#list-packages-for-an-organization

### What changes are you suggesting?

https://docs.github.com/en/rest/packages#list-packages-for-an-organization

[c

[2022-09-08 01:19] jinwookkk opened #20478 "Neither looks wrong and tags are expected, but it explain paths."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onpushbranchestagsbranches-ignoretags-ignore

### What part(s) of the article would you like to see update

[2022-09-08 03:38] ReelLion opened #20482 "C GitUP"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

All

### What changes are you suggesting?

Working together with no motive other than to spark evolution.

### Additional information

We already winning . Let's go team, give yourselves a rou

[2022-09-08 03:38] #20482 closed

[2022-09-08 10:52] david-gang opened #20487 "clarify api usage limits in github actions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#usage-limits

### What part(s) of the article would you like to see updated?

API requests - You

[2022-09-08 12:35] cmwilson21 commented on #5993
Looks like this was fixed internally. Closing this one now.

[2022-09-08 12:35] #5993 closed

[2022-09-08 12:36] cmwilson21 commented on #6284
Looks like this has been fixed. Closing this issue now.

[2022-09-08 12:36] #6284 closed

[2022-09-08 12:50] #7323 closed

[2022-09-08 12:54] cmwilson21 commented on #8188
Looks like this one has been completed. I'm going to close the issue now.

[2022-09-08 12:54] #8188 closed

[2022-09-08 13:01] cmwilson21 commented on #9401
It looks like this one has been fixed. I'm closing the issue now.

[2022-09-08 13:01] #9401 closed

[2022-09-08 15:38] rajbos opened #20489 "Missing information about workflow creation through the API's"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/security-guides/automatic-token-authentication
https://docs.github.com/en/rest/overview/permissions-required-for-github-apps

### What part(s) of the article

[2022-09-08 17:27] cmwilson21 commented on #20465
@victorlin Thanks for opening an issue and linking it to your PR!

[2022-09-08 17:31] mrclemds opened #20494 "Add detailed documentation about the usage of secrets in codespaces prebuild"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[GitHub Codespaces/](https://docs.github.com/en/codespaces)[Prebuilding your codespaces/](https://docs.github.com/en/codespaces/prebuilding-your-codespaces)[Configure prebuilds](https://docs.g

[2022-09-08 17:37] jsoref opened #20495 "`fromJSON` should include an example of an array for `runs-on`"
### Maintainer's note

We researched the question raised by this issue and provided clarification in this comment: https://github.com/github/docs/issues/20495#issuecomment-1717383155

To open a PR against this issue, please add clarification of this syntax in the "[`jobs.<job_id>.runs-on`](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idruns-on)" sec

[2022-09-08 19:10] jsoref commented on #20495
The working example is apparently https://github.com/commercialhaskell/stack/pull/5856/commits/ba7008251f8bcec6ac0bd11f26031b760b7d68e6

https://github.com/commercialhaskell/stack/blob/ba7008251f8bcec6ac0bd11f26031b760b7d68e6/.github/workflows/integration-tests.yml#L115
[code]
https://github.com/commercialhaskell/stack/blob/ba7008251f8bcec6ac0bd11f26031b760b7d68e6/.github/workflows/integration-tes

[2022-09-08 19:13] cmwilson21 commented on #20469
@KES777 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-08 19:34] cmwilson21 commented on #20487
@david-gang Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-08 19:40] cmwilson21 commented on #20489
👋 @rajbos Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-08 19:43] cmwilson21 commented on #20478
@jinwookkk Thanks for opening an issue and linking it to your PR! ✨

[2022-09-08 21:00] luc122c opened #20500 "GitHub Copilot is now free for teachers"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

- [About billing for GitHub Copilot](https://docs.github.com/en/copilot/overview-of-github-copilot/about-github-copilot#about-billing-for-github-copilot)
- [Getting started with GitHub Copilot

[2022-09-08 21:21] skedwards88 commented on #20489
Thanks for opening this issue! We're working internally to improve the completeness and accuracy of the "Permissions required for GitHub Apps" article. After that internal project is complete, you should see "workflows" mentioned on that page. I think that the table in "Automatic token authentication" is meant to only indicate the permissions that you can specify and is not kept up to date permiss

[2022-09-08 21:21] #20489 closed

[2022-09-08 21:23] skedwards88 commented on #20487
This refers to calls to the GitHub API. You or anyone else is welcome to open a PR to update https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#usage-limits to say something like  "1000 requests to the GitHub API" instead of "1000 API requests".

[2022-09-09 05:35] #19656 closed

[2022-09-09 11:27] sushiljainam opened #20508 "content error in shell example for GPG signing articles"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key

### What part(s) of the article would you like to see updated?

Slight inco

[2022-09-09 12:37] cmwilson21 commented on #20494
@mrclemds Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-09 12:48] cmwilson21 commented on #20495
👋 @jsoref Thanks for opening an issue. We appreciate all the details, too.

I'll get this triaged for review. ⚡

[2022-09-09 12:57] cmwilson21 commented on #20500
@luc122c Thanks for opening an issue and linking it to your PR! ✨

[2022-09-09 13:07] cmwilson21 commented on #20508
@sushiljainam Thanks for opening an issue and linking it to your PR! ✨

[2022-09-10 15:15] tisonkun opened #20529 "Support toggle dark mode and light mode"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

All. It's about the site.

### What changes are you suggesting?

It seems now the mode always follows system settings. While I set the system preference as dark mode, I'd prefer to view the pa

[2022-09-11 17:48] mLuby opened #20540 "Doc on CODEOWNERS has a broken link for #syntax-expections"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

"About code owners"
- public: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax
- source:

[2022-09-11 22:10] vedantsinghania05 opened #20545 "Removal of outlines on buttons in Github Docs Footer"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

No specific article, just the entire site (the footer of the site)

### What changes are you suggesting?

I am unsure if this is an error or a purposely implemented change on the Github Docs s

[2022-09-11 22:25] vedantsinghania05 opened #20546 "Warn about scam emails impersonating Github on"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/types-of-emails-github-sends

### What part(s) of the article

[2022-09-11 22:31] Porsha054 commented on #20546
Yes someone hack my email what is this app aways

Sent from my Verizon, Samsung Galaxy smartphone
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Vedant Singhania ***@***.***>
Sent: Sunday, September 11, 2022 6:28:06 PM
To: github/docs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [github/docs] Warn about scam emails impersonating Github on (Issue #20546)

[2022-09-11 23:00] Scarface964 opened #20547 "7fa5f15317e3b069c3118e0fbe4e80ab860ffeea"
https://github.com/Reactive-Extensions/RxJS-DOM/blob/master/license.txt

[2022-09-11 23:01] #20547 closed

[2022-09-11 23:03] Scarface964 opened #20548 "3207a091f0ef083d96aa9172d0f2acb00f788fea"
https://github.com/Reactive-Extensions/RxJS-DOM/commit/3207a091f0ef083d96aa9172d0f2acb00f788fea

[2022-09-11 23:03] #20548 closed

[2022-09-12 13:23] cmwilson21 commented on #20540
@mLuby Thanks for opening an issue and linking it to your PR! ✨

[2022-09-12 13:25] tisonkun commented on #20529
@cmwilson21 This once works but no more. My preference is light mode but the doc site still gives me the dark mode.

<img width="1284" alt="image" src="https://user-images.githubusercontent.com/18818196/189665963-dd6476a7-1eee-4bb9-9786-da3d3fbec4ab.png">

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/18818196/189666060-893d4d30-ffdf-4785-9c1e-f6069a599791.png">

[2022-09-12 14:19] #20454 closed

[2022-09-12 19:24] cmwilson21 commented on #13896
This one appears to have been fixed. I'm going to close the issue now 💛

[2022-09-12 19:24] #13896 closed

[2022-09-12 19:26] cmwilson21 commented on #13897
This one appears to have been fixed. I'm going to close the issue now 💛

[2022-09-12 19:26] #13897 closed

[2022-09-12 19:26] AlDacMac opened #20562 "Webricks currently not included by default in homebrew's ruby, leading to issues."
### Code of Conduct

- [x] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pages/setting-up-a-github-pages-site-with-jekyll/creating-a-github-pages-site-with-jekyll

### What part(s) of the article would you like to see updated?

When follo

[2022-09-12 19:27] cmwilson21 commented on #13900
This one appears to have been fixed. I'm going to close the issue now 💛

[2022-09-12 19:27] #13900 closed

[2022-09-12 19:29] cmwilson21 commented on #13901
This one appears to have been fixed. I'm going to close the issue now 💛

[2022-09-12 19:29] #13901 closed

[2022-09-12 19:35] cmwilson21 commented on #13902
It appears this one has been fixed. I'm going to go ahead and close this issue now 💛

[2022-09-12 19:35] #13902 closed

[2022-09-12 19:36] cmwilson21 commented on #13904
It appears this one has been fixed. I'm going to go ahead and close this issue now 💛

[2022-09-12 19:36] #13904 closed

[2022-09-12 22:24] cmwilson21 commented on #15319
I think this has been covered and updated in a previous PR. I'm going to go ahead and close this now 💛

[2022-09-13 06:23] #20478 closed

[2022-09-13 06:49] janiceilene commented on #18974
Thanks for letting us know about this @jsoref! You're right, this is a gnarly area of the product with lots of tiny nuances. We've opened an internal issue to collaborate more closely with some other teams as we try to figure out what the best updates might be.

Thanks again!

[2022-09-13 06:49] #18974 closed

[2022-09-13 06:54] janiceilene commented on #17752
Thanks so much for opening this issue @gmaclennan! We checked in with the team and this is a great addition. You or anyone else is welcome to open a PR 🎉

[2022-09-13 06:58] Pavankumar-Hegde commented on #20562
yeah good idea.

[2022-09-13 06:59] janiceilene commented on #17617
It looks like this was fixed in https://github.com/github/docs/pull/16181, so I'm going to close this issue now.

Thanks so much @jsoref 💖

[2022-09-13 07:01] jsoref commented on #17617
@janiceilene: that doesn't seem to be the right PR

[2022-09-13 07:58] martin389 commented on #20266
Hi @yogeshlonkar, thanks for letting us know. I've now updated [the article](https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect) in an internal PR 👍

[2022-09-13 07:58] #20266 closed

[2022-09-13 13:12] cmwilson21 commented on #20562
@AlDacMac Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-13 13:30] #20487 closed

[2022-09-13 13:39] #20500 closed

[2022-09-13 16:01] cmwilson21 commented on #20545
@vedantsinghania05 Thanks for opening an issue and providing this feedback. I've brought it up with our team and we will be tracking it internally from this point. I'm going to go ahead and close the issue now.

Thanks again for your interest and passion for improving the docs! 💖

[2022-09-13 16:01] #20545 closed

[2022-09-13 17:35] vinijmoura opened #20595 "List followers of a user"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

I'm using GitHub Api to list followers, but when return 200, I don't have the follower date (follower_at).
https://docs.github.com/en/rest/users/followers#list-followers-of-a-user

Is it possi

[2022-09-13 21:11] vgrl commented on #15129
It looks like https://github.com/github/docs/pull/16181 may have resolved the concerns mentioned in this issue, so I'll close this now.

[2022-09-13 21:11] #15129 closed

[2022-09-13 21:16] vgrl commented on #17617
Thanks for catching this @jsoref , you're right—reopening as this issue still can be addressed.

[2022-09-14 07:24] #20465 closed

[2022-09-14 11:29] hubwriter commented on #20494
I will raise this with product management.

[2022-09-14 11:41] hubwriter commented on #20094
@timdeschryver - Many thanks for raising this issue.

We definitely need to get this updated. 👍

We are due to be making changes to that page. I will therefore close this issue and take the information you have supplied above and copy it over into our internal issue for the other changes so that we do this at the same time.

Thanks again

[2022-09-14 11:41] #20094 closed

[2022-09-14 14:22] noor123455 opened #20613 "N667766NN667766N"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

nooralshmmre888@gmail.com

### What part(s) of the article would you like to see updated?

@N667766n

### Additional information

nooralshmmre888@gmail.com

[2022-09-14 14:22] #20613 closed

[2022-09-14 15:50] MdSabbirIsla commented on #19239
Vivo V17 Pro

[2022-09-15 10:45] chnuessli opened #20628 "German translation"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Every Page

### What part(s) of the article would you like to see updated?

I would like to to help translate the site in german. Is there a way to do that?

### Additional information

_No re

[2022-09-15 10:45] #20628 closed

[2022-09-15 12:01] antdking opened #20631 "oauth redirect_uri documents a Host constraint that doesn't exist"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps#redirect-urls

### What part(s) of the article would you like to see updated?

The article talks about how

[2022-09-15 14:02] darthwillis commented on #19959
@cmwilson21 @lecoursen Hello! Sorry for the delay here. I have a PR up for this now: https://github.com/github/docs-internal/pull/30797

[2022-09-15 14:30] Niek commented on #2617
Not really a documentation issue, but it would be great if the `org.opencontainers.image.documentation` label would be honored to link to a specific markdown file to show on the package page. Right now it seems to be ignored.

[2022-09-15 17:55] cmwilson21 commented on #20595
@vinijmoura Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-15 19:12] cmwilson21 commented on #20631
@antdking Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-15 20:16] cmwilson21 commented on #20595
@vinijmoura Checking in again.. Are you requesting a change to the docs? If so, can you be a bit more specific on what you think should be added or changed? ✍️

If this is a support question, this would best be handled by our [support team](https://support.github.com/request). Please reach out to them. 💛

[2022-09-15 20:40] vinijmoura commented on #20595
Hello @cmwilson21
I need 2 changes:

1. REST API return the date of follower
2. Documentation refresh with this new information.

[2022-09-15 22:35] compdemo0908 opened #20643 "It is not clear what values belong to the conclusion or the status fields of a workflow run"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/actions/workflow-runs#list-workflow-runs-for-a-workflow

![list-workflow-runs-for-a-workflow-github-api-call](https://user-images.githubusercontent.com/11315036

[2022-09-16 10:22] isaacmbrown commented on #2617
I'm going to transfer this issue to an internal repository so the docs team can work on it in there. I'll circle back to this issue to update everyone when work on this is merged. 👍

[2022-09-16 11:12] pawanks84 opened #20654 "Unclear how to get the ID value for pushActorIds in CreateBranchProtectionRuleInput"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

In the below given github doc link, its not clear how to get the ID values for attribute **pushActorIds** in the section CreateBranchProtectionRuleInput.
https://docs.github.com/en/graphql/ref

[2022-09-16 12:56] CapitainFlam opened #20656 "minor change but would help understanding how to do a code suggestion in a comment"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

File affected : (the `{% pointers %}` I was unable to find)
https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/reviewing-changes-in-pull-requests/reviewing-proposed-chan

[2022-09-16 12:57] CapitainFlam commented on #20656
Thanks, bot :)

[2022-09-16 15:01] cmwilson21 commented on #20643
@compdemo0908 Thanks for opening an issue and providing all these great details. I'll get this triaged for review! ⚡

[2022-09-16 15:02] #20643 closed

[2022-09-16 15:21] cmwilson21 commented on #20656
👋 @CapitainFlam - not a bot here 😉

Thanks for opening an issue and for clearly defining the trouble point you have experienced and including the image. I will get this triaged for review! ⚡

[2022-09-16 15:24] cmwilson21 commented on #20656
Also, slightly changed your post to include a link to the live article in addition to the file link you provided. Thanks for that! ✨

[2022-09-16 17:21] CapitainFlam commented on #20656
And thanks for the direct link 👍😸

[2022-09-16 19:21] cmwilson21 commented on #20595
Thanks for getting back to me so quickly. This is not currently a supported feature. 💛

The best place to send your feature request feedback is to https://support.github.com/contact/feedback

We appreciate your interest in improving the docs! I'm going to go ahead and close this issue now. ✨

[2022-09-16 19:21] #20595 closed

[2022-09-16 20:27] cmwilson21 commented on #16950
Looks like this one has been updated, I'm going to go ahead and close the issue now 💛

[2022-09-16 20:27] #16950 closed

[2022-09-17 13:38] tranthithoa0803 commented on #17099
Ok

[2022-09-17 17:50] joel-coffman commented on #19342
From a response to a GitHub support ticket:

I was able to confirm that restriction, as I tried again using a different commercial Internet connection, and lo-and-behold, the upload button did appear!

Perhaps instead of removing the note, the restriction / limitation should documented? I'm also curious how the geolocation is implemented, as (ironically) the upload button did **not** appear when c

[2022-09-17 18:35] Readywillingh-20 commented on #19096
Hello friends

[2022-09-17 20:26] AlexShanTE opened #20679 "GITHub Api missing repository language if repo is forked (@get /user/repos)"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/repos/repos#list-repositories-for-a-user

### What changes are you suggesting?

**What feature or product is affected?**

 REST API

**What is the problem?**

A

[2022-09-18 01:04] rhysd opened #20689 "Incorrect types of `strategy` context's properties"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/contexts#strategy-context

### What part(s) of the article would you like to see updated?

`strategy` context object looks like:

[code]

[2022-09-18 02:26] Jabadaba00 opened #20691 "S"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-09-18 02:26] #20691 closed

[2022-09-18 18:16] madbernard commented on #19156
bump

[2022-09-19 03:08] jsoref opened #20701 "clarify `needs context contains outputs from all jobs that are defined as a dependency of the current job`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/contexts#needs-context

### What part(s) of the article would you like to see updated?

### Additional information

As noted in https://

[2022-09-19 03:23] jsoref commented on #17748
Hmm, I kinda wish I had left a breadcrumb. My current adventure involves setting `runs-on` and not `matrix`. I'm not sure offhand how to search my GitHub activity to find one.

I think it's best to ask someone else to work on this, I'm going to be very busy for the next month and really won't have time to work on this (or any of the other items I'm filing).

[2022-09-19 04:57] vgrl commented on #19355
Hey @jsoref I've talked with the team about your most recent feedback on this issue, and we've decided to continue the discussion about these doc updates internally. Thanks so much for sharing your explanations and experience ✨. FWIW, the `action:` dropdown suggestions for the audit log keys (that are available to search) is something the team is currently improving. Since I have copied the detail

[2022-09-19 04:57] #19355 closed

[2022-09-19 14:37] cmwilson21 commented on #20701
👋 @jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-19 14:43] cmwilson21 commented on #17748
Sounds great then, thanks for letting me know. 👍

[2022-09-19 18:54] cmwilson21 commented on #20679
@AlexShanTE Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-19 20:27] simpsoka opened #20711 "Hover states make the content very difficult to see"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

This affects the main navigation plan and language toggles, so I believe it will show up for the majority of pages on docs.github.com including the main landing page.

### What changes are you

[2022-09-19 21:51] #19959 closed

[2022-09-19 22:32] BONDD0007 opened #20713 "w"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

# The largest heading
## The second largest heading
###### The smallest heading

### What part(s) of the article would you like to see updated?

db

### Additional information

öbn

[2022-09-19 22:32] #20713 closed

[2022-09-20 03:53] s7m4b4 opened #20720 "Incorrect link on About remote repositories page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/getting-started-with-git/about-remote-repositories

### What changes are you suggesting?

Under the _Cloning with SSH URLs_ header, `Authorizing an SSH k

[2022-09-20 04:29] #20689 closed

[2022-09-20 04:40] lucascosti commented on #20701
Thanks for this, @jsoref. It does look like it's only directly-depenendent jobs that are covered by `needs`.

You (or anyone can) can feel free to open a PR. I would suggest wording like:

[2022-09-20 08:13] janiceilene commented on #20679
Thanks so much for opening an issue @AlexShanTE! This question would be best answered by our wonderful [support team](https://support.github.com/contact) 💛 If it turns out there's anything to update in the docs, please come back and let us know!

Thank you for your interest and passion in improving the GitHub Docs 💖

[2022-09-20 08:13] #20679 closed

[2022-09-20 09:18] jules-p commented on #20202
Hi @avalonv :wave: thank you for raising this issue. I think the pertinent information already exists in the article at line 14. What I would suggest we do is to move the paragraph at line 14 into a permissions statement in the front matter, which will give it more prominence. You can read more about that here: https://github.com/github/docs/blob/main/contributing/content-model.md#permissions-stat

[2022-09-20 09:26] #19184 closed

[2022-09-20 09:26] #19185 closed

[2022-09-20 16:39] Verisimilitude11 commented on #20426
Do you need any additional information?

[2022-09-20 16:51] cmwilson21 commented on #20711
@simpsoka Thank you for opening this issue! We have logged this internally and are working on it. We really appreciate you taking the time to create an issue and upload the gif file. I'm going to go ahead and close this issue now. 💛

Feel free to open another if you come across any more improvements. Thanks for your interest in improving the docs! ⚡

[2022-09-20 16:51] #20711 closed

[2022-09-20 17:05] cmwilson21 commented on #20720
@s7m4b4 Thanks for opening an issue and linking it to your PR! ✨

[2022-09-20 17:13] cmwilson21 commented on #20426
@Verisimilitude11 Thanks for checking in on this. It's is on our board and waiting for review. We appreciate your patience as we are working through our backlog 💛

Just to clarify, you are requesting an update on the screenshots present in this article, correct?

[2022-09-20 18:08] EncasedAmber commented on #19568
Thank you all very muxh5

[2022-09-21 09:24] kristofferlund opened #20741 "The -K and -A flags are deprecated"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent#adding-your-ssh-key-to-the-ssh-agent

### What changes are you s

[2022-09-21 09:44] NightPlow opened #20744 "github-event-types.md shows invalid attribute name"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types#event-object-common-properties

### What changes are you suggesting?

## Context

The doc shows a non-existi

[2022-09-21 13:19] cmwilson21 commented on #20741
@kristofferlund Thanks for opening an issue and linking it to your PR! ✨

[2022-09-21 13:25] cmwilson21 commented on #20741
Closed via [PR comment](https://github.com/github/docs/pull/20743#issuecomment-1253707190)

[2022-09-21 13:27] cmwilson21 commented on #20744
@NightPlow Thank you for opening an issue and linking it to your PR! ✨

[2022-09-21 17:46] #17905 closed

[2022-09-21 18:56] janiceilene commented on #20546
@vedantsinghania05 Thanks so much for opening an issue! I've spoken with the team and this isn't something we're going to add to the docs 💛

Thank you for your interest and passion in improving the GitHub Docs ✨

[2022-09-21 18:57] #20546 closed

[2022-09-21 19:17] rachaelrenk commented on #20656
👋  @CapitainFlam - thank you for opening this issue! The inline icon in step 7 can be updated with this Octicon:

`{% octicon "file-diff" aria-label="The file diff icon" %}`

You, or anyone else, are welcome to replace the icon in the reusable and submit a pull request for this change.

[2022-09-21 19:24] jc-clark commented on #20426
👋 ✨ Great catch, @Verisimilitude11! Thank you for this issue and the effort to keep the docs updated. You, or anybody else, are welcome to submit a pull request updating the screenshots with current ones following our contributing guide for images and versioning:

https://github.com/github/docs/blob/main/contributing/images-and-versioning.md

[2022-09-21 20:27] CapitainFlam commented on #20656
@rachaelrenk Thank you for the icon !

@cmwilson21 Oupsy ! the file still contains many pointers, I still can not modify neither `(3) On the pull request, click _icon_ Files changed. ` nor `(7) Optionally, to suggest a specific change to the line or lines, click _icon_, then edit the text within the suggestion block. ` of the [page](https://docs.github.com/en/pull-requests/collaborating-with-pull-

[2022-09-21 20:29] CapitainFlam commented on #20656
Todo :
- [ ] correct icon in (3) On the pull request, click _icon_ Files changed.
- [ ] correct icon in (7) Optionally, to suggest a specific change to the line or lines, click _icon_, then edit the text within the suggestion block.

[2022-09-21 21:08] #20720 closed

[2022-09-21 22:05] CapitainFlam opened #20761 "Good 'contributing' *.md contents is not shown ?!"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

I think that :
https://github.com/github/docs/blob/main/README.md
or
https://github.com/github/docs/blob/main/contributing/README.md
should be improved as described below

### What part(s) of

[2022-09-21 22:50] Msalgado1988 opened #20762 "Per these docs we should be able to add callouts to markdown files."
Per these docs we should be able to add callouts to markdown files.

https://github.com/github/docs/blob/main/contributing/content-style-guide.md#callouts

[code]

But in my usage it shows this text as is; no callout or formatting. See gist:

https://gist.github.com/samuelneff/eac051f64b15b635811b5ee1149eeb51

Am I doing something wrong? Are the docs wrong? Does this only work in certain contexts?

[2022-09-22 05:25] LRANUL commented on #18206
This issue hereby is closed, with the internal engineering team taking over for revising and making a further improved version of this feature.

GitHub Team, thank you for looking unto the issue and improving the overall GitHub user experience.

REF: [PR 18207](https://github.com/github/docs/pull/18207)

[2022-09-22 05:25] #18206 closed

[2022-09-22 05:51] ROKONUJJAMA commented on #20761
https://www.fiverr.com/share/646D9b

[2022-09-22 05:52] ROKONUJJAMA commented on #20744
https://www.fiverr.com/share/646D9b

[2022-09-22 07:54] #19096 closed

[2022-09-22 09:05] billythekid opened #20769 "Add information about what happens with Gists after a username change"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/changing-your-github-username

### What part(s) of the

[2022-09-22 11:36] Vero5025 commented on #20769
Dykggjllh. Xxc j

[2022-09-22 11:38] Vero5025 opened #20772 "Gsf4tg"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

![Screenshot_20220922_032603_com android chrome](https://user-images.githubusercontent.com/109724257/191736729-cec1cac3-2938-47c0-a564-f9cfc7f48dd9.jpg)

### What changes are you suggesting?

[2022-09-22 11:38] #20772 closed

[2022-09-22 14:31] cmwilson21 commented on #20769
@billythekid Thank you for opening an issue and linking it to your PR! ✨

[2022-09-22 18:00] cmwilson21 commented on #20656
👋 @CapitainFlam - Glad you found the reusables and that you were able to update them. We appreciate you taking the time to dig through and contribute!

[2022-09-22 18:34] #20744 closed

[2022-09-22 19:49] #20508 closed

[2022-09-22 20:51] christian-bromann opened #20784 "Explain how someone can sign the GitHub Marketplace Developer Agreement"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?
https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace

https://docs.github.com/en/site-policy/github-terms/github-marketplace-developer-agreement

### Wha

[2022-09-22 20:58] christian-bromann commented on #20784
To clarify: the experience for someone who is __not__ org admin can be improved here because I had nothing I could send to the admin for them to sign. Apparently only if the admin tries to draft a release, the agreement warning is a link which opens the right form.

[2022-09-23 05:31] bomturbo opened #20789 "....."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/projects/2#card-61800482

### What part(s) of the article would you like to see updated?

888

### Additional information

8888

[2022-09-23 05:31] #20789 closed

[2022-09-23 07:48] wonsuchai opened #20790 "Labels content"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Beta
You're using an [issue form](https://docs.github.com/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issu

[2022-09-23 07:48] #20790 closed

[2022-09-23 13:15] cmwilson21 commented on #20762
@Msalgado1988 Thanks for opening an issue and discussion!

The syntax for callouts includes a `%` where the `*` appears in your example. However, please note that the style guide referenced in your issue is specifically for contributing to the Docs repo. These callouts are customized for use in the Docs and won’t work in gists or Markdown files outside of the repo.

Hope that clarifies some things

[2022-09-23 13:15] #20762 closed

[2022-09-23 13:56] yanyongyu opened #20795 "Issue event `assigned` does not have `assigner`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#assigned

https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types#unassigned

###

[2022-09-23 15:48] cmwilson21 commented on #20784
@christian-bromann Thanks for opening an issue! If you need immediate support, please reach out to our awesome [support team](https://support.github.com/request). Also, I've made a small edit to your post to include the link to the "[Publishing actions in GitHub Marketplace](https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace)" article for reference.

I'll

[2022-09-23 16:03] cmwilson21 commented on #20795
@yanyongyu Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-23 16:27] cmwilson21 commented on #20656
Great question! As far as I know, there's no official guideline for how to highlight screenshots. We are currently discussing this practice internally, so don't worry about updating this image at this time. However, we do appreciate your willingness to do so!

If you'd like to find more ways to contribute, please take a look at our [help wanted](https://github.com/github/docs/issues?q=is%3Aopen+is

[2022-09-23 16:37] #20656 closed

[2022-09-23 18:10] skedwards88 commented on #20795
Thanks for this issue! You or anyone else is welcome to open a PR to correct this.

[2022-09-23 18:49] cmwilson21 commented on #20654
👋 @pawanks84 This question would best be handled by our awesome [support team](https://support.github.com/request). I'm sure they can help. Please reach out to them.

Thanks again for opening an issue. I'm going to close it now 💛

[2022-09-23 18:49] #20654 closed

[2022-09-23 20:05] CapitainFlam commented on #20289
As it is labeled **HELP WANTED**, PR is in progress. Wait for it.

[2022-09-23 22:16] gitstua opened #20810 "AE documentation should be clarified to include repo size limits"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/github-ae@latest/repositories/working-with-files/managing-large-files/about-large-files-on-github#removing-files-from-a-repositorys-history

### What part(s) of the

[2022-09-23 23:00] yuvraj9 opened #20812 "Fix API in document"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/branches/branch-protection#remove-status-check-contexts

### What part(s) of the article would you like to see updated?

The API in document has wrong content s

[2022-09-24 20:02] SpencerMarcu opened #20851 "Spencer Marcu"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

@SpencerMarcu

### What part(s) of the article would you like to see updated?

#19808 @SpencerMarcu

### Additional information

Songs
Videos
About
Play
Interviews
News
Articles
Products
Album

[2022-09-24 20:02] #20851 closed

[2022-09-24 20:24] Asawako2017 opened #20852 "body fitness and proper work out"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

You will learn how to build beautifull  body and i will show how to build proper masel ph your body..

### What part(s) of the article would you like to see updated?

After you work hard and w

[2022-09-25 02:05] syhk opened #20853 "Comment module bug"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

If I click the comment button together, it keeps appending the same and the input sometimes fails

### What part(s) of the article would you like to see updated?

![1664071263087](https://user

[2022-09-25 03:13] yanyongyu commented on #20795
Hi, i have just created a pull request for this prop removing.

[2022-09-25 03:36] softcode589 opened #20855 "Document new time zones feature"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile

### What part(s) of the article would you like t

[2022-09-25 20:47] jsoref opened #20872 "`reportingDescriptor` `name` should mention pascal style constraint"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning#reportingdescriptor-object

### What part(s) of the article would you like

[2022-09-25 20:49] jsoref opened #20873 "sarif-support-for-code-scanning should explain how each field is surfaced"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning

### What part(s) of the article would you like to see updated?

For each

[2022-09-25 23:56] #20701 closed

[2022-09-26 08:12] felicitymay commented on #20289
Many thanks @CapitainFlam 💖

I'm reviewing your pull requests. When they are both merged, this issue will be closed automatically. 🚀

[2022-09-26 08:20] #20289 closed

[2022-09-26 12:09] CapitainFlam commented on #20795
Sorry, I'm just a newbie here, but I don't catch why I can find `assigner` in the document, but NOT the same call/event. Are we speaking of the same thing ?!

source : https://raw.githubusercontent.com/github/rest-api-description/main/descriptions-next/github.ae/github.ae.json

...I'm not aware enough to know if the source is correct.
But definively, if `timeline-assigned-issue-event` doesn't show

[2022-09-26 12:34] cmwilson21 commented on #20810
👋 @gitstua Thank you for opening an issue and linking it to your PR! ✨

[2022-09-26 12:44] cmwilson21 commented on #20812
@yuvraj9 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-26 12:47] yanyongyu commented on #20795
I just tested for the diff between timeline events and issue events. The timeline api does not return the `assigner` but the issue events api does. Maybe we should change the comment?

But, why timeline events api does not return the `assigner`?

[2022-09-26 13:09] #20852 closed

[2022-09-26 13:36] cmwilson21 commented on #20872
👋 @jsoref - Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-26 13:40] cmwilson21 commented on #20873
👋 @jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-26 14:02] CapitainFlam commented on #20795
That's something I am unable to solve, as I didn't manage to go deeper, but I sure we should have an answer from dev. team before going further about the documentation 🤣 !

Thank you for having done tests 👍

[2022-09-26 15:28] cmwilson21 commented on #20855
@softcode589 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-26 16:17] skedwards88 opened #20890 "Remove `<em>` tags from code examples"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

All code examples that include `<em>` tags to emphasize text. For example:

[code]

### What part(s) of the article would you like to see updated?

The `em` tag does not render correctly if yo

[2022-09-26 21:34] #18753 closed

[2022-09-26 23:24] skedwards88 commented on #20795
Thanks for digging into this! ✨ You are correct that the Issue events API response includes `assigner` but the Timeline events API does not. In that case, I think you can amend the PR to include this (I left a comment on https://github.com/github/docs/pull/20854 ).

[2022-09-27 00:00] yanyongyu commented on #20795
Thx for the suggestion. I just applied the change.

[2022-09-27 06:07] yanyongyu opened #20908 "Issue event: `converted_to_discussion`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/events/issue-event-types

### What part(s) of the article would you like to see updated?

Current issue events docs do not include the

[2022-09-27 12:14] timja opened #20912 "Add `ssh-add` requirement for ssh commit signing"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key

### What part(s) of the article would you like to see updated?

Add steps o

[2022-09-27 13:34] cmwilson21 commented on #20908
@yanyongyu Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-27 13:55] #20795 closed

[2022-09-27 14:26] cmwilson21 commented on #20853
@syhk - Thanks for opening this! This seems like it would be a better fit for our wonderful support team. Please [file a bug report](https://support.github.com/contact/bug-report) with all the information you've provided.

I'm going to go ahead and close this issue now. Thank you 💛

[2022-09-27 19:13] skedwards88 commented on #20908
Thanks for opening this issue! You or anyone else is welcome to open a PR to address this.

[2022-09-27 20:12] sabrowning1 commented on #20855
Hi @softcode589, thanks for bringing this to our attention! We've started work on this internally, so I'll go ahead and close this issue now. We appreciate your help in maintaining our docs! ✨

[2022-09-27 20:12] #20855 closed

[2022-09-27 21:07] skedwards88 commented on #15382
It looks like the docs are incorrect and an object should be expected. Below is the full schema for this object (YAML format):

[code]

[2022-09-28 02:08] #20540 closed

[2022-09-28 02:13] cmwilson21 commented on #7044
👋 Thanks all for the feedback in this issue. I spoke with the team and we are going to work on this internally. So I'm going to go ahead and close this issue.

Thanks again! 💛

[2022-09-28 02:13] #7044 closed

[2022-09-28 02:34] #17752 closed

[2022-09-28 05:25] #20769 closed

[2022-09-28 07:07] hydaryali466gmailcom opened #20948 "hydaryali466gmailcom-patch-1"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

curl --request GET \
     --url https://api.testwyre.com/v3/users/US_X3RCVXREFCA/onboarding \
     --header 'Accept: application/json' \
     --header 'Authorization: Bearer null'

### What pa

[2022-09-28 07:07] #20948 closed

[2022-09-28 07:09] hydaryali466gmailcom opened #20949 "hydaryali466gmailcom-patch-1"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[9123249427_8.knsw (3).txt](https://github.com/github/docs/files/9662373/9123249427_8.knsw.3.txt)
[stellar-export (1).csv](https://github.com/github/docs/files/9662376/stellar-export.1.csv)
[e

[2022-09-28 09:00] felicitymay commented on #20872
Thanks for flagging this @jsoref - much appreciated.

I'm going to tag this for an SME to take a look and advise on this. Then we'll add update the issue summary with details of the content changes needed.

[2022-09-28 09:03] felicitymay commented on #20873
Hi @jsoref - thanks for opening this issue. You're right. We did intend to describe how each field was surfaced but it sounds as if there may be some changes needed here.

I'm wondering if you have a SARIF file that you've been using for testing this that you're able to share?

[2022-09-28 11:46] jsoref commented on #20873
One is available as an artifact here: https://github.com/jsoref/retrobot/actions/runs/3141644977

I don't really have one, as I'm iterating my tooling as I go. But, they're more or less all the same. I'm still deciding how things should work, e.g. should I omit rules that are not used by a report? I'm leaning towards doing that, but I haven't yet. And I'm also trying to decide if I should make it

[2022-09-28 13:12] felicitymay commented on #20873
That's a good point.

The new sections from [Providing data to track code scanning alerts across runs](https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning#providing-data-to-track-code-scanning-alerts-across-runs) to "Validating your SARIF file" were added to give guidelines for common problems that people have run into while creatin

[2022-09-28 14:00] jsoref commented on #20873
Fwiw, there are some whitespace issues with the examples at the bottom, missing commas and literally odd numbers of spaces for indenting at times.

[2022-09-28 14:33] #20256 closed

[2022-09-28 14:57] cmwilson21 commented on #20912
@timja Thanks for opening an issue! ✨

I _think_ this is covered in the PR you are referencing, but I'm going to triage this for review to make sure.

Thanks for your interest in improving our docs!

[2022-09-28 15:27] timja commented on #20912
It's not as far as I know, it's just handling MacOS changing -K to a different arg.
This is another step needed for this page specifically: https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key

[2022-09-28 15:48] runningcode opened #20962 "Drafting an issue via `curl` uses non-escaped `"` marks"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects#adding-a-draft-issue-to-a-project

### What changes are you sugge

[2022-09-28 17:37] cmwilson21 commented on #20912
Gotcha. Thank you for clarifying!

[2022-09-28 20:35] mlschechter opened #20970 "Improve descriptions of job/workflow permissions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

The following documentation pages are affected:
- https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
- https://docs.github.com/en/actions/using-workflows/workflow-synt

[2022-09-28 20:50] codewithdev commented on #20890
Picking this up. Happy to work on this too.

[2022-09-28 21:25] #9432 closed

[2022-09-29 01:46] Wanath opened #20973 "> I think this is covered in the PR you are referencing"
It's not as far as I know, it's just handling MacOS changing -K to a different arg.
This is another step needed for this page specifically: https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key

_Originally posted by @timja in https://github.com/github/docs/issues/20912#issuecomment-1261083024_

https://github.com/github/docs/issues/209

[2022-09-29 12:44] jsoref opened #20989 "Document permission required to `approve` ✅ a pull request"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization#permissions-for-each-role

### What part(s) of the article woul

[2022-09-29 14:30] eagleicatcher commented on #20989
![Uploading Screenshot_2022-09-22-20-21-22-37_40deb401b9ffe8e1df2f1cc5ba480b12.jpg…]()

[2022-09-29 14:40] cmwilson21 commented on #20962
@runningcode Thank you for opening an issue and linking it to your PR! ✨

[2022-09-29 14:43] cmwilson21 commented on #20970
@mlschechter Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-29 14:47] #20973 closed

[2022-09-29 14:50] cmwilson21 commented on #20989
👋 @jsoref - Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-09-29 16:49] mattpollard commented on #9240
We've since documented this process for Azure, but not for Google Cloud Platform. I've adjusted the title and description to reflect that! 🔍

[2022-09-29 17:11] skedwards88 commented on #20890
Good question, @codewithdev . It looks like there are only ~5 places where this happens. I think we can replace the URL with `URL`. In the text preceding the example, we can say something like "Replace `URL` with the URL of your repository. For example, `https://github.com/octo-org/octo-repo`."

[2022-09-29 17:13] codewithdev commented on #20890
Got it. Thanks @skedwards88 i will make changes accordingly. 🙌

[2022-09-29 20:06] cmwilson21 commented on #139
👋 Thanks all for the feedback in this issue. I spoke with the team and we are going to work on this internally. So I'm going to go ahead and close this issue.

Thanks again! 💛

[2022-09-29 20:06] #139 closed

[2022-09-29 20:52] CapitainFlam commented on #20795
🎉 Glad I could help 😸

[2022-09-29 22:28] 99Edorde commented on #20989
my

[2022-09-30 03:51] #17791 closed

[2022-09-30 21:10] cmwilson21 commented on #20631
@antdking Thanks for bringing this up! I spoke with the team and we'd be happy to accept this change and an additional edit:

1. Add the two two lines highlighted above.
2. Change the paragraph right above the call out and below the title to say
[code]

You, or anyone else, are welcome to submit a PR with this change.

[2022-09-30 21:19] cmwilson21 commented on #15324
👋 @mungojam - Just checking in on this one. Are you able to make a PR based on your [latest comment](https://github.com/github/docs/issues/15324#issuecomment-1113718633) above?

[2022-09-30 21:27] mungojam commented on #15324
Sorry, I only really have time for doing small documentation tweaks in PRs, or code changes. My skills at writing clear English docs aren't great so it takes me ages (despite being English!).

Though on this topic, I note the new additions that allow for the org. name to be included in the audience and also the ability to set custom claims in the `sub` field. Both are steps in the right direction

[2022-09-30 21:31] #20413 closed

[2022-09-30 23:28] #19156 closed

[2022-10-01 12:53] rlespinasse opened #21020 "Add GPG format git configuration on GPG setup"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key

### What part(s) of the article would you like to see updated?

https://doc

[2022-10-01 15:17] 99Edorde commented on #12063
...

[2022-10-02 05:22] billybob3659 commented on #17658
Yeah, I'm bout to take sure. Just threw up.
github/docs

________________________________
From: Estelle544 ***@***.***>
Sent: Friday, May 6, 2022, 5:20 AM
To: github/docs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [github/docs] Investment (Issue #17658)

Code of Condu

  *    I have read and agree to the GitHub Docs project's Code of Conduct<https://github.com/github/docs/blob/main/CODE_OF_

[2022-10-02 13:10] 99Edorde commented on #18778
Good ladi.[](url)

[2022-10-02 18:25] keonglee1978 opened #21038 "capital gains"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-10-02 18:25] #21038 closed

[2022-10-03 03:52] notsosimppole commented on #17748
Hey, I would like to work on this but I didn't quite get the type of example one would be looking for here.

[2022-10-03 04:08] jenniferabowd commented on #20761
If you all want me to work on this, I'm happy to pick up this issue.

[2022-10-03 04:12] jsoref commented on #17748
The general idea would be a dynamic matrix where one phase produces binaries and a second phase tests them.

[2022-10-03 12:01] CapitainFlam commented on #20761
I have no power here, but furthermore I have no knowledge... So i'd be happy to support you and give you my feedback, as I can't do it myself, as a noob in GitHut environment  & usages. 😅

Thanks in advance for your help.

[2022-10-03 20:48] codewithdev opened #21060 "Remove $ sign from code examples to avoid prompting errors/Improve the Docs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

All docs pages where `shell` includes `$` (wherever applicable).

<img width="756" alt="image" src="https://user-images.githubusercontent.com/44609609/193677441-cb825e59-4c24-4f12-83c4-aaf3e1a

[2022-10-04 03:40] #20456 closed

[2022-10-04 03:51] MakendranG commented on #10788
Hi @skedwards88 / @ramyaparimi

I am interested in this issue. Can you plz assign me?

[2022-10-04 04:37] SandeSanthosh commented on #21060
Which File Bro ?

[2022-10-04 07:12] vicodevv commented on #21060
I would love to work on this

[2022-10-04 16:04] #20890 closed

[2022-10-04 21:18] #20810 closed

[2022-10-04 23:57] jc-clark opened #21089 "Some cURL examples have non-escaped `"` marks"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/issues/planning-and-tracking-with-projects/automating-your-project/using-the-api-to-manage-projects#adding-a-draft-issue-to-a-project

### What part(s) of the articl

[2022-10-05 00:08] #20962 closed

[2022-10-05 01:46] 0xcompton90 opened #21091 "run-name: ${{github.actor}} is learning GitHub actions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

#
#       “_1ISSUE_!”
((_https://Github-docs-github.com/run-name:${{github.actor}} is learning GitHub Actions._))
“_Should be more specific and better instructed. Also there shouldn’t be a spa

[2022-10-05 03:06] Lemmingh commented on #18321
I'm afraid I don't understand.

**Describing an "associative array" as "hash" is definitely *wrong*.**

## It violates established terms in computer science

A sane data structure textbook would define the term "hash" as:

* (NOUN) A value produced by a hash function.

* (VERB) To calculate a hash value.

A textbook would say:

Given that "associative array" is cryptic for those without computer s

[2022-10-05 03:14] Lemmingh commented on #18321
In short, you **cannot** say a **wrong** term is *better* than a **correct** term.

[2022-10-05 06:07] 0xcompton90 commented on #21091
# @Snyk-Bot  🤖👍🏻💯!!

[2022-10-05 07:43] #18052 closed

[2022-10-05 15:33] #21091 closed

[2022-10-05 16:33] dangardner opened #21108 "New secret scanning public key has not been published to API"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/overview/secret-scanning-partner-program#create-a-secret-alert-service

### What part(s) of the article would you like to see updated?

The change in http

[2022-10-05 16:34] Maurijp opened #21109 "Mauricioavendano01@gmail.com"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-10-05 17:11] subatoi commented on #21060
Thanks so much for raising an issue, @codewithdev! I agree this isn't a good experience as it currently is. As it happens we're already looking at this precise issue internally and it's being discussed within the team, so I'll close this issue out.

Thank you for your interest and passion in improving the GitHub Docs :sparkling_heart:

[2022-10-05 17:11] #21060 closed

[2022-10-05 17:51] Maurijp opened #21112 "Documentos rfc"
https://www.rfc-editor.org/rfc/rfc5378.txt

[2022-10-05 17:51] #21112 closed

[2022-10-05 17:59] victorlin opened #21113 "workflow_dispatch contains branch-specific wording"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#workflow_dispatch

### What part(s) of the article would you like to see updated?

Wording under `workflow_disp

[2022-10-05 18:03] Maurijp opened #21115 "Fidecomiso"
https://www.rfc-editor.org/rfc/rfc5378.txt

[2022-10-05 18:03] #21115 closed

[2022-10-05 18:03] Maurijp opened #21116 "Fi"
https://www.rfc-editor.org/rfc/rfc5377.txt

[2022-10-05 18:03] #21116 closed

[2022-10-05 18:10] Maurijp opened #21118 "Dere"
https://creativecommons.org/licenses/by/4.0/legalcode#s2a1

[2022-10-05 18:11] #21118 closed

[2022-10-05 18:16] Maurijp opened #21119 "https://github.com/licensee/licensee/blob/16b2bf8e2fab709bec87d3ea84650e6b8c4410d0/docs/README.md"
https://raw.githubusercontent.com/licensee/licensee/master/docs/README.md

[2022-10-05 18:16] #21119 closed

[2022-10-05 19:10] repo-auditing-bot[bot] opened #21121 "Branch Protections Audit - 2022-10-05T18-41-55-524"
# Action Items
This repo has been audited as a production component. Please respond in 4 weeks.

This repo was found missing [required](https://thehub.github.com/security/policy-desk/standards/repository-security-baseline-configuration-standard/) branch protections:
[code]
If this audit is incorrect, or this repo does not need the outlined branch protections please file for an exception [here](htt

[2022-10-05 19:33] #20426 closed

[2022-10-05 20:11] Maurijp opened #21123 "Ip"
https://raw.githubusercontent.com/Jong0504/ALSA/master/source/pcm.c

[2022-10-05 20:11] #21123 closed

[2022-10-05 20:12] Maurijp opened #21124 "Ip"
https://raw.githubusercontent.com/Jong0504/ALSA/master/audio_file/out_u8_48000_1.raw

[2022-10-05 20:13] #21124 closed

[2022-10-05 22:26] Franqsanz opened #21126 "Translate a sidebar area in the spanish version"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Hello, I have seen that there is an area of ​​the sidebar that is not translated into Spanish, I leave you a screenshot:

![Captura de pantalla 2022-10-05 191051](https://user-images.githubuse

[2022-10-05 22:54] Maurijp opened #21128 "Código Legal Creative Commons"
https://creativecommons.org/licenses/by-sa/3.0/legalcode

[2022-10-05 22:55] Maurijp opened #21129 "Código Legal Creative Commons"
https://creativecommons.org/licenses/by-sa/3.0/legalcode

[2022-10-05 23:00] Maurijp opened #21130 "Recuperación de la cuenta"
https://accounts.google.com/signin/challenge/pwd/1?TL=AB_wV5qOBoxm8uTTnOq9gxRYoYT-yuWe_UmR0gbFvnxYGtfB4fUND1UUG4xGUdmv

[2022-10-05 23:12] jc-clark commented on #19023
Hey @gsrohde, thank you for contributing to this. Our team took a closer look at the articles you linked and the scenario you're describing and we agree. The documentation could use some improvements.

Overall, local actions must be a relative path (`./`). The path must be relative to the default working directory (`github.workspace`, `$GITHUB_WORKSPACE`). And if the action checks out a repository

[2022-10-05 23:47] Maurijp opened #21132 "BRENDA Enzyme Database - Archivo de descarga JSON"
https://www.brenda-enzymes.info/schemas/docs/1.0.0/brenda.schema.html#data

[2022-10-06 01:08] Maurijp commented on #21130
[]()

[2022-10-06 03:50] Maurijp opened #21135 "Id account"
https://github.com/github/docs/commit/e6d239e419cef5bdbc064f7a66a4ceef34b9282b

[2022-10-06 03:50] #21135 closed

[2022-10-06 04:22] Maurijp opened #21137 "Insert Subject here"
Connection

[2022-10-06 14:07] #21137 closed

[2022-10-06 14:08] #21132 closed

[2022-10-06 14:09] #21129 closed

[2022-10-06 17:31] stephenskett opened #21151 "Clarify instructions for updating EOL's of repo HEAD"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

["Configuring Git to handle line endings"](https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings)

### What part(s) of the article would you li

[2022-10-06 18:11] scottdickerson opened #21156 "GITHUB_TOKEN does not have the correct rights to publish to private repos"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry#authenticating-with-a-personal-access-token

### What changes are you suggesting?

We

[2022-10-06 19:03] docs-bot opened #21159 "[Improvement]: Add link to Copilot docs in Using GitHub Copilot in GitHub Codespaces"
### Is this issue for a product update or release that is not yet available to customers?

No? Then please continue. Thank you!

### What article(s) is affected?

https://docs.github.com/en/codespaces/codespaces-reference/using-github-copilot-in-github-codespaces

### Describe the desired docs changes and the problem they solve for customers.

As the article is about using Copilot in codespaces, i

[2022-10-06 20:30] victorlin opened #21165 "Incorrect comment on GitHub Actions example"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/dependabot/working-with-dependabot/keeping-your-actions-up-to-date-with-dependabot

### What part(s) of the article would you like to see updated?

htt

[2022-10-06 20:47] steveward commented on #21156
Thanks for the issue @scottdickerson! I'll get this triaged for review.

[2022-10-06 22:41] jsoref commented on #20912
I was just about to file a bug about this.

It is not remotely obvious that I had to run an `ssh-agent`.

https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key#telling-git-about-your-ssh-key

Has a throwaway section:

It does not say:

Note that the linked article is `Generating a new SSH key and adding it to the ssh-agent`. There is no

[2022-10-06 22:53] jsoref opened #21169 "Add documentation for how to get ssh signed commits verified"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/managing-commit-signature-verification/displaying-verification-statuses-for-all-of-your-commits

### What part(s) of the article would you like to see

[2022-10-07 01:50] #21020 closed

[2022-10-07 01:58] #20908 closed

[2022-10-07 03:15] bpires commented on #21089
Hey @avincodes! As a general rule, GitHub team members _"don’t assign issues to anyone. If you find an issue to work on, you are welcome to open a PR with a fix."_ Check the [contributing guide](https://github.com/github/docs/blob/main/CONTRIBUTING.md#solve-an-issue).

[2022-10-07 09:05] dhruv-porwal opened #21173 "Create personal access token link is broken."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Sir/Ma'am  kindly assign this task to me.

### What part(s) of the article would you like to see updated?

Create personal access token.

### Additional information

Link is broken.

[2022-10-07 11:00] jsoref commented on #21126
fwiw, https://github.com/github/docs/blob/main/contributing/types-of-contributions.md#earth_asia-translations

[2022-10-07 11:07] jsoref commented on #18321
The actions documentation uses `Map`:
https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions

[2022-10-07 12:52] #21165 closed

[2022-10-07 13:56] subatoi commented on #21173
Hi @dhruv-porwal, thanks for opening an issue. From [your PR](https://github.com/github/docs/pull/21172) it looks like you're suggesting the broken link in question is "[Creating a personal access token](https://docs.github.com/en/enterprise-cloud@latest/github/authenticating-to-github/creating-a-personal-access-token)" at the bottom of https://docs.github.com/en/enterprise-cloud@latest/authentica

[2022-10-07 14:24] dhruv-porwal commented on #21173
what is the reason for this error then?
 at link:

https://github.com/github/docs/blob/main/content/authentication/authenticating-with-saml-single-sign-on/authorizing-a-personal-access-token-for-use-with-saml-single-sign-on.md

The two highlighted links are showing error 404

On Fri, 7 Oct 2022, 19:34 Dhruv Porwal, ***@***.***> wrote:

[2022-10-07 14:33] subatoi commented on #21173
I see: the link you've shared is viewing the rich text preview of our docs in Markdown, in the repository that's used for the content served at docs.github.com.

The link you highlighted as broken in your PR Is automatically set to redirect as part of the static site build for docs.github.com, which is why a 301 is returned as expected. However, you're right that when viewing this in the repo itse

[2022-10-07 14:34] dhruv-porwal commented on #21173
Thank you for the clarification.

On Fri, 7 Oct 2022, 20:03 Ben Ahmady, ***@***.***> wrote:

[2022-10-07 14:36] subatoi commented on #20989
Hi @jsoref, thanks for raising this! I just wanted to update you that I'm investigating this internally, and I'll get back to you as soon as I have something substantive.

[2022-10-07 14:38] steveward commented on #21126
Thanks for the issue @Franqsanz. Unfortunately, we are not able to accept changes for translated content. Our translation process involves an integration with an external service, where all translation activity happens. I'm going to close this out.

[2022-10-07 14:38] #21126 closed

[2022-10-07 14:43] subatoi commented on #19628
Hi @nairb774, I just wanted to circle back to say that a relevant change has been made under the description for https://docs.github.com/en/rest/orgs/webhooks#create-an-organization-webhook. Thank you for your interest and passion in improving the GitHub Docs :sparkling_heart:

[2022-10-07 14:45] steveward commented on #21169
Thanks @jsoref, I'll get this triaged for review.

[2022-10-07 14:46] Franqsanz commented on #21126
I understand, thank you very much.

[2022-10-07 14:48] #21173 closed

[2022-10-07 17:59] jc-clark commented on #21089
Hey @avincodes! Thank you for asking ❤️

Normally I would say "yes" since this seems like a quick fix and a perfect issue to welcome more Open Source contributors for our documentation. But it looks like @progfay started a pull request for this fix over in https://github.com/github/docs/pull/21133.

Let us know if/when you find any other issues or improvements you'd like to make to our documentati

[2022-10-07 19:27] ArkaprabhaChakraborty commented on #10788
Can I add it? :) if @klinki isn't making a PR then I can work on this :).

[2022-10-07 19:31] ArkaprabhaChakraborty commented on #698
Can I work on this too? I do need a headstart on what I should be doing.

[2022-10-07 20:01] #19282 closed

[2022-10-07 21:25] Alotibi11 commented on #19282
T

[2022-10-07 21:37] Alotibi11 commented on #19282
K

[2022-10-07 23:29] #21159 closed

[2022-10-08 00:43] ab22ht opened #21199 "Stefano Gambelli"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-10-08 00:43] #21199 closed

[2022-10-08 01:28] Alotibi11 commented on #21089
M

[2022-10-08 02:05] softcode589 opened #21202 "Discussions should be indicated in save replies about doc"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/writing-on-github/working-with-saved-replies/about-saved-replies

### What part(s) of the article would you like to see updated?

The following (emphasiz

[2022-10-08 03:59] aspaninks opened #21207 "Labels with periods do not render"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls#labels

### What part(s) of the article would you like to see updated?

[2022-10-08 06:34] avincodes commented on #21089
Perfect thank you for the response @jc-clark!

[2022-10-08 07:52] atreeon opened #21210 "The menu nor breadcrumb works on a mobile phone view"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

all

### What changes are you suggesting?

show the breadcrumb and the menu when viewing the docs on a mobile phone

### Additional information

If I'm viewing the github docs on a mobile phon

[2022-10-08 11:28] Ghalbeyou opened #21213 "Add persian/farsi language to the document"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

all

### What changes are you suggesting?

Add persian language support

### Additional information

_No response_

[2022-10-08 20:41] schalkneethling opened #21218 "a11y: the colour of the TOC does not meet colour contrast"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

All articles with a TOC.

### What changes are you suggesting?

Recently, I think in the last two weeks, the colour of the links in the "In this article" section has changed to light gray. Thi

[2022-10-09 00:59] raiiih commented on #21213
NO

[2022-10-09 06:36] jsoref opened #21221 "Clarify behavior of `properties.security-severity` in SARIF files"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning#reportingdescriptor-object

### What part(s) of the article would you like

[2022-10-09 13:50] Gauri-AB commented on #21169
Hii ,I want to work on this issue. Thank You!!

[2022-10-09 20:33] huzaifaali14 opened #21228 "Organization Projects"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

I believe we don't have a way to fetch projects of particular organisation. We have an endpoint for classic projects https://docs.github.com/en/rest/projects/projects but couldn't find any RES

[2022-10-09 20:33] #21228 closed

[2022-10-09 20:40] huzaifaali14 opened #21229 "Organization Projects"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

I believe we don't have a way to fetch projects of particular organisation. We have an endpoint for classic projects https://docs.github.com/en/rest/projects/projects but couldn't find any RES

[2022-10-09 20:40] #21229 closed

[2022-10-10 08:03] #21089 closed

[2022-10-10 11:49] janiceilene commented on #698
👋 @ArkaprabhaChakraborty the first steps for this issue are described in https://github.com/github/docs/issues/698#issuecomment-714439503. You can use the template to create a content plan and drop it as a new comment in this issue 💖

I also just realized this was listed as a "good first issue" which isn't quite accurate, so I've removed that label 💛

[2022-10-10 15:00] cmwilson21 commented on #21207
@aspaninks Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-10 15:03] cmwilson21 commented on #21218
👋 @schalkneethling - Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-10 15:15] cmwilson21 commented on #21213
@Ghalbeyou Thanks for opening an issue! We are always working to improve our translations and their processes. I've taken your request to the team. 👍

I'm going to go ahead and close this issue now. 💛

[2022-10-10 15:52] rsese commented on #21218
We do believe it's related to Primer 👍  We have an internal issue tracking this one so I'll go ahead and close this out but thanks again for the heads up!

(fwiw, we found this happens for folks that have their OS settings set to dark mode but their github.com settings set to light mode)

[2022-10-10 15:52] #21218 closed

[2022-10-10 17:20] subatoi commented on #21108
Hi @dangardner, and thanks for opening this issue! I agree this was confusing: those values should not be hardcoded into the docs, and users should always fetch the keys from https://api.github.com/meta/public_keys/secret_scanning. We've just merged a change to https://docs.github.com/en/developers/overview/secret-scanning-partner-program#create-a-secret-alert-service, which should make this clear

[2022-10-10 17:31] #21202 closed

[2022-10-10 18:34] sabrowning1 commented on #21207
Hi @aspaninks, thanks for opening this issue! 💛 This would be a helpful addition to the docs. You or anyone others are welcome to open a PR with this change 👍🏼

[2022-10-10 18:47] dangardner commented on #21108
Thanks @subatoi. The change in https://github.com/github/docs/commit/27b28afd98287c4779dc8479ea08129f8c8d386f looks good to me. Closing.

[2022-10-10 18:47] #21108 closed

[2022-10-10 18:59] cmwilson21 commented on #21221
👋 @jsoref - Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-10 20:23] #20631 closed

[2022-10-10 21:00] arnoldchrisoduor1 opened #21255 "Typo"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

![image](https://user-images.githubusercontent.com/109024629/194951330-d7452c0a-f303-47ea-b233-c9c5b58930c4.png)

https://docs.github.com/en/get-started/importing-your-projects-to-github/impor

[2022-10-10 21:00] #21255 closed

[2022-10-10 21:34] #19166 closed

[2022-10-11 00:33] #19690 closed

[2022-10-11 06:20] janiceilene commented on #21169
👋 @jsoref Any chance you checked in with our lovely friends over it [support](https://support.github.com/contact)? If not, could you? Then we can take whatever they say and consider incorporating it into the docs!

Thanks so much for opening a thorough issue 💖

[2022-10-11 06:33] jsoref commented on #21169
I hadn't. Submitted https://support.github.com/ticket/personal/0/1828150

[2022-10-11 06:51] janiceilene commented on #16788
👋 @jsoref Sorry for the abysmally long response time, it looks like this one got a little lost! Since we document those permissions in https://docs.github.com/en/developers/overview/managing-deploy-keys#deploy-keys, you or anyone else are welcome to open a PR to add those permissions to the table!

[2022-10-11 07:07] jsoref commented on #16788
@janiceilene: thanks.

1. I looked and it appears I'm a collaborator to someone else's repository, and I can't see an edit tab, so I'm going to assume it's limited to owners.

2. I can't actually find a good page for `manage webhooks`. The `manage deploy keys` page is really for managing _deploy keys_ not webhooks. -- There's a reusable, https://github.com/github/docs/blob/main/data/reusables/spon

[2022-10-11 12:27] Anika-Roy commented on #10967
Hi! Im participating in Hacktoberfest and I'd like to know if this issue is counted in Hacktoberfest and if I can work on it?

[2022-10-11 12:29] Anika-Roy commented on #18321
Hi! Im participating in Hacktoberfest and I'd like to know if this issue is counted in Hacktoberfest and if I can work on it?

[2022-10-11 13:04] jsoref commented on #18321
I wouldn't. This appears to be waiting on the internal team.

[2022-10-11 13:10] Eknaran opened #21274 "Good day!"
Good day!
How can I fix to disable notification in a forked repository? Because of actions, there are many mentions that the "repo sync" check has dropped.

_Originally posted by @Arhell in https://github.com/github/docs/discussions/2230_

[2022-10-11 13:19] cmwilson21 commented on #18321
👋 @Anika-Roy Thanks for your willingness to work on this. As @jsoref mentioned, this one is waiting for a bit more information from our internal team. For now, I'm going to remove the `help wanted` label so it doesn't show up on our board until we've confirmed it with our team.

We are participating in Hacktoberfest! 🎃 Feel free to head over to the [help wanted board](https://github.com/github/doc

[2022-10-11 16:12] cmwilson21 commented on #21210
@atreeon Thanks again for opening this. I spoke with our team and they are aware of this issue. Since it's something we are tracking internally, I'm going to go ahead and close this issue now.

Thank you for your interest in improving GitHub Docs! :sparkling_heart:

[2022-10-11 16:12] #21210 closed

[2022-10-11 16:52] atreeon commented on #21210
oh ok (personally I'd leave it open and close when it is fixed)

[2022-10-11 19:23] #20114 closed

[2022-10-11 23:29] jsoref commented on #21169
Ok, support explained that the Key ui magically grows an extra SSH section when you add an SSH key again and choose to mark it as a signing key instead of an authentication key:

🆕 Add SSH Key option lets you pick the kind now:
<img width="725" alt="image" src="https://user-images.githubusercontent.com/2119212/195215072-fc5dbe80-4638-4672-84fd-a86a701a6797.png">

🆕 There's a new section once you'v

[2022-10-12 01:10] cmwilson21 commented on #19342
👋 Closing this issue per comment [here](https://github.com/github/docs/pull/19343#issuecomment-1275455584).

Thanks again!

[2022-10-12 01:10] #19342 closed

[2022-10-12 11:57] felicitymay commented on #21221
Hi @jsoref - I had a quick check in with the code scanning team. As you've noticed in the documentation, are three different properties that feed into how an alert is displayed in GitHub's code scanning interface:

- `properties.precision` which describes how accurate the detection is. This information is not displayed in the UI but is used to help sort alerts with the most urgent first.
- `proper

[2022-10-12 13:20] ujjwal-shekhar commented on #21207
Hi can I work on this

[2022-10-12 13:32] felicitymay commented on #21221
Hi @jsoref - thanks for making the changes to the issue summary - much appreciated ✨

I'll drop help-wanted and good-first-issue labels on the issue so people know that it's ready to work on.

[2022-10-12 14:54] jsoref commented on #21221
Name | Description
-- | --
`defaultConfiguration.level` | Optional. Default severity level of the rule. Code scanning uses severity levels to help you understand how critical the result is for a given rule. This value can be overridden by the level attribute in the [result object](https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning#

[2022-10-12 15:19] jsoref commented on #21221
I haven't tried but the docs clearly say that `warning` is the default for that property, so I don't _expect_ it to change anything, although it might, because, it isn't like the docs are reliable :)

[2022-10-12 18:13] #21207 closed

[2022-10-13 05:17] tusharkhatriofficial opened #21310 "Hovering over the items of sidebar blacks out the written text."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

<img width="1280" alt="Screenshot 2022-10-13 at 10 37 37 AM" src="https://user-images.githubusercontent.com/64004539/195507182-7300f78a-022f-48ce-bbc3-d8ed373f6c66.png">

### What changes are

[2022-10-13 05:33] lohva commented on #21310
hhhhmmm yes good on you.
....,.,.,.,..,.,.,.,.,..,   ^_@ hhhhhhhhhhmmmmmmmmm        ^_^   ..,.,...

On Thu, Oct 13, 2022 at 12:17 PM welcome[bot] ***@***.***>
wrote:

[2022-10-13 05:44] lohva commented on #21310
thank you in the informacion forme, addiyat. (+9 good ) texacion joob in
universcity colegy.

*                         `FRENS GITHUB IS THEBESC " *

On Thu, Oct 13, 2022 at 12:17 PM Tushar Khatri ***@***.***>
wrote:

[2022-10-13 15:55] vtbassmatt commented on #20137
👋 hi there from the product manager for Git Systems at GitHub. I don't have a 12.3 machine handy to test this out, and my searching failed to turn up much that was related. @srbdev do you have any links handy which showcase this problem and/or solution? I'm not looking for a high burden of "proof" here, but I want to understand how common it is, which versions of macOS / Git it's likely to span, a

[2022-10-13 17:55] srbdev commented on #20137
I believe I adjusted the solution from this StackOverflow post: https://stackoverflow.com/a/35681481. Note that I have run into this same issue with trying to SSH to other systems from newer clients (Fedora 36 when it was first released and this new mac) whereas I could still SSH into these same systems from "older" clients (Debian, older macOS, etc.). This is what makes me think that is a client

[2022-10-13 18:29] peter-kehl opened #21321 "GitHub Pages (+ raw) bandwidth limits"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages#usage-limits = https://github.com/github/docs/blob/main/content/pages/getting-started-with-github-pages/ab

[2022-10-13 18:50] vtbassmatt commented on #20137
🙇 thank you for the pointer. I saw plenty of cases where macOS deprecated DSA keys, and those steps were the workaround. In that case, the instructions are to bring back something macOS had taken away.

What I couldn't find was any discussion of a recent-ish macOS having trouble using Ed25519 keys. Those are newer, and I can't figure out when macOS first shipped an SSH version capable of using the

[2022-10-13 19:22] vtbassmatt commented on #20912
👋 hi from Git Systems product management. This would be a good step to add _unless_ we decide to do my option 2 from https://github.com/github/docs/pull/20172#issuecomment-1277870414. I believe if you give Git the path to your private key, you don't need to have `ssh-agent` running.

[2022-10-13 19:39] Sakhilemasina commented on #20912
Okay mnandi I'm at the right place

On Thu, 13 Oct 2022, 21:24 Matt Cooper, ***@***.***> wrote:

[2022-10-13 19:40] lucasdavila commented on #12455
I had the same question.

By what I understood it's possible to change the the `target-branch` for "version updates" PRs, but its NOT possible to change the `target-branch` for "security updates" PRs?

Is there any plans to support changing the `target-branch` for "security updates" PRs as well?

I am asking that because in my case the repositories have a "dev" branch that have more recent code th

[2022-10-13 20:05] cmwilson21 commented on #21310
@tusharkhatriofficial Thanks for opening an issue and reporting this! We are working on this internally, but I'll report your findings to the team.

I'm going to go ahead and close this as we are tracking it internally. 💛

Thank you for your passion and interest in improving GitHub Docs! ✨

[2022-10-13 20:42] andy-crain-kr opened #21324 "on.workflow_call.inputs.<input_id>.type includes invalid type ("choice")"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onworkflow_callinputsinput_idtype

In the following text (url above):

Required if input is defined for th

[2022-10-13 20:45] andy-crain-kr commented on #21324
Created https://github.com/github/docs/pull/21325 to resolve this

[2022-10-13 20:55] felicitymay commented on #12455
Hi @lucasdavila - that sounds like helpful feedback for the team, I'll pass it on. ✨

For future product feedback, the best location is: https://github.com/community/community/discussions/categories/code-security.

[2022-10-13 23:49] tanant opened #21327 "REST quickstart and guide examples still have a v3 reference in them for examples"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/quickstart
https://docs.github.com/en/rest/guides/getting-started-with-the-rest-api

### What part(s) of the article would you like to see updated?

The docs li

[2022-10-14 04:26] ChrisKeefe opened #21333 "MacOS 12+ - Narrow Host definition in .ssh/config"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Generating a new SSH Key...](https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent)

### What part(s) of the article

[2022-10-14 06:30] neilime opened #21341 "Creating a composite action - Creating an action metadata file is using deprecated "::set-output""
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/creating-actions/creating-a-composite-action#creating-an-action-metadata-file

### What part(s) of the article would you like to see updated?

https://github

[2022-10-14 06:44] fingolfin commented on #21341
Also https://github.com/github/docs/blob/main/content/actions/using-jobs/defining-outputs-for-jobs.md does this... probably would be a good idea to grep this repository for `set-output` ?

[2022-10-14 06:46] fingolfin commented on #21341
(BTW I am surprised GitHub started to nag all projects about this a few days ago before even updating their own actions and documentations. Perhaps next time this should be the other way around?)

[2022-10-14 06:52] keunes opened #21343 "'Locking conversations' article doesn't cover effect on reactions/votes"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/communities/moderating-comments-and-conversations/locking-conversations

### What part(s) of the article would you like to see updated?

The paragraph starting with

[2022-10-14 09:54] timja commented on #20912
I've verified on MacOS BigSur

with:
[code]

Using file path only means you don't need to pass the key inline or have an ssh agent running

[code]

[2022-10-14 13:29] dhruv-porwal commented on #21173
sir kindly mark it hacktoberfest  accepted

https://github.com/github/docs/pull/21172

On Fri, 7 Oct 2022, 20:18 Ben Ahmady, ***@***.***> wrote:

[2022-10-14 13:54] DarkDose75 commented on #21173
![image](https://user-images.githubusercontent.com/115435360/195864176-05fda345-783d-4f44-97ff-89a1d9b7216d.jpeg)

[2022-10-14 14:14] jsoref commented on #20912
Fwiw, I was able to make this work using:
[code]

Something like this should work well enough for most users.

There still should be information about ssh-agent for users whose private keys are encrypted (either on an external device or as password protected local files).

[2022-10-14 14:15] cmwilson21 commented on #21321
@peter-kehl Thanks for opening an issue! You rock, too! 😄

Thanks for asking such clear questions and offering to make the PR. I'll get this triaged for review! 👀

[2022-10-14 14:25] cmwilson21 commented on #21324
@andy-crain-kr Thanks for opening an issue and providing such great context around the problem! And thanks for linking it to your PR ⚡

[2022-10-14 14:34] cmwilson21 commented on #21327
@tanant Thank you for opening an issue and linking it to your PR! ✨

[2022-10-14 14:37] cmwilson21 commented on #21333
@ChrisKeefe Thank you for opening an issue and linking it to your PR! ✨

[2022-10-14 14:41] cmwilson21 commented on #21341
@fingolfin Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-14 14:43] cmwilson21 commented on #21343
@keunes Thank you for opening an issue and linking it to your PR! ✨

[2022-10-14 17:43] jjpinto opened #21354 "Resource not found for Github-desktop - page error"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

When on the webpage https://resources.github.com/, browsing by topic - explore all the GitHub offerings by topic, get a file not found on https://resources.github.com/topics/github-desktop/

#

[2022-10-14 20:12] #21343 closed

[2022-10-14 21:06] #21327 closed

[2022-10-14 21:13] lucasdavila commented on #12455
Great, thanks!! @felicitymay

[2022-10-14 22:22] Jarred831 commented on #21354
Fast learner I ain't just getting better as I follow directive's in ordaint medicinal curvertry's as a practiced student coeducational a posertive,and I will not be conserved by God's will alone ever. And I'm happy making my own steps one by one, " yesterday their I was wailing at a grey dawned water blissered FEILD monitarial in my own dissatoned pubicated suffix ashwells arnd alight like shimmer

[2022-10-15 09:16] lxjv opened #21366 "recovering-your-ssh-key-passphrase.md is outdated"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/troubleshooting-ssh/recovering-your-ssh-key-passphrase

### What part(s) of the article would you like to see updated?

Changing

into

### Additional

[2022-10-15 11:49] klinki commented on #10788
@ArkaprabhaChakraborty please feel free to work on this, it has been a while and I'm quite out of a loop of this particular issue now.

[2022-10-15 16:21] hadesragnarokclassic opened #21379 "> ### Why:"
_Originally posted by @hadesragnarokclassic in https://github.com/github/docs/issues/17417#issuecomment-1279776771_

[2022-10-16 00:17] HimbeersaftLP opened #21389 "Some pages say "the repository’s default branch (usually master)" despite it being "main" more often now."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/repos/contents#download-a-repository-archive-zip

### What part(s) of the article would you like to see updated?

The docs say "The branch name. Default: the re

[2022-10-16 01:33] LucasHT22 opened #21391 "Some words were conjugated incorrectly and with wrong meanings (pt-BR)"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/tree/main/translations/pt-BR/data/learning-tracks

### What part(s) of the article would you like to see updated?

Some words were conjugated incorrectly and wit

[2022-10-16 13:41] jsoref opened #21395 "repositories are missing a paragraph break present for orgs/enterprises"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/actions/self-hosted-runners#create-a-registration-token-for-a-repository
https://docs.github.com/en/rest/actions/self-hosted-runners#create-a-remove-token-for-a

[2022-10-16 15:08] tracute3107 commented on #6738
yes !

[2022-10-16 16:01] tracute3107 opened #21396 "Hey, I would like to work on this but I didn't quite get the type of example one would be looking for here."
Hey, I would like to work on this but I didn't quite get the type of example one would be looking for here.

_Originally posted by @notsosimppole in https://github.com/github/docs/issues/17748#issuecomment-1264896562_

[2022-10-16 16:03] tracute3107 opened #21397 "Thanks for opening this issue. A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [contributing guidelines](https://github.com/github/docs/blob/main/CONTRIBUTING.md)."
Thanks for opening this issue. A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [contributing guidelines](https://github.com/github/docs/blob/main/CONTRIBUTING.md).

_Originally posted by @welcome[bot] in https://github.com/github/docs/issues/21396#issuecomment-1279998017_

[2022-10-16 16:04] #21397 closed

[2022-10-16 16:09] tracute3107 commented on #15382
@gmemstr

[2022-10-16 16:41] #21396 closed

[2022-10-16 21:16] jsoref opened #21400 "raw `(% data variables.product.prodname_actions %}` in `run` object"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/code-scanning/integrating-with-code-scanning/sarif-support-for-code-scanning#run-object

### What part(s) of the article would you like to see updated?

[2022-10-17 08:21] robledo6 commented on #21400
Autentifica por favor

[2022-10-17 09:51] felicitymay commented on #21113
@victorlin - many thanks for flagging this discrepancy and raising a pull request to update this article ✨

[2022-10-17 09:59] felicitymay commented on #21113
I think that you're right about this, but I'm going to confirm with the team because [`workflow_dispatch`](https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#webhook-payload-object-53) also mentions only branches.

[2022-10-17 10:13] felicitymay commented on #21321
@peter-kehl - I agree with Courtney, your questions look very clear and we'll follow up with a subject matter expert to find answsers.

[2022-10-17 10:16] tobyhodges opened #21409 "Make changes on a new branch in "Contributing to projects""
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[_Contributing to projects_](https://docs.github.com/en/get-started/quickstart/contributing-to-projects) (https://docs.github.com/en/get-started/quickstart/contributing-to-projects)

### What

[2022-10-17 13:47] cmwilson21 commented on #21366
@lxjv Thank you for opening an issue and linking it to your PR! ✨

[2022-10-17 13:59] cmwilson21 commented on #21391
Closed per comment [here](https://github.com/github/docs/pull/21392#issuecomment-1280907662)

[2022-10-17 13:59] #21391 closed

[2022-10-17 14:07] cmwilson21 commented on #21395
@jsoref Thanks for opening an issue! Since this is part of our REST docs and maintained slightly differently, I'm going to move this issue over to an internal board for review. ⚡

Thank you, again, for reporting this! :sparkling_heart:

[2022-10-17 14:09] #21395 closed

[2022-10-17 14:47] cmwilson21 commented on #21400
👋 @jsoref - Thanks for catching this! I'll get it triaged for a writer to review ⚡

[2022-10-17 16:02] #21389 closed

[2022-10-17 18:11] cmwilson21 commented on #21389
@HimbeersaftLP Thanks for opening this issue and submitting a PR. Any changes in the `rest description` have to be done internally. Thanks for bringing this to our attention! ✨

[2022-10-17 18:24] w-bonelli opened #21424 "Clarify `$HOME` environment variable in Actions docs"
Although it's been removed from the default variables table, the docs [still describe `$HOME` as a default environment variable](https://github.com/github/docs/blob/main/content/actions/learn-github-actions/environment-variables.md#naming-conventions-for-environment-variables) in the naming conventions section. This initially gave me the impression that the runner will ensure it is set in all shel

[2022-10-17 19:33] cmwilson21 commented on #21424
👋 @w-bonelli - Thanks for opening this issue! I'll get it triaged for review 👀

[2022-10-18 00:04] roy-work opened #21435 "Check suites on a commit are not unique, despite the doc's claim"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/checks/suites

### What part(s) of the article would you like to see updated?

The article states:

This is false; I have a commit with 4 check suites on it, wh

[2022-10-18 01:16] lucascosti commented on #21341
Thanks for reporting this, @neilime! It took us a while to catch and version all of the docs mentions; and it was fixed in https://github.com/github/docs/commit/ad70a7012fc7d664cce60c12344a87cf85d780e3.

Please let us know if we missed anything.

[2022-10-18 01:16] #21341 closed

[2022-10-18 02:10] lucascosti commented on #21424
Thanks for pointing this out, @w-bonelli!

Yep, I think this is the best approach. Feel free for you (or anyone else) to open a PR! 🙇‍♂️

[2022-10-18 07:51] felicitymay commented on #21113
@victorlin - thanks for flagging and fixing this. We're happy to accept your update ✨

It looks as if https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#webhook-payload-object-53 needs the same change. Is this something you'd like to fix?

[2022-10-18 07:58] #21113 closed

[2022-10-18 08:51] felicitymay commented on #21400
Thanks for flagging this typo @jsoref. It seemed quickest just to raise a PR to fix the variable: https://github.com/github/docs/pull/21451.

[2022-10-18 10:51] #21400 closed

[2022-10-18 11:20] mervy93 commented on #17617
#20277

[2022-10-18 14:25] cmwilson21 commented on #21435
@roy-work Thanks so much for opening an issue! Updates like the ones suggested here go through an internal review, so I'm going to transfer this issue for the team to check out. 💖

[2022-10-18 18:01] victorlin commented on #21113
@felicitymay yes! PR opened: https://github.com/github/docs/pull/21463

[2022-10-18 19:28] cmwilson21 commented on #21354
@jjpinto - Thanks for raising this issue! This repo is for updates to our docs site specifically (docs.github.com). I think this may be better handled as a [bug report](https://support.github.com/contact/bug-report), if you'd like to file one.

If you are looking for more information about GitHub Desktop in general, check out our [docs on the subject](https://docs.github.com/en/desktop). 💖

[2022-10-18 19:28] #21354 closed

[2022-10-19 01:45] jjpinto commented on #21354
Thanks @cmwilson21, will raise an issue with the docs.

[2022-10-19 07:56] #21424 closed

[2022-10-19 08:06] felicitymay commented on #21409
@tobyhodges - thanks for raising this point. You're right to point out the discrepancy between this article and GitHub Flow. Looking at the article, I can see that it's overdue a review generally, and I will check that it is on our internal list of articles to refresh.

In the meantime, your suggestion to bring the article inline with the GitHub Flow is a great idea. The existing sections are inte

[2022-10-19 08:32] #16788 closed

[2022-10-19 10:04] felicitymay commented on #16788
As discussed, I've raised an internal issue for your feedback on the need for an article about managing webhooks. It will be triaged and prioritised alongside our other work.

[2022-10-19 10:10] HonkingGoose opened #21478 "404 on links to GitHub Brand Guide in `contributing/content-styleguide.md`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

The [`contributing/content-style-guide.md`](https://github.com/github/docs/blob/main/contributing/content-style-guide.md) file on the `github/docs` repository has broken links to the official

[2022-10-19 11:05] #21409 closed

[2022-10-19 11:08] onein528 opened #21480 "Difficult to see Samples on low resolution PC"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

![image](https://user-images.githubusercontent.com/62196528/196674874-d9d7af56-0f39-49d6-9636-13c88884c070.png)

### What changes are you suggesting?

Update UI to be able to expand them.

###

[2022-10-19 13:59] cmwilson21 commented on #21478
@HonkingGoose Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-19 15:53] felicitymay commented on #21321
Hi @peter-kehl. I had a chat with a subject matter expert about your questions. I'm adding a summary of their answers below.

The "Usage limits" information that you ask about is part of the section [Limits on use of GitHub Pages](https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages#limits-on-use-of-github-pages).  Consequently it describes the limits that apply to

[2022-10-19 21:34] peter-kehl commented on #21321
Thank you @felicitymay.

After the above I had only one outstanding question: Whether GitHub pages of multiple projects belonging to the same GitHub user/organization shared the 100GB  (soft) bandwidth limit.

https://docs.github.com/en/pages/getting-started-with-github-pages/about-github-pages#types-of-github-pages-sites says that "there are three types of GitHub Pages sites: project, user, and o

[2022-10-20 08:58] potatoqualitee opened #21503 "PowerShell code is hidden when using anchors, as pwsh tab at the top is bypassed / Add tab to code itself instead of page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

workflow-commands-for-github-actions.md

### What changes are you suggesting?

I recently had to update my Actions to comply with the new `$GITHUB_OUTPUT` requirement. It took me forever to fi

[2022-10-20 14:56] IMSoP opened #21507 "Diagram on "About pull request merges" is misleading and confusing"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges

### What part(s) of the article would you like to

[2022-10-20 17:18] subatoi commented on #20989
Just going to unassign myself from this as someone will pick up the PR review and continuing discussion will happen there. Thanks for raising that!

[2022-10-20 19:41] #21366 closed

[2022-10-20 20:00] cmwilson21 commented on #21503
@potatoqualitee Thanks for opening an issue! We are actually working on this internally, so I've shared your feedback with the team and will go ahead and close this issue. 💛

In the meantime, you can find out more about our tool-switcher in our [contributing docs](https://github.com/github/docs/blob/main/contributing/tool-switcher.md).

Thank you so much for your interest in improving our docs! ✨

[2022-10-20 20:00] #21503 closed

[2022-10-20 21:44] #20243 closed

[2022-10-20 23:15] #19869 closed

[2022-10-20 23:18] 62854444628 commented on #19869
``

[2022-10-21 01:44] jsoref commented on #15965
@lecoursen not even a nibble

[2022-10-21 12:59] cmwilson21 commented on #21507
@IMSoP Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-21 16:32] fingolfin opened #21529 "Clarify how multiline output values can be set via `GITHUB_OUTPUT`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-output-parameter

### What part(s) of the article would you like to see updated?

Due to rece

[2022-10-21 22:00] rvrvrv opened #21539 "Broken links and typo in reviewing-the-audit-log-for-your-organization.md"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

- File: https://github.com/github/docs/blob/main/content/organizations/keeping-your-organization-secure/managing-security-settings-for-your-organization/reviewing-the-audit-log-for-your-organi

[2022-10-22 06:10] dojutsu-user commented on #20562
Hi @cmwilson21,
Taking this issue up.

[2022-10-22 06:17] oliverjfletcher opened #21548 "Updating docs to reflect use of `$GITHUB_OUTPUT` environment files"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/creating-actions/creating-a-docker-container-action

https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions

### What part(s

[2022-10-22 06:36] oliverjfletcher opened #21549 "Use `$GITHUB_OUTPUT` environment file for Broken Doc Links workflow"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

N/A this affects the GitHub Action workflow for fixing broken links in the docs

### What changes are you suggesting?

### Summary

Update [check-broken-links-github-github.yml](https://github

[2022-10-23 05:10] Rambo250000000000 commented on #20562
https://www.paypal.com/pools/c/8OmsxaiDuZ

On Mon, Sep 12, 2022, 3:29 PM Alasdair MacGillivray <
***@***.***> wrote:

[2022-10-23 09:20] darostegui opened #21567 "Checking links for snapshots"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-server@3.6/admin/enterprise-management/updating-the-virtual-machine-and-physical-resources/upgrading-github-enterprise-server#taking-a-snapshot

And all v

[2022-10-23 17:58] mh105 opened #21569 "Fenced block syntax for mathematical expressions inaccurate"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/writing-mathematical-expressions

### What part(s) of the article would you like to see updated?

Righ

[2022-10-23 20:15] schalkneethling commented on #21218
@rsese and @cmwilson21 wanted to highlight another instance of a color contrast problem. This instance is not a TOC.
https://docs.github.com/en/rest/repos#edit

![Screenshot showing some of the text in a notice block being illegible.](https://user-images.githubusercontent.com/10350960/197416021-2a899086-741f-45c5-8b01-9996ebe5e9cc.png)

[2022-10-24 09:34] nutty323 opened #21579 "Hubbers"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[![Auto Merge Dependency Updates](https://github.com/github/docs/actions/workflows/automerge-dependencies.yml/badge.svg)](https://github.com/github/docs/actions/workflows/automerge-dependencie

[2022-10-24 09:34] #21579 closed

[2022-10-24 10:58] cmaneu opened #21581 "Codespaces Samples - Add SQL Sample"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/codespaces

### What part(s) of the article would you like to see updated?

Update the Code examples section with SQL examples.

### Additional information

_No resp

[2022-10-24 14:28] nutty323 opened #21583 "Update"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/pull/21523/commits/630607d0d42cff9731a9f54a79cb9bd660253b6b

### What part(s) of the article would you like to see updated?

Update

### Additional information

[2022-10-24 14:28] #21583 closed

[2022-10-24 15:24] meowius commented on #19631
Not stale — keeping in the backlog as part of my content-design engagement.

[2022-10-24 15:35] cmwilson21 commented on #21529
@fingolfin Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-24 15:51] cmwilson21 commented on #21539
@rvrvrv Thanks for opening an issue, providing such great info, and linking it with your PR! 💖

[2022-10-24 15:57] cmwilson21 commented on #21548
@oliverjfletcher Thanks for opening and issue, providing such great information, and linking it to your PR! 💖

[2022-10-24 16:18] cmwilson21 commented on #21549
@oliverjfletcher Thanks for the issue. I've edited the PR slightly so it includes this issue, too. ✨

[2022-10-24 17:03] cmwilson21 commented on #21569
@mh105 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-24 17:07] cmwilson21 commented on #21581
@cmaneu Thanks for opening an issue and linking it to your PR! 💖

[2022-10-24 20:25] docs-bot opened #21591 "[Improvement]:"
### What article(s) is affected?

These reusables:

- data/reusables/secret-scanning/partner-secret-list-private-repo.md
- data/reusables/secret-scanning/partner-secret-list-public-repo.md
- data/reusables/secret-scanning/secret-list-private-push-protection.md

### Describe the desired docs changes and the problem they solve for customers.

We should update the capitalization in the reusables list

[2022-10-24 20:55] oliverjfletcher commented on #21549
I reverted the push per this [comment](https://github.com/github/docs/pull/21550#issuecomment-1287652672), but let me know if I should push the change back to the branch, thanks!

[2022-10-24 22:06] skedwards88 commented on #19024
I'm moving this from the content review board to the engineering review board.

[2022-10-24 22:14] skedwards88 commented on #21529
Thanks for this issue! You or anyone else is welcome to open a PR to point users to the [multi-line strings section](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#multiline-strings) from the [setting an output parameter](https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-output-parameter) section. I would rec

[2022-10-25 01:05] prashanthr commented on #12705
Hi!
I've created https://github.com/github/docs/pull/21596 to address the note that @lucascosti pointed out above. Thanks!

[2022-10-25 04:35] ujjwal-shekhar commented on #21529
Hi can I work on this?

[2022-10-25 07:57] Smekbu opened #21605 "Abuse to threatening Harrassment,They create my nude pictures and sent to my phone contact"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Frauds  application link below :https://apkfortreesescash.com/dl/25461/app-v3.14.007.apk

### What part(s) of the article would you like to see updated?

They Screenshot and sent to my family

[2022-10-25 10:09] porridge opened #21606 "Broken markup in OIDC docs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers#requesting-the-jwt-using-environment-variables

### What part(s)

[2022-10-25 12:29] fstavela opened #21608 "Update "Commits" API reference in "About protected branches" docs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches#require-status-checks-before-merg

[2022-10-25 12:42] cmwilson21 commented on #21218
@schalkneethling Thanks for bringing this one up, too. I'll add it to our internal issue.

We appreciate you catching and reporting these instances! ✨

[2022-10-25 13:05] cmwilson21 commented on #21605
Sorry, this is off topic for the Docs repo and will be closed. 💛

[2022-10-25 13:05] #21605 closed

[2022-10-25 13:18] Nhida2002 commented on #21605
Ok

Vào 20:08, Th 3, 25 thg 10, 2022 Courtney Wilson ***@***.***>
đã viết:

[2022-10-25 13:19] Nhida2002 commented on #21605
pk

Vào 20:18, Th 3, 25 thg 10, 2022 Dung Phanduc ***@***.***>
đã viết:

[2022-10-25 13:48] cmwilson21 commented on #21606
@porridge Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-25 13:48] felicitymay commented on #21321
Hi @peter-kehl - apologies for the slow response, I've been out of action ill.

Regarding your final point. I checked our terms and conditions, and they suggest that people contact support if they have questions over whether their intended use would be within the allowed usage: https://docs.github.com/en/site-policy/github-terms/github-terms-for-additional-products-and-features#pages. I think that

[2022-10-25 13:49] cmwilson21 commented on #21608
@fstavela Thank you for opening an issue and linking it to your PR! ✨

[2022-10-25 13:50] peterbe commented on #21218
Hi @schalkneethling!!
The actual bug is here: https://github.com/primer/react/issues/2229 which is also a public project.

[2022-10-25 13:50] #21321 closed

[2022-10-25 19:19] jhosman commented on #21507
👋 @IMSoP - Thanks for pointing this out! I see what you mean about the potential for confusion with the current screenshots. We'll need to redesign these screenshots internally, so I'm going to close this issue out and open an internal issue. Thanks again for letting us know!

[2022-10-25 19:19] #21507 closed

[2022-10-25 19:36] susanzhang27 opened #21612 "Add GHES 3.7 Performance Numbers"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

getting-started-with-github-actions-for-github-enterprise-server.md

### What part(s) of the article would you like to see updated?

The performance numbers matrix for vCPU to connected runner

[2022-10-25 19:57] #14713 closed

[2022-10-25 22:15] #21608 closed

[2022-10-25 23:51] ishuen commented on #21591
Hi. Could you provide a link to the style guide you are referring to? I can understand the examples provided and I assume `Ionic Refresh Token becomes Ionic Refresh token` should be `Ionic Refresh Token becomes Ionic refresh token`..?

[2022-10-26 06:47] mzzmjd opened #21622 "Correct issue with "Configuring rate limits" link pointing to wrong location"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-server@3.7/admin/release-notes#3.7.0

### What part(s) of the article would you like to see updated?

The section:

Refers to a location that is not avail

[2022-10-26 09:21] liweijuan1 opened #21624 "The result with error when click "Configuring rate limits" link"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-server@3.7/admin/release-notes#instance-administration

### What part(s) of the article would you like to see updated?

<img width="733" alt="Screen Shot

[2022-10-26 09:50] Anika-Roy commented on #20216
Hi! I'd like to work on this. I'm not clear on what excactly needs to be changed. I'm just starting with open source so any help would be great:)

[2022-10-26 09:59] Anika-Roy commented on #21624
Hi! I'd like to work on this. Would you like me to remove the hyperlink or redirect it to another site(if yes, could you clarify which one)?

[2022-10-26 11:41] GuillaumeFalourd opened #21626 "Add section with special characters that need to be escaped when used in GitHub secret value"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/security-guides/encrypted-secrets

### What part(s) of the article would you like to see updated?

It could be interesting to add a section to the **Encrypte

[2022-10-26 12:44] #20989 closed

[2022-10-26 13:26] #20562 closed

[2022-10-26 13:53] cmwilson21 commented on #21612
👋 @susanzhang27 - Thanks for opening an issue and linking it to your PR! ✨

[2022-10-26 14:02] cmwilson21 commented on #21622
@mzzmjd Thank you for opening an issue and linking it to your PR! ✨

[2022-10-26 14:05] #12705 closed

[2022-10-26 14:10] cmwilson21 commented on #21624
@liweijuan1 Thanks for opening this issue! We appreciate you reporting this. We actually have [a PR](https://github.com/github/docs/pull/21623) waiting for review to fix this right now. So I'm going to go ahead and close this issue 💛

@Anika-Roy Thanks for your enthusiasm to improve the docs! As stated, we have a PR in line for this one. Please take a look at our [help wanted](https://github.com/g

[2022-10-26 14:10] #21624 closed

[2022-10-26 14:42] #21622 closed

[2022-10-26 22:11] skedwards88 commented on #21606
Thanks for reporting this! All instances of `${{ ... }}` need to be wrapped with `{% raw %}`/{% endraw %}` in order to render properly. You or anyone else is welcome to open a PR to address this.

[2022-10-26 23:30] #10788 closed

[2022-10-27 05:13] lucascosti commented on #21626
Hi, @GuillaumeFalourd thanks for opening this issue. GitHub Actions secrets should store as whatever you provide as-is, with no escaping necessary.

However, when you **use** secret values, you will need to handle any special characters that might be in the secret, as with any other string.

For example, if you had the value `$thisisasecret and may have $special%characters that could be interprete

[2022-10-27 05:13] #21626 closed

[2022-10-27 07:30] jo-tree opened #21645 "The copy button copies the whole link, which is incompatible with shell commands that have a preceding $"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

I am using Chrome.

https://docs.github.com/en/actions/deployment/deploying-to-your-cloud-provider/deploying-to-google-kubernetes-engine
https://docs.github.com/en/authentication/managing-comm

[2022-10-27 09:34] bodograumann commented on #21156
I think you also need to configure write access for the repository in the settings page of the package. If you had originally published the package from a workflow in the repository this would have been setup automatically iinm. The most up-to-date information that I found is here: https://docs.github.com/en/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility#ensuri

[2022-10-27 15:23] cmwilson21 commented on #21645
@jo-tree Thank you for opening an issue and linking it to your PR! ✨

[2022-10-27 19:26] #21612 closed

[2022-10-27 22:50] skedwards88 commented on #21645
Thanks for opening this issue! As opposed to modifying the copy button, we are working on a solution to remove `$` for example shell commands that don't also include output. Because we are working on an internal solution, I am going to close out this issue. However, you or anyone else is welcome to open a PR to remove the `$` for this command.

[2022-10-27 22:50] #21645 closed

[2022-10-27 23:28] blakegearin opened #21659 "Parameter setup_url is missing from GitHub App Manifests"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-server@3.6/developers/apps/building-github-apps/creating-a-github-app-from-a-manifest#github-app-manifest-parameters

### What part(s) of the article woul

[2022-10-28 13:03] #21581 closed

[2022-10-28 13:09] cmwilson21 commented on #21549
Closing this issue per [comment here](https://github.com/github/docs/pull/21550#issuecomment-1294253453). 💛

[2022-10-28 13:09] #21549 closed

[2022-10-28 13:09] cmwilson21 commented on #21548
Closing this issue per[ comment here](https://github.com/github/docs/pull/21550#issuecomment-1294253453) 💛

[2022-10-28 13:09] #21548 closed

[2022-10-28 16:50] skedwards88 commented on #18353
Thanks for this suggestion! Below are some details about how CODEOWNERs interacts with forks. You or anyone else is welcome to open a pull request to document this info.

CODEOWNERS has two primary uses:
- It is used for triggering review requests for a pull request that modifies an owned file.
- It is used to see at a glance who is responsible for a given file.

Pull requests use the version of C

[2022-10-28 16:54] skedwards88 commented on #21591
Closing for now pending some internal discussion.

[2022-10-28 16:54] #21591 closed

[2022-10-28 16:59] jsoref commented on #18353
It feels like it's worth noting something like: "in a fork, the accounts referenced in the upstream file which is the current version in the fork are unlikely to have these permissions, and thus are unlikely to be assigned, but if they have these permissions, then they would be."

[2022-10-30 10:17] airtonix commented on #15319
@cmwilson21 in what PR?

[2022-10-30 14:40] jklanica opened #21686 "Unclear instruction (incorrectly set variables in the text -> nonsense)"
### Code of Conduct

- [x] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Connect with SSH](https://docs.github.com/en/authentication/connecting-to-github-with-ssh)

### What part(s) of the article would you like to see updated?

When switching routes through the n

[2022-10-30 18:05] Soemind commented on #21529
![image_a1cc42f1-ea5d-4f4c-a5ca-dd1a4e5c740420221030_200229](https://user-images.githubusercontent.com/106372500/198894070-3586f19f-e3aa-4249-af53-7555ade06892.jpg)
[wall paper ](google play stroe)

[2022-10-30 21:15] colossalchicken opened #21694 "postbin.org has changed to https://www.toptal.com/developers/postbin/"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/webhooks

### What part(s) of the article would you like to see updated?

`postbin.org` has changed to `https://www.toptal.com/developers/postbin/`.

### Additi

[2022-10-31 03:49] mytting opened #21697 "action autoscaling-with-self-hosted-runners add cirun"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/hosting-your-own-runners/autoscaling-with-self-hosted-runners

### What part(s) of the article would you like to see updated?

action autoscaling-with-self-h

[2022-10-31 13:10] pietroalbini opened #21701 "Confusing description in "List pull requests associated with a commit" REST docs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/commits/commits#list-pull-requests-associated-with-a-commit

### What part(s) of the article would you like to see updated?

The description for the API endpoin

[2022-10-31 13:28] cmwilson21 commented on #21694
@colossalchicken Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-31 13:29] #21694 closed

[2022-10-31 13:31] cmwilson21 commented on #21697
@mytting Thanks for opening an issue! Could you give us a bit more information? Are you requesting we add a link to cirun to the article?

[2022-10-31 13:35] cmwilson21 commented on #21701
@pietroalbini Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-10-31 13:36] #21701 closed

[2022-11-01 01:27] mytting commented on #21697
Could you give us a bit more information?
There are some problems with the scheme in the existing documentation
`actions-runner-controller/actions-runner-controller`:
- AWS EKS Fargate does not support ARM64 architecture, you need to prepare nodes in advance, there is no way to spot
- AWS EKS Fargate does not support `generic-ephemeral-volumes`: no way to use
- There are certain construction and m

[2022-11-01 02:51] tarek295197 commented on #21697
Please stop action please I need original to my account and my cloud and my token بتاريخ ٠١‏/١١‏/٢٠٢٢ ٥:٣٠ ص، كتب jianchang ***@***.***>:

Could you give us a bit more information?

Could you give us a bit more information?
There are some problems with the scheme in the existing documentation
actions-runner-controller/actions-runner-controller:
AWS EKS Fargate does not support ARM64 architecture,

[2022-11-01 03:01] mytting commented on #21697
？

[2022-11-01 03:01] mytting commented on #21697
？？？

[2022-11-01 07:54] amirahad opened #21721 "add documentation to get github copilot sign out from multiple devices on VS code."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

GitHub copilot

### What changes are you suggesting?

i want to to see a section on "how to sign out from GitHub copilot on vs code?"

### Additional information

i have GitHub copilot signed

[2022-11-01 13:32] cmwilson21 commented on #21697
@mytting Thank you for providing this additional detail! 💖

I'll get this triaged for the team to take a look 👀

[2022-11-01 13:38] tg-bot543 opened #21722 "Improve existing"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

What article on docs.github.com is affected?
Please link to the article you'd like to see updated

### What part(s) of the article would you like to see updated?

What part(s) of the article w

[2022-11-01 13:39] #21722 closed

[2022-11-01 13:41] cmwilson21 commented on #21721
@amirahad Thanks for opening an issue! I'll get this triaged for the team to take a look 👀

In the meantime, try reaching out to our wonderful [support team](https://support.github.com/request) for guidance. 💛

[2022-11-01 16:53] Kixunil opened #21725 "Document the minimum Neovim version for Copilot."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-neovim

### What part(s) of the article would you like to see updated?

Knowing th

[2022-11-01 22:58] yorek opened #21732 "Highlight that the SQL example just created is also applicable to Azure SQL"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/codespaces

### What part(s) of the article would you like to see updated?

Highlight that the SQL example just created is also applicable to Azure SQL

### Addition

[2022-11-02 04:50] ramvikrams opened #21736 "Adding '+' for creating unordered lists"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax

### What part(s) of the article would you li

[2022-11-02 13:42] cmwilson21 commented on #21725
@Kixunil Thank you for opening an issue and linking it to your PR! ✨

[2022-11-02 13:45] cmwilson21 commented on #21732
@yorek Thank you for opening an issue and linking it to your PR! ✨

[2022-11-02 13:56] cmwilson21 commented on #21736
@ramvikrams Thanks for opening an issue! ⚡

You, or anyone else, are welcome to open a PR making that change ✨

[2022-11-02 14:00] ramvikrams commented on #21736
thanks i'll do it

[2022-11-02 14:47] scottdickerson commented on #21156
Based on our testing, this is what APPEARS to be the case.  It would be good to confirm:

If the package was originally published with a PAT. We cannot publish a new version of the package to our organization repository using the OOTB GITHUB_TOKEN, even if we explicitly set these permissions
[code]
We receive a 403 error.

If we change the publish to use the exact PAT that published the package in

[2022-11-02 15:34] HighPriestess42 opened #21744 "JennyMetaverse"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/jennymetaverse

### What part(s) of the article would you like to see updated?

DAO

### Additional information

https://github.com/enterprise

[2022-11-02 15:34] #21744 closed

[2022-11-02 15:35] HighPriestess42 opened #21745 "Github"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Github AE

### What changes are you suggesting?

Litepaper

### Additional information

GhouliesNFT.io

https://github.com/github/docs/issues/21745#tasklist-block-e45214c2-2ef7-4fb2-83a9-908cf

[2022-11-02 15:35] #21745 closed

[2022-11-02 15:37] HighPriestess42 commented on #21745
Jennifer Crosier

[2022-11-02 17:13] ramvikrams commented on #21736
yeah

[2022-11-02 19:48] scottdickerson commented on #21156
this new document: is getting REALLY close to telling us this publish package permissions behavior:
https://docs.github.com/en/rest/overview/permissions-required-for-fine-grained-personal-access-tokens
But it is silent on those package permissions, and also doesn't cover initial package creation versus management for an organization package.

[2022-11-02 21:59] gkulin opened #21752 "Add "addresses" as keyword to link pull request to issue"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword

### What changes are you suggesting?

**

[2022-11-03 08:52] bodograumann commented on #21156
Have you looked at the configuration page for your package, @scottdickerson ?
As described in [the docs](https://docs.github.com/en/packages/learn-github-packages/configuring-a-packages-access-control-and-visibility#ensuring-workflow-access-to-your-package) you can configure which pipelines can have access to it (using their GITHUB_TOKEN I assume).

[2022-11-03 10:52] kepalas opened #21757 "API documentation is missing information on how to allow force push for specific teams/users"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

The API documentation for creating/updating the branch protection rules:
https://docs.github.com/en/rest/branches/branch-protection#update-branch-protection

### What changes are you suggestin

[2022-11-03 13:13] christian-vorhemus opened #21759 "Setting up Github Enterprise Server using the REST API"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-server@3.6/rest/enterprise-admin/management-console

### What part(s) of the article would you like to see updated?

If we strictly follow the docs at htt

[2022-11-03 13:37] cmwilson21 commented on #21752
@gkulin Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-03 13:40] cmwilson21 commented on #21757
@kepalas Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-03 13:41] #21757 closed

[2022-11-03 13:42] cmwilson21 commented on #21759
@christian-vorhemus Thanks for opening an issue and walking us through your tests. I'll get this triaged for review! 👀

[2022-11-03 16:14] scottdickerson commented on #21156
@bodograumann I think this might be getting close to the issue. We just created a new package as part of a npm publish running from a workflow in the skeletor repo (I believe using a PAT for the npm publish).  However, the package doesn't seem to have been linked to the repo with any permissions automatically.  For my old packages I think we manually added these extra permissions.  Is that correct

[2022-11-03 16:21] bodograumann commented on #21156
The first box "Repository source" actually shows that the package has been linked correctly with the repository. (You could remove the link with the trash icon)
No explicit permissions have been defined though. That is what the second box "Manage Actions access" is for.
I thought this was required to publish updates, so I am unsure why it wasn't added automatically.
There is more thing further dow

[2022-11-03 16:29] scottdickerson commented on #21156
yeah you're even closer I think to the issue, this one is also set false by default for that new repo
<img width="1168" alt="image" src="https://user-images.githubusercontent.com/6663002/199778107-567c9ffe-1335-4ffb-83e6-9676e58acee7.png">

AND I see an explicit grant that matches ME which was the PAT used to create the package:
<img width="1295" alt="image" src="https://user-images.githubusercont

[2022-11-03 16:35] scottdickerson commented on #21156
So ideally the new package would inherit access from the repo so that anyones PAT in the repo could publish.  However, I still don't know if a GITHUB_TOKEN could really publish a new package initially. Also if we do switch from a PAT back to a GITHUB_TOKEN, does it have the rights to publish a new version of a package that was previously published by a PAT?

[2022-11-03 20:19] RaphGL opened #21770 "MacOS instructions on Linux instructions for SSH authentication"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/blob/main/content/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent.md

### What part(s) of the article would

[2022-11-03 23:35] #21759 closed

[2022-11-04 09:51] AlekSi opened #21798 ""Viewing large files in pull requests" section is not correct"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/working-with-files/managing-large-files/collaboration-with-git-large-file-storage#viewing-large-files-in-pull-requests

### What part(s) of the article

[2022-11-04 11:00] kepalas commented on #21757
@cmwilson21 now that the issue is closed, how can I track the status of this? Would be nice to know when/if the documentation will be updated :smile:

[2022-11-04 14:06] jsoref opened #21803 "Raw markdown on Getting started with apps"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/apps/getting-started-with-apps

### What part(s) of the article would you like to see updated?

<img width="727" alt="image" src="https://user-images.gith

[2022-11-04 14:27] cmwilson21 commented on #21770
@RaphGL Thanks for opening an issue! ✨

I tried to reproduce this in the article, but when I clicked the Linux tab at the top of the page, the "[Adding your SSH key to the ssh agent](https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent?platform=linux#adding-your-ssh-key-to-the-ssh-agent)" removed the macOS directions. I'm i

[2022-11-04 14:27] #21770 closed

[2022-11-04 14:46] cmwilson21 commented on #21798
@AlekSi Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-04 14:51] cmwilson21 commented on #21757
@kepalas Thanks for the question! It is a bit trickier to track the status since this has moved in to an internal repo for further review and discussion. I've left a note in the internal issue to come back here and update this issue on the progress. Hope that helps! 💖

[2022-11-04 14:58] cmwilson21 commented on #21803
👋 @jsoref Thanks for opening an issue! We appreciate the screenshots, too. I'll get this triaged for someone to take a look at this broken md. ✨

[2022-11-04 15:19] jsoref opened #21806 "REST Forks apis that are not actually github apps friendly"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/repos/forks#create-a-fork

### What part(s) of the article would you like to see updated?

Remove:

### Additional information

https://github.com/orgs/communit

[2022-11-04 22:01] rachmari commented on #19024
@jsoref thanks for reporting this. I've opened an internal issue with this bug report.

[2022-11-05 03:29] cmwilson21 commented on #21478
👋 Thanks again for opening this issue! The brand guideline links have been removed in an internal PR, so I'm going to go ahead and close out this issue 💛

[2022-11-05 03:29] #21478 closed

[2022-11-05 10:45] Abu2rkyi opened #21844 "Hi all!"
Hi all!
We have different repositories in the organization with the same [`release.yaml` file](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes#configuring-automatically-generated-release-notes), I was thinking if it is possible to move that file into our repository `.github`, does it work? We are using the `.github` repository for our [def

[2022-11-05 10:45] #21844 closed

[2022-11-05 16:28] pereriksson opened #21850 "Secrets for reusable workflows"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/security-guides/encrypted-secrets?tool=webui#using-encrypted-secrets-in-a-workflow

### What part(s) of the article would you like to see updated?

This arti

[2022-11-06 10:11] adamchainz opened #21863 "Recommend default global gitignore file"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#configuring-ignored-files-for-all-repositories-on-your-computer

### What part(s) of the article would you like t

[2022-11-06 10:42] TWiStErRob commented on #8926
@jsoref I'm trying to research this topic, but all the links in https://github.com/github/docs/issues/8926#issuecomment-900516450 are dead. Where can I find those old forum topics?

[2022-11-06 12:20] TWiStErRob opened #21865 ""Handling skipped but required checks" promises a non-viable solution"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Handling skipped but required checks](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-req

[2022-11-06 13:29] jsoref commented on #8926
Dunno. They did a real number in github.community in their migration. It didn't occur to me when I filed this that I'd need to quote the full contents of each item here...

[2022-11-06 13:40] jsoref commented on #21865
I'm not sure there's a problem. From looking at the things you've found as long as you don't have dependent jobs without also requiring the original job as a required check, at all points, I think you're safe.

Ignoring dependent jobs, apparently of x jobs have a common name, and that common name is a required check, then as soon as multiple jobs but that name are started, all must pass before the

[2022-11-06 14:04] thispsj commented on #21865
@jsoref you are right, the only problem is with dependent jobs.

[2022-11-06 14:17] jsoref commented on #21865
Is that originating job also a required check? If not, that feels like the fix.

[2022-11-06 20:39] TWiStErRob commented on #8926
I tried searching for some slugs without dashes but no results, not even on Google.

[2022-11-06 20:44] jsoref commented on #8926
@TWiStErRob IA appears to have at least some of them..., here's an example: https://web.archive.org/web/20200928033538/https://github.community/t/github-pull-request-is-waiting-for-required-status-checks-even-with-ci-skip-in-commit-message/827

[2022-11-06 20:50] TWiStErRob commented on #8926
Oo nice, forgot about that.

[2022-11-06 21:12] 1332mm commented on #21624
X96 formatı daha mantıklıdır, çünkü insanlar X90 matematiksel veri çalışmasına ve görüşlerine tepki verirler ve bunu anlayamazlar. Bu çeyrekte seni X 96 olarak kaydetmiş. Verilerinizi aklınıza gelen herhangi bir elektronik veriye aktardığınız için iyi şanslar. İnsanların bir araya gelerek yaptıkları iş çok kısa bir saniyedir ve çok kısa bir süre içinde soru ve cevap şeklinde çok fazla kelime yazma

[2022-11-07 05:36] Clockwork-Muse opened #21871 "Add hosts file content for GitHub's SSH keys"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints

### What part(s) of the article would you like to see updated?

The article lists t

[2022-11-07 06:10] #21606 closed

[2022-11-07 09:29] robinp opened #21873 "Document base64 secret decoding warts on windows powershell"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/blob/main/content/actions/security-guides/encrypted-secrets.md

### What part(s) of the article would you like to see updated?

At the very end of that doc, a li

[2022-11-07 14:25] cmwilson21 commented on #21806
👋 @jsoref - Thanks for opening this issue! REST API changes have to be handled internally, so I'll get this triaged for internal review.

Thanks again! ✨

[2022-11-07 14:38] cmwilson21 commented on #21850
@pereriksson Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-07 14:39] cmwilson21 commented on #21863
@adamchainz Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-07 14:44] #21659 closed

[2022-11-07 14:49] atreeon commented on #21210
Hi @cmwilson21.  This is still not functioning correctly but the issue says 'done' and 'closed'.  Do you have a link to the task where the work is happening.  Very frustrating as I basically can no longer use the documentation using my laptop!!!

[2022-11-07 15:16] cmwilson21 commented on #21873
@robinp Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-07 15:54] seyma-si opened #21876 "İlgili alanlar gelistirilmeli"
İlgili alanlar gelistirilmeli

_Originally posted by @seyma-si in https://github.com/github/docs/pull/21465#pullrequestreview-1170651937_

[2022-11-07 16:50] blakegearin commented on #21659
I haven't tried myself, but it seems likely that  `request_oauth_on_install` and `setup_on_update` are also supported and undocumented manifest parameters.

[2022-11-07 18:23] Arshadasg11 opened #21882 "Manager"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Don't know

### What part(s) of the article would you like to see updated?

Does

### Additional information

_No response_

[2022-11-07 18:23] #21882 closed

[2022-11-07 19:22] lecoursen commented on #21850
Thanks @pereriksson, I agree that would be helpful to add. You or anyone else is welcome to create a PR doing so!

[2022-11-07 19:37] cmwilson21 commented on #21865
@TWiStErRob Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-07 19:42] lecoursen commented on #21803
Thanks @jsoref for pointing this out! Our engineering team is now tracking this internally. 😊

[2022-11-07 19:42] #21803 closed

[2022-11-07 19:59] lecoursen commented on #21752
Thanks @gkulin, "addresses" isn't currently a keyword that links a pull request to an issue, so this is more of a feature request than a documentation update. The best place to send your feedback is https://github.com/orgs/community/discussions.  💛

[2022-11-07 19:59] #21752 closed

[2022-11-08 00:05] mattsb42-aws opened #21893 "Audit Log event docs lack event schema information"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-cloud@latest/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/audit-log-events-for-your-enterprise

### What part(s)

[2022-11-08 06:13] matthewkennedy5 opened #21897 "Screenshot out of date"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch#renaming-a-branch

### What part(s) of the art

[2022-11-08 15:31] #21876 closed

[2022-11-08 15:33] gm3dmo commented on #21806
https://github.com/github/ecosystem-apps/issues/607

[2022-11-08 15:36] gm3dmo commented on #21806
https://github.com/github/github/issues/145223

[2022-11-08 15:38] cmwilson21 commented on #21893
@mattsb42-aws Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-08 19:12] lecoursen commented on #21893
Thanks @mattsb42-aws, I agree this would be useful and we actually have an issue open to track this internally, so I'm going to close this in favor of that issue. 💖

[2022-11-08 19:12] #21893 closed

[2022-11-08 19:15] lecoursen commented on #18195
Thanks @jsoref, I agree that we could add this explanation to that article. You or anyone else is welcome to open a PR doing so!

[2022-11-08 19:17] lecoursen commented on #19283
Thanks @jsoref, I agree that would be a useful article to add. You or anyone else is welcome to open a PR doing so!

[2022-11-08 19:28] lecoursen commented on #19631
👋🏻 @jsoref, we don't document the UI so I don't think we'd want to frame this article about being about the merge box specifically, but I think I see the use case you're coming from: needing to merge a pull request and wanting a one-stop shop of all the reasons you might be blocked from doing so. We can add a new article for this information called "Troubleshooting the mergeability of your pull re

[2022-11-08 21:21] cmwilson21 commented on #21659
@blakegearin After talking with the team, we think you may be right. Would you mind opening up a new issue and include both of those in it? Then we can triage and track it ✨

[2022-11-08 21:38] cmwilson21 commented on #21333
Closing this as I believe the merged PR fixes it 💖

[2022-11-08 21:38] #21333 closed

[2022-11-08 21:45] cmwilson21 commented on #21686
@jklanica Thanks for opening an issue and sorry for the delay! I've had trouble trying to replicate this. Could you take a screen shot of what you are seeing?

[2022-11-08 21:47] cmwilson21 commented on #21871
@Clockwork-Muse Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-08 21:56] cmwilson21 commented on #15319
@airtonix Sorry, I may have been mistaken. I thought it was covered [here](https://github.com/github/docs/commit/16650c68293e9bdf652e4b10839d4206683abd6b). I'll reopen the issue.

My apologies! 🙈

[2022-11-09 04:45] AWSTECHNOLOGIES-SUDO opened #21916 "gh pr create"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-11-09 12:24] atreeon opened #21917 "Regression: The menu nor breadcrumb works on a mobile phone view"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

all

### What changes are you suggesting?

show the breadcrumb and the menu when viewing the docs on a mobile phone

### Additional information

#21210 shows as closed and done but the problem

[2022-11-09 14:01] cyanboy opened #21919 "Fix typo in Configuring CodeQL CLI in your CI system"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Configuring CodeQL CLI in your CI system](https://docs.github.com/en/code-security/code-scanning/using-codeql-code-scanning-with-your-existing-ci-system/configuring-codeql-cli-in-your-ci-syst

[2022-11-09 14:48] #21916 closed

[2022-11-09 14:50] cmwilson21 commented on #21919
@cyanboy Thank you for opening an issue and linking it to your PR! ✨

[2022-11-09 20:39] cmwilson21 commented on #21917
@atreeon Thanks for checking in on this one. 👋

I understand it’s frustrating not being able to see or track any updates. The work to remedy this is part of a bigger internal issue addressing other UX concerns. I’ve reported your feedback to the team. Since this is part of a bigger internal issue, there’s not a way to track this progress specifically in the OS repo.

Because of the internal compon

[2022-11-09 20:39] #21917 closed

[2022-11-09 20:41] cmwilson21 commented on #21697
@mytting Sorry for the delay, but I've checked in with the team, and we are not going to add cirun to the docs. 💛

Thank you for your passion and interest in improving GitHub Docs! ✨

[2022-11-09 20:41] #21697 closed

[2022-11-09 21:59] hoanglamcoin commented on #21917
![image](https://user-images.githubusercontent.com/114911937/200950302-8f4a1ba2-9162-43dd-ac93-67b25cdc98f6.png) I don't speak English so I don't know what people said my wallet before the conversion but now it's gone and when I go to any website the wallet link goes up and it says 1 sign in and it pops out.![image](https://user-images.githubusercontent.com/114911937/200950871-23fef6b2-1b40-4f60-b

[2022-11-09 22:52] pereriksson commented on #21850
Still no luck with getting a preview environment for this issue. Let's hope Github staff can fix at some point.

[2022-11-09 23:34] neilotoole opened #21927 "Workflow job execution doc should clarify that 'env' context is not available in job 'if' conditional"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-jobs/using-conditions-to-control-job-execution

### What part(s) of the article would you like to see updated?

The doc has an example:

[code]

I spen

[2022-11-10 10:33] mkutz opened #21930 "Using gh in an workflow seems to require setting GH_TOKEN"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions

### What part(s) of the article would you like to see updated?

When I tr

[2022-11-10 11:09] stefanscheidt commented on #21930
Part of the error message shown in the GitHub workflow log when omitting the `GH_TOKEN` env var:
[code]

[2022-11-10 11:49] japui-coder commented on #15319
GITHUB_REF and GITHUB_REF_NAME examples in Actions docs unclear #15319 #21932

[2022-11-10 14:01] lecoursen commented on #21798
Thanks @AlekSi, I chatted with the team about this, and it sounds like Git LFS objects are _sometimes_ rendered and sometimes not. Rather than trying to explain the complicated criteria, let's just update that note to say this:

You or anyone else is welcome to open a PR doing so!

[2022-11-10 14:23] cmwilson21 commented on #21927
@neilotoole Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-11-10 16:02] #21732 closed

[2022-11-10 17:26] #21919 closed

[2022-11-10 18:14] jc-clark commented on #20970
✨ 👋 Hey @mlschechter. We agree that these permissions need some improvement. I'm going to close this issue out because we're now tracking this internally so that we can work with key stakeholders to improve these descriptions.

Thank you for raising this issue!

[2022-11-10 18:14] #20970 closed

[2022-11-10 18:58] lecoursen commented on #21865
Thank y'all for the discussion! We've had a handful of issues and PRs related to this section, so we're going to close this issue and figure out the best path forward internally. Thanks again for bringing it to our attention!

[2022-11-10 18:58] #21865 closed

[2022-11-10 19:25] lecoursen commented on #21927
Hi @neilotoole! Sorry you ran into trouble here, the solution is explained in a different article, "[Environment variables](https://docs.github.com/en/actions/learn-github-actions/environment-variables#using-contexts-to-access-environment-variable-values)":

I can see how it would be helpful for readers to introduced to that same information in the "Using conditions to control job execution" artic

[2022-11-10 19:35] neilotoole commented on #21927
@lecoursen Thanks for getting back to me. I tried repeatedly to access an envar in the `job` `if` conditional, but it always failed. Using the same syntax, I was able to access the envar in a `step` `if` conditional. My conclusion was that it was not possible to access envars in the `job` `if` conditional. If I'm wrong about that, could you provide an example to me, and I'll test it out.

[2022-11-10 20:08] neoncitylights opened #21944 "Navigating Code on GitHub: Rust language is not listed in supported tree-sitter languages table"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

"Navigating Code on GitHub" - https://docs.github.com/en/repositories/working-with-files/using-files/navigating-code-on-github

### What part(s) of the article would you like to see updated?