[2022-05-23 22:49] #16683 closed

[2022-05-23 23:45] katelovescode opened #18155 "Clarify YAML config for automated release notes"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-

[2022-05-24 00:23] HtunWinNaing opened #18157 "Mobile Learning"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Hello###

### What changes are you suggesting?

72440918

### Additional information

Hullo

[2022-05-24 00:23] #18157 closed

[2022-05-24 01:29] Makosah30 commented on #18155
This will be failure system interface it may depend on the worker who is operating the system the person should be time and understand what he or she is doing try this and I hope this is going to solve the problem

[2022-05-24 03:00] aisgbnok opened #18164 "Document new Note renderings `> **Note**`, `> **Warning**`, etc."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

- [Basic writing and formatting syntax](https://docs.github.com/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-

[2022-05-24 03:10] gingerhot opened #18165 "Some problem with Pages Quickstart docs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pages/quickstart

### What part(s) of the article would you like to see updated?

The repository name and owner in step 2 are not consistent with those in step 3. Th

[2022-05-24 04:03] NickVeld opened #18166 "`public`, `created_at`, `org` event common properties are missed in the docs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types#event-object-common-properties

### What part(s) of the article would you like to see updated?

When [API UR

[2022-05-24 06:29] janiceilene commented on #17791
Thanks so much for opening this issue @Andre601! You or anyone else is welcome to open a PR to make this fix ⚡

[2022-05-24 06:34] janiceilene commented on #17749
@ScottGuymer Are you still seeing this bug? Sometimes our system gets a little wonky and loads the tabs incorrectly. If you refresh or click a tab, it should all clear up. Definitely not ideal 😅

[2022-05-24 06:39] janiceilene commented on #17749
Good catch @ScottGuymer! I think we'll need to work on this fix internally. I've opened an internal issue and will close this one now 💖

[2022-05-24 06:40] aisgbnok commented on #18164
https://github.com/github/feedback/discussions/16925#discussion-4085374

[2022-05-24 06:49] #17469 closed

[2022-05-24 14:17] damien011 opened #18178 "1.5 million usd"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

retrouver les logs de mes compte me debarasser de ce hacking remonter au createur

### What part(s) of the article would you like to see updated?

pasteben native code jason open source

### A

[2022-05-24 14:19] damien011 commented on #18178
[creative.all.in.be.compagnie@gmail.com](url)

[2022-05-24 15:14] jsoref opened #18180 "Searching for `api.github.com/meta` doesn't work"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/meta

### What changes are you suggesting?

This search should work:
https://docs.github.com/en/rest/meta?query=api.github.com%2Fmeta
<img width="770" alt="imag

[2022-05-24 16:44] janiceilene commented on #17527
@j8srv32 I'm going to close this now, but please feel free to answer the questions above if you're interested in reopening. Thank you so much!

[2022-05-24 16:44] #17527 closed

[2022-05-24 17:17] #17785 closed

[2022-05-24 17:31] #17810 closed

[2022-05-24 17:55] jsoref opened #18187 "First sentence about only deleting issues in a personal repository is misleading"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/issues/tracking-your-work-with-issues/deleting-an-issue

### What part(s) of the article would you like to see updated?

I read that first sentence as meaning "it is

[2022-05-24 18:01] jsoref opened #18188 "Talk about closing issues as completed"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/issues/tracking-your-work-with-issues

### What part(s) of the article would you like to see updated?

A page to talk about closing issues in general (and probably a

[2022-05-24 19:59] jkidd11 opened #18191 "https://github.com/aws/aws-sdk-ruby/commit/3665106e009d2e46b022b00997c939b1c28fb022"
https://github.com/aws/aws-sdk-ruby/releases/download/v2.11.632/api-docs.tgz

[2022-05-24 19:59] #18191 closed

[2022-05-24 20:23] jkidd11 opened #18192 "Go in to DC"
raw.githubusercontent.com

[2022-05-24 21:48] jsoref opened #18195 "Explain that it's possible to see files from before a git-blame-ignore-revs change"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/working-with-files/using-files/viewing-a-file

### What part(s) of the article would you like to see updated?

Users don't naturally understand how to s

[2022-05-25 06:48] LRANUL opened #18206 "GIF support for GitHub content"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#Images

### What part(s) of the article would

[2022-05-25 07:52] jilgue opened #18208 "JavaScript code samples in "Add labels to an issue" are wrong"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/issues/labels#add-labels-to-an-issue

### What part(s) of the article would you like to see updated?

The fields `owner`, `repo` and `issue_number` in the code

[2022-05-25 09:29] janiceilene commented on #18045
👋 @jsoref Thanks so much for opening this issue! I chatted with the team and it led to a great conversation about how often/why users have been seeing this message a bit more often. We didn't update the page at all, but did push out some changes that will hopefully mean you won't see this page nearly as often anymore 🤞

I'm going to close this out now, but definitely let us know if you're still se

[2022-05-25 09:29] #18045 closed

[2022-05-25 13:19] Gourishankarbhoi opened #18215 "Sarkkiller"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Hack

### What part(s) of the article would you like to see updated?

Cash

### Additional information

Anywe

[2022-05-25 13:47] bogosj opened #18218 "Auto-sign commits in Codespaces terminal?"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/codespaces/managing-your-codespaces/managing-gpg-verification-for-codespaces

### What part(s) of the article would you like to see updated?

At the bottom of the ar

[2022-05-25 14:31] bogosj commented on #18218
In the terminal. Repro steps:

* Set up a fresh codespace
* Create a commit (works)
* `git commit --add commit.gpgSign true`
* Create a second commit:

[code]

[2022-05-25 14:40] thispsj commented on #18218
@bogosj so what do you want then ? Are you trying to enable the property `commit.gpgSign` ?

[2022-05-25 14:44] bogosj commented on #18218
I *have* enabled the property `commit.gpgSign`, that's the crux of my question about the documentation for this feature.

I've tried enabling it on the repo I'm working in as well as my global-user config. When I do this a naked `git commit -m "my message"` fails with the error:

[code]

[2022-05-25 14:54] thispsj commented on #18218
@bogosj It's a problem at your side ig. I just tried it and it worked flawlessly.

[Commit Link](https://github.com/thispsj/node-samples/commit/334540659b18dfcaff3557547a5ff652db41ae3f)

A screenshot for your reference :

![Screenshot](https://user-images.githubusercontent.com/51746608/170292439-86faafe1-cb69-4c52-9ea3-9998a1d90f7a.png)

[2022-05-25 16:45] janiceilene commented on #18165
Thanks so much for opening an issue @gingerhot! That could be confusing 💛 You or anyone else are welcome to open a PR with a fix ⚡

[2022-05-25 17:55] gsrohde commented on #17869
[@schalkneethling: While the following comment might be of interest to you if you use *called workflows*, it is primarily motivated by the hope that @steveward or whoever from the GitHub team works on this issue will see fit to either uniformize the behavior of *workflow_dispatch* inputs and *workflow_call* inputs or rewrite or add to the documentation in order to make clear how they work very dif

[2022-05-25 17:56] skedwards88 commented on #16605
Thanks for opening this issue! I agree that this would be good to mention.

https://docs.github.com/en/developers/apps/getting-started-with-apps/differences-between-github-apps-and-oauth-apps#webhooks

[timrogers](https://app.slack.com/team/U03BW11QD6U):alarm_clock:  [1 day ago](https://github.slack.com/archives/C2LCBTJ4Q/p1653352622186149?thread_ts=1653340639.750579&cid=C2LCBTJ4Q)
Webhooks are au

[2022-05-25 17:58] #18178 closed

[2022-05-25 17:59] skedwards88 commented on #16605
Thanks for opening this issue! For GitHub Apps, the webhook should be automatically cleaned up. For OAuth apps, there isn’t anything you can do about this right now, other than ask the user to remove the webhook manually. I agree that this would be good to mention in the docs. I would suggest updating https://docs.github.com/en/developers/apps/getting-started-with-apps/differences-between-github-a

[2022-05-25 19:22] Jehovaholyspirit01 opened #18230 "Jehovajesuschristholyspirit"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Goldcard

### What part(s) of the article would you like to see updated?

+(2)

### Additional information

_No response_

[2022-05-25 19:22] #18230 closed

[2022-05-25 19:22] Jehovaholyspirit01 commented on #18230
Request

[2022-05-25 19:22] Jehovaholyspirit01 commented on #18230
Add

[2022-05-26 08:44] Truthofmanyis1 opened #18249 "Z"
curl --netrc -X GET https://adb-1234567890123456.7.azuredatabricks.net/api/2.0/clusters/list

[2022-05-26 08:45] #18249 closed

[2022-05-26 08:59] Truthofmanyis1 opened #18251 "https://174.250.209.185/"
https://174.250.209.185/

[2022-05-26 09:00] #18251 closed

[2022-05-26 09:01] Truthofmanyis1 opened #18252 "Z"
https://github.com/w3c/webappsec-trusted-types/issues/367

[2022-05-26 09:10] Truthofmanyis1 opened #18253 "X"
https://github.com/octokit/octokit.rb/blob/b1590b5e198acdc84e1d56260eacf0a1cf409745/.github/workflows/octokit.yml

[2022-05-26 09:10] #18253 closed

[2022-05-26 09:12] Truthofmanyis1 opened #18254 "https://github.com/Truthofmanyis1/Truthofmanyis1/blob/main/README.md"
https://github.com/Truthofmanyis1/Truthofmanyis1/tree/main

[2022-05-26 09:12] #18254 closed

[2022-05-26 15:56] Truthofmanyis1 opened #18258 "29981 (2824×132)"

[2022-05-26 15:56] #18258 closed

[2022-05-26 18:19] janiceilene commented on #18164
@aisgbnok Thanks so much for opening a PR! I'll get this triaged for review ⚡

[2022-05-26 18:30] janiceilene commented on #18180
Thanks so much for opening an issue @jsoref! That is some really weird search behavior. I'll triage this for the team to take a look.

[2022-05-26 18:32] janiceilene commented on #18187
@jsoref Thanks so much for opening an issue! I'll get this triaged for review ✨

[2022-05-26 18:34] janiceilene commented on #18188
@jsoref Thanks for opening an issue! I'll triage this for the team to take a look 💖

[2022-05-26 18:38] janiceilene commented on #18195
@jsoref Thanks so much for opening a PR! I'll get this triaged for review ⚡

[2022-05-26 18:50] gaurav-ketkar opened #18264 "Add information about accessing archived tickets to docs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/support/contacting-github-support/viewing-and-updating-support-tickets

### What part(s) of the article would you like to see updated?

- Based on https://github.com

[2022-05-26 19:06] janiceilene commented on #18208
👋 @jilgue Thanks so much for opening an issue! I've chatted with the team and the example is correct. You can see more details in this [comment](https://github.com/github/docs/issues/17265#issuecomment-1129376182). I'm going to close issue 💛

Thanks for your interest in improving the GitHub Docs ⚡

[2022-05-26 19:06] #18208 closed

[2022-05-26 19:40] peterbe commented on #18180
The reason why any search with `:` fails is a known bug. It's related to how we use `Lunr` to do the search. (The search engine only expects `:` to be used when specifying topics like `topics:API` and so anything outside of that becomes an error)

But what you're ultimately proposing is that typing in a URL should find the page that has that URL. I'm not sure yet. What if there's a code example th

[2022-05-26 19:47] jsoref commented on #18180
Re: `Lunr`, cute. I'd hope you could at least preprocess to strip out `http:` and `https:`, that'd at least prevent normal users from tripping over it.

Yes, sorry, **both**. I'm not saying _not to search for the url_. Definitely do that. But also show the page itself.

👍

I'm constantly amused by the number of people who will search for things like `gmail` or `google`. (I saw a couple of people o

[2022-05-26 20:09] alexbrazier opened #18269 "Docs on expressions with extra conditions not clear"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/expressions#failure

### What part(s) of the article would you like to see updated?

The docs mention how to use `failure()` to catch fa

[2022-05-27 11:02] felicitymay commented on #18188
@jsoref - clearly great minds think alike. I've just reviewed a content design plan for a writer at GitHub who is working on adding a new article on closing issues to the docs ✨

I'll add a comment to our internal notes so that they can take a look at the context you've added here 😄

[2022-05-27 11:02] #18188 closed

[2022-05-27 11:08] chaiwatjaengchay11 opened #18283 "CHAIWAT JAENGCHAY"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-05-27 11:09] #18283 closed

[2022-05-27 18:56] peterbe commented on #18180
One thing I'm interested in keep an eye on is to include the URL path as part of the searchable text. For example, if you search for `meta foobar` it should give a slight leg up to matches on `/en/rest/meta` if that page also contains the word `foobar` compared to a page that *only* contains the word `foobar`. Thanks for the idea!

[2022-05-27 22:46] kaaid opened #18293 "Hello"
https://github.com/Machinalabs/remix-etherscan-plugin/blob/master/docs/index.md

[2022-05-27 22:46] #18293 closed

[2022-05-27 23:48] albertoEnstein commented on #18269
Open

[2022-05-28 03:33] gsrohde opened #18298 "Unclear text on Workflow syntax page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idname

### What part(s) of the article would you like to see updated?

There is a typo in the (si

[2022-05-28 15:05] samichycombd commented on #10967
[](url)facebook.com/SamiChyBD

[2022-05-28 15:06] samichycombd commented on #10967
facebook.com/SamiChyBD

[2022-05-30 00:43] lucascosti commented on #17905
👋 @driimus. Yep, you are correct in your understanding that `published` means any new release of the package. This could be an entirely new package, or any new package version.

Feel free for yourself (or anyone else) to open a PR to clarify the wording 🙂

[2022-05-30 00:47] #17928 closed

[2022-05-30 00:47] #18038 closed

[2022-05-30 00:55] lucascosti commented on #17869
Thanks for opening this, @schalkneethling. I _think_ inputs can only provided as strings, but you can set the type using `type`, so

[code]

 is valid for specifiying an input that is a boolean (using strings in YAML)

but forcing an expression to be a boolean is not valid YAML for GitHub Actions, e.g. this wouldn't be valid:

[code]

I think you're right, but will get an SME to confirm

[2022-05-30 01:14] lucascosti commented on #17867
Closing as per this comment in the associated PR: https://github.com/github/docs/pull/17868#issuecomment-1140576015

[2022-05-30 01:14] #17867 closed

[2022-05-30 10:20] Lemmingh opened #18321 "Confusing "Type" in GitHub's form schema"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

<https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-githubs-form-schema>

### What part(s) of the article would you like to see upda

[2022-05-30 17:48] gsrohde commented on #17869
@lucascosti As I point out in [my comment above](https://github.com/github/docs/issues/17869#issuecomment-1137645672), using
[code]
works perfectly well in the context of `on.workflow_call.inputs`, even though the on-line validator may flag it as a type error.  (And as I also point out, it _doesn't_ work in the context of `on.workflow_dispatch.inputs`.)

[2022-05-30 18:19] Shannawhaley commented on #17891
https://docs.github.com/en/billing/managing-billing-for-github-codespaces/about-billing-for-codespaces#calculating-storage-usage

[2022-05-30 19:58] geniusj204 opened #18326 "Add-Hidden prefrences"
https://www.google.com/preferences/interests/hidden?sh=n

[2022-05-31 08:57] #17007 closed

[2022-05-31 09:08] mattpollard commented on #16978
👋🏻 Thanks for the suggestion, @hickford! You or anyone else is welcome to create a pull request to add this information. You'd edit [this file](https://github.com/github/docs/blob/main/content/repositories/releasing-projects-on-github/automatically-generated-release-notes.md?plain=1#L18-L20). Let us know if you have questions!

[2022-05-31 09:17] #17504 closed

[2022-05-31 09:24] stevecat commented on #13044
Hi @bjorn :wave: Thanks for following up. I agree it would be helpful to provide some more information about redirects. Rather than explaining the very specific case of forking back after transferring, let's instead explain that:

* Redirects will function until a new repository or fork with the same name is created.
* Renaming or deleting the repository or fork will reinstate the redirect.

I thi

[2022-05-31 09:43] bjorn commented on #13044
Do you mean that, when a repo was previously moved from `a/foo` to `b/foo`, then forked back to `a/foo`, disabling the redirect, and then renamed to `a/bar`, will reinstate the redirect from `a/foo` to `b/foo`, rather than setting up a new redirect from `a/foo` to `a/bar`?

[2022-05-31 10:50] #13539 closed

[2022-05-31 14:20] cmwilson21 commented on #18180
Looks like these suggestions are being tracked internally. I will go ahead and close this issue. Thanks ✨

[2022-05-31 14:20] #18180 closed

[2022-05-31 14:56] #18326 closed

[2022-05-31 15:41] cmwilson21 commented on #18298
@gsrohde Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-05-31 17:54] cmwilson21 commented on #18321
@Lemmingh Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-05-31 19:13] jsoref opened #18353 "CODEOWNERS doesn't talk about forks"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### What part(s) of the article would you like to see upd

[2022-06-01 01:30] Jjb2238754 opened #18367 "H"
Who wants to chill?
https://www.instagram.com/tv/CXm9iLZF869BOBVKxer9iOo2k-i1shR4bdUnFc0/?igshid=MDJmNzVkMjY=

[2022-06-01 01:30] #18367 closed

[2022-06-01 02:06] martin389 commented on #18298
Thanks for spotting this. I think it can be clarified to say: "[...] to set a name for the job, which is displayed in the GitHub UI."

[2022-06-01 05:25] #18269 closed

[2022-06-01 05:43] lucascosti commented on #17893
👋 @scottwn This was noticed internally and recently fixed.

The docs for the correct key at `jobs.<job_id>.secrets.inherit`  are now at: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idsecretsinherit

Thanks for letting us know about this! 🙇‍♂️

[2022-06-01 05:43] #17893 closed

[2022-06-01 06:20] Sandesh333333 opened #18371 "146377"
https://github.com/miled/wordpress-social-login/blob/master/hybridauth/index.php

[2022-06-01 06:20] #18371 closed

[2022-06-01 10:06] #12556 closed

[2022-06-01 12:48] tnir opened #18375 "Table on Context in ja is broken"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/ja/actions/learn-github-actions/contexts#context-availability

### What part(s) of the article would you like to see updated?

https://docs.github.com/ja/actions/learn-

[2022-06-01 14:48] cmwilson21 commented on #18353
@jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-06-01 15:06] tnir commented on #18375
@cmwilson21 Thanks for reporting to internal. I know that.

The link should be https://github.com/github/docs/blob/main/contributing/types-of-contributions.md#earth_asia-translations as the one you showed looks dead now.

[2022-06-01 16:16] tomas-pajurek opened #18377 "Incorrect PowerShell Module Locations"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-powershell

### What part(s) of the article would you like to see updated?

In [PowerShell Module Locations]

[2022-06-01 22:08] GMNGeoffrey commented on #1087
So the doc update here was actually wiped out in https://github.com/github/docs/commit/95bd8c84f9, replaced with the much-less-clear "You can use the REST API to manage secrets." (followed by a link to those docs). The permission levels being different between the UI and the API is such an odd thing that it really deserves to be called out. Reading the current documentation, I would never think "o

[2022-06-01 22:34] aisgbnok opened #18384 "Fork Button Image is outdated"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Fork a repo](https://docs.github.com/get-started/quickstart/fork-a-repo#forking-a-repository) and [Contributing to projects](https://docs.github.com/get-started/quickstart/contributing-to-pro

[2022-06-02 01:30] gsrohde opened #18386 "Confusing presentation of filtering events by ref"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/triggering-a-workflow

and

https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

### What part(s) of the ar

[2022-06-02 07:51] hannanel100 opened #18392 "Add example for mongo service in actions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-containerized-services/about-service-containers

### What part(s) of the article would you like to see updated?

There should be another section after

[2022-06-02 16:58] cmwilson21 commented on #18377
@tomas-pajurek Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-06-02 17:07] cmwilson21 commented on #18392
@hannanel100 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-06-02 21:20] #15265 closed

[2022-06-02 21:39] #18008 closed

[2022-06-02 21:46] #18006 closed

[2022-06-02 22:07] skedwards88 commented on #17532
Thank you for this suggestion! I agree that we should add this info, but we will open an internal issue for it so that we can have our security team review it before publishing. I'm going to close this out in favor of the internal issue that I will open pointing to this issue.

[2022-06-02 22:07] #17532 closed

[2022-06-03 14:58] #4033 closed

[2022-06-03 15:23] #17836 closed

[2022-06-03 17:03] NickVeld commented on #18166
The PR is merged so the issue can be closed.

[2022-06-03 17:03] #18166 closed

[2022-06-03 17:16] skedwards88 commented on #17960
Thanks for flagging this! You are right: the documentation is incorrect, and the organization object is returned at the top level, not as part of the `repository` property. We are working on a fix internally, so I'm going to close this issue out.

[2022-06-03 17:16] #17960 closed

[2022-06-03 17:41] gsrohde commented on #18386
PR #18389 is tangentially related to this issue; but it doesn't address (and wasn't meant to address) the main point of my remarks, which is that there is no benefit to mentioning the full ref in these examples since they aren't what the patterns are matched against and are likely to only confuse the reader.  I think these full refs should either be removed from the presentation entirely, or their

[2022-06-03 18:14] gsrohde opened #18419 "Unclear notes about which activities for which events trigger workflows"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows

### What part(s) of the article would you like to see updated?

Most events listed on this page include a note

[2022-06-03 22:44] gsrohde opened #18424 "Redundant notes on "Events that trigger workflows" page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows

### What part(s) of the article would you like to see updated?

In the sections on the `pull_request` and `pul

[2022-06-04 20:35] vHeemstra opened #18434 "Page 'Skip workflow runs' - Difference between two code samples not visible due to wrapping."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[GitHub Actions / Managing workflow runs / Skip workflow runs](https://docs.github.com/en/actions/managing-workflow-runs/skipping-workflow-runs)
----
![image](https://user-images.githubusercon

[2022-06-05 08:24] bishal7679 opened #18437 "spelling Mistake of components on docs/stylesheets/README.md file"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/tree/main/stylesheets

![Screenshot (104)](https://user-images.githubusercontent.com/70086051/172041760-05458c5b-af17-4456-b0df-b34d2eec271c.png)

### What part(

[2022-06-05 08:26] bishal7679 commented on #18437
Can I make a PR for this issue?

[2022-06-05 13:32] bishal7679 commented on #16978
@mattpollard Can I add this line after the first sentence `Automatically generated release notes provide an automated alternative to manually writing release notes for your GitHub releases.`

[2022-06-06 10:24] #18298 closed

[2022-06-06 10:50] #18384 closed

[2022-06-06 15:04] cmwilson21 commented on #18437
@bishal7679 Thanks so much for opening an issue!  :zap:

You or anyone else is welcome to open a PR with the fix.

[2022-06-06 15:14] cmwilson21 commented on #16978
@bishal7679 It looks like the author has created a PR for this issue. In the future, you are welcome to open a PR for any `help wanted` issue without asking first. 💛

Thanks for your interest in improving our docs!

[2022-06-06 16:11] #18437 closed

[2022-06-06 18:38] carltonbrown opened #18451 "Documentation should reflect that certain REST APIs may not work with EMU"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/search#search-users

### What part(s) of the article would you like to see updated?

tl;dr I propose amending this document to reflect that customers cannot use

[2022-06-06 19:03] carltonbrown commented on #18451
closing/deleting, wrong repo

[2022-06-06 19:03] #18451 closed

[2022-06-06 19:55] skedwards88 commented on #17836
Closed via https://github.com/github/docs/pull/17835

[2022-06-07 03:07] huyz commented on #18164
Isn't this still a "beta feature" "subject to change"?

[2022-06-07 03:48] aisgbnok commented on #18164
@huyz, yes, to my knowledge this is still [being tested as a beta feature.](https://github.com/orgs/github-community/discussions/16925#discussion-4085374)

Once GitHub finalizes the syntax, design, etc. they will most likely document it. If they choose to leave it to public contribution, then a PR can be opened in this repo. This issue can be closed once the documentation is published, or if it's

[2022-06-07 04:28] thispsj commented on #17814
Someone please add the `codespaces` label also.

[2022-06-07 09:01] crqra commented on #17960
Thanks @skedwards88!

[2022-06-07 13:24] janiceilene commented on #16950
Thanks so much for opening this issue @vedant205! You or anyone else are welcome to open a PR adding a new sentence with a link to the community health files article to the blue note at the top of the page.

[2022-06-07 13:26] SeaOfTea opened #18463 "Typo in Tool picker name"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

I assume all pages where the tool picker is used are affected.
However here is a direct example, and the place where I spotted it. https://docs.github.com/en/pull-requests/collaborating-with-p

[2022-06-07 13:42] stevecat commented on #13044
@bjorn That's right. The redirect is created when the repository is moved. The redirect isn't deleted but it can be overridden. When you visit `a/foo`, the site will first check for a repository/fork with that name and when it can't find one, it will check for redirects.

In your example, once `a/foo` is renamed to `a/bar`, the redirect starts working again. I hope that's helpful!

[2022-06-07 13:45] janiceilene commented on #17312
Thanks so much for opening an issue @aisgbnok! You or anyone else are welcome to open a PR to add a new section to https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax, called "Supported color models." We should only include the syntax for the 3 supported formats, not any of the unsupported ones.

Thanks

[2022-06-07 15:18] mchammer01 commented on #17814
Hi @thispsj  👋🏻 - thanks for creating this issue ✨
Just to let you know that I've asked the relevant team for a technical review on your observations and suggestions. Thanks for your patience 😃

[2022-06-07 15:44] #18463 closed

[2022-06-07 19:17] emrul opened #18474 "In CodeSpaces docs include Twingate as an option for private network access"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[https://docs.github.com/en/codespaces/developing-in-codespaces/connecting-to-a-private-network](https://docs.github.com/en/codespaces/developing-in-codespaces/connecting-to-a-private-network)

[2022-06-08 05:34] #18434 closed

[2022-06-08 10:25] timrogers opened #18485 "Incorrect example payload for `push` webhooks"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#push

### What part(s) of the article would you like to see updated?

The example event payload f

[2022-06-08 18:14] entscheidungsproblem opened #18491 "Update Dependabot Supported Versions of Terraform"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates

### What part(s) of the article would you like to see updated?

The supported v

[2022-06-09 09:01] LayZeeDK commented on #18485
Samples from `push` trigger to a branch called `ci/use-nx-based-ci-workflow` in a repo callled `ngworker/lumberjack-next`.

`github.event`:
[code]
`github`:
[code]

[2022-06-09 09:03] LayZeeDK commented on #18485
So there's a `base_ref` property in `github.event` but its value is `null`. There's also the `github.base_ref` property, but its value is `""` (the empty string).

[2022-06-09 09:07] LayZeeDK commented on #18485
The documentation's *Webhook payload example* has:
[code]

The sample event I posted above has:
[code]

[2022-06-09 10:44] MikolaiHecht opened #18506 "Improve rate limit explanation on “Add a repository collaborator”"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Add a repository collaborator](https://docs.github.com/en/rest/collaborators/collaborators#add-a-repository-collaborator)

### What part(s) of the article would you like to see updated?

Rate

[2022-06-09 15:00] thispsj opened #18508 "Codespaces limit is outdated"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/codespaces/developing-in-codespaces/creating-a-codespace

### What part(s) of the article would you like to see updated?

The ["About codespace creation"](https://docs.

[2022-06-09 15:45] cmwilson21 commented on #18491
@entscheidungsproblem Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-06-09 15:53] cmwilson21 commented on #18506
@MikolaiHecht Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-06-09 16:25] cmwilson21 opened #18510 "Slow to respond for June and July"
Thank you so much for all the wonderful contributions to our repo 💖 We're so excited that you're here 🌟

We may be slow to respond for the months of June and July, as many people on the docs team will be taking time off.

[2022-06-09 16:35] cmwilson21 commented on #18508
@thispsj Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-06-09 16:38] brunoarueira opened #18511 "Fixes typo from slicitações -> solicitações"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/pt/rest/guides/getting-started-with-the-rest-api#using-personal-access-tokens

### What part(s) of the article would you like to see updated?

There are a small typo on

[2022-06-09 16:44] skedwards88 commented on #18485
Thanks for raising this issue! From [this article](https://docs.github.com/en/actions/learn-github-actions/contexts#github-context) it sounds like `base_ref` is only populated when the workflow trigger is `pull_request` or `pull_request_target`. I agree that the example payload in the webhook docs should be `null`. I'll need to fix this internally, and I'll close this issue once it is resolved.

[2022-06-09 17:21] cmwilson21 commented on #17913
@jsoref Thanks for opening this issue. It will require conversations with other teams, so I'm going to close this issue and open one internally for team collaboration. Thanks again! ⚡

[2022-06-09 17:21] #17913 closed

[2022-06-09 20:47] #18506 closed

[2022-06-09 22:10] gsrohde opened #18520 "Confusing example in Syncing a Fork"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/working-with-forks/syncing-a-fork#syncing-a-fork-from-the-command-line

### What part(s) of the article would you like

[2022-06-09 23:01] OmgImAlexis commented on #2271
Can you please explain how this makes any sense at all to upload/download the data from github each time? Guessing this explains this...
![image](https://user-images.githubusercontent.com/6525926/172959118-8d61d07e-6b19-456d-8e8a-840ecd63ecdc.png)

[2022-06-09 23:02] OmgImAlexis commented on #2271
This should be reopened.

[2022-06-09 23:45] juliandunn commented on #17902
That is the intention and we should reword it to be clearer that this is the recommendation.

I hear you about "Users use inline scripts because it's the easy option" but that is the reason for giving the second option. It still doesn't change the fact that to truly improve security they need to check & sanitize their inputs and the better way to do that is not in an inline shell script.

[2022-06-09 23:53] juliandunn commented on #17748
That seems reasonable to me, that we would just include an example like [this](https://github.community/t/can-i-share-strategy-matrices-between-multiple-jobs/195827/7)

[2022-06-10 00:30] jsoref commented on #17748
That fragment is a good start.

My preference would be to also include a sample `createMatrices` job to show setting the output with a matrix.

Thoughts?

[2022-06-10 04:43] juliandunn commented on #17748
Sure. Do you have one handy that works?

[2022-06-10 06:21] DaveyJH opened #18528 "`noreply` / `no-reply` consistency in email settings"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Setting your commit email address](https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-

[2022-06-10 09:50] mchammer01 commented on #18491
@entscheidungsproblem 👋🏻 - thanks for opening this issue. I am checking with the Dependabot team and will update you when I hear back.

[2022-06-10 10:05] mchammer01 commented on #18491
@entscheidungsproblem - I have checked with the team and we support `<= v1.2.x`
Thank you for bringing this inaccuracy to our attention ✨

Feel free, you or anyone else, to raise a PR with the updates for this.

[2022-06-10 11:31] myarb commented on #18392
@hannanel100 Thanks so much for opening an issue! I've spoken with the team and we're not going to add any additional examples at this time :yellow_heart:

Thank you for your interest and passion in improving the GitHub Docs!

[2022-06-10 11:31] #18392 closed

[2022-06-10 14:04] janiceilene commented on #18511
Closing because we can't accept localization PRs 💛 More information in https://github.com/github/docs/pull/18512#issuecomment-1152396645.

[2022-06-10 14:14] janiceilene commented on #18520
Thanks for opening an issue @gsrohde! I'll get this triaged for review ⚡

[2022-06-10 14:16] janiceilene commented on #17902
@laurentsimon You or anyone else are welcome to make the update outlined in the comment above ☝️

[2022-06-10 14:58] janiceilene commented on #18528
Thanks so much for opening an issue @DaveyJH! I agree that since the provided email address includes `noreply` without the `-` that it makes the most sense not to include it in this article. You're welcome to open a PR 💖

For the reusable, I'd generally open my editor and do a search for `{% data reusables.user-settings.set_your_email_address_in_git %}`, that should bring up all the articles that

[2022-06-10 15:38] laurentsimon commented on #17902
+1 for that. Using env variables in inline script is sanitization, in some sense.

I don't disagree. Just that it begs the question: who is writing the Action? The same user will make the same mistake in the Action.

[2022-06-10 18:05] #18485 closed

[2022-06-10 18:50] TonyGravagno opened #18537 "Document how to reference a label in GitHub-flavored Markdown"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax

### What part(s) of the article would you li

[2022-06-11 01:56] PythonCoderAS opened #18551 "`on.pull_request`: Document the default behavior of `pull_request` without any filters"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

`docs/content/actions/using-workflows/workflow-syntax-for-github-actions.md`
https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onpull_requestpull_request_ta

[2022-06-11 01:57] PythonCoderAS commented on #18537
I don't think this is allowed because shields.io is a third-party service.

[2022-06-11 11:29] ChristopherHX commented on #17823
_Not a typo..., but unclear / incomplete documentation_
[code]

[2022-06-12 01:08] Page1997 opened #18560 "Doce/Code of Conduct"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-06-12 02:46] jsoref commented on #17823
Indeed, so, it isn't that it's a typo, it's that the `jobs` context isn't listed on this page at all.

Obviously, it should be.

I'll change the issue description after we get confirmation...

[2022-06-12 10:42] DaveyJH commented on #18528
Thanks @janiceilene. Reading the second paragraph of your comment gave me an overwhelming sense of stupidity! I had been looking through the files on GitHub rather than in my editor - thanks for reminding me not to do that too often! 😅

It appears the reusable only appears in the one file; there is another, larger reusable that contains `noreply` as expected.

I have made a second branch that cont

[2022-06-12 14:35] devcep00 opened #18567 "davice"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-06-12 14:35] #18567 closed

[2022-06-12 15:19] Page1997 opened #18568 "install_linux.md"
https://github.com/cli/cli/blob/trunk/docs/install_linux.md

[2022-06-12 15:20] #18568 closed

[2022-06-12 15:21] Page1997 commented on #18568
@Page1997 @Octomerger @docs-bot @spicycode @docubot @monalisa-octocat

[2022-06-12 16:17] Page1997 opened #18569 "Cli"
https://github.com/lee-dohm/cli

[2022-06-12 16:17] #18569 closed

[2022-06-12 16:31] Page1997 opened #18570 "Outline-server"
https://github.com/Jigsaw-Code/outline-server/releases/tag/v1.9.0

[2022-06-12 16:31] #18570 closed

[2022-06-12 16:32] Page1997 opened #18571 "Outline-server"
https://github.com/Jigsaw-Code/outline-server/releases/tag/v1.9.0

[2022-06-12 16:32] #18571 closed

[2022-06-12 17:38] bishal7679 opened #18573 ""the" is misplaced in this sentence "It detects changes to files the in the translations folder ""
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/blob/main/script/README.md
![Screenshot (122)](https://user-images.githubusercontent.com/70086051/173245438-92a0db08-8cc6-4940-992d-56f7093c0d7f.png)

### What p

[2022-06-12 19:18] TonyGravagno commented on #18537
Thanks for the challenge...

- There's no reason not to reference another site. Other sites are mentioned in these docs for similar purposes.
- In particular, shields.io site is not competitive with Github or Microsoft.
- There is no endorsement or implication of affiliation with a reference to that site.
- That site is non-commercial, publicly supported, and entirely based on the [badges/shields]

[2022-06-12 19:23] PythonCoderAS commented on #18537
@TonyGravagno let me be clear, the issue is describing it enough that it seems to be official. I was thinking something that would be acceptable could be a sentence that just reads "Third-party services like `shields.io` allow dynamically creating images of repository labels."

[2022-06-12 21:20] TonyGravagno commented on #18537
I agree that would be ideal and I will ensure it's presented like this if the enhancement is approved. Thanks.

[2022-06-13 08:28] janiceilene commented on #18164
👋 @aisgbnok I've spoken with the team and we're not ready to add this to the docs yet, since it's so early in the beta. I'm going to close this now 💛

Thank you so much for your interest and passion in improving the GitHub Docs ⚡

[2022-06-13 09:52] Page1997 opened #18585 "CONTRIBUTING.md"
https://github.com/github/docs/blob/main/CONTRIBUTING.md

[2022-06-13 09:52] #18585 closed

[2022-06-13 11:36] #16875 closed

[2022-06-13 11:39] janiceilene commented on #18551
👋 @PythonCoderAS Thanks for opening an issue! The best place to get clarity about the workflow syntax is from our awesome [support team](https://support.github.com/contact). After that, if it looks like we should make an update to the docs, feel free to come back and comment in this issue or open a new one 💛

Thank so so much for your interest in improving the GitHub Docs!

[2022-06-13 11:39] #18551 closed

[2022-06-13 11:40] janiceilene commented on #18560
It looks like this may have been opened by mistake, closing it 💛

[2022-06-13 11:53] janiceilene commented on #18528
I've done this so, so many times 🙈

I've triaged your PR, but it may take us a while to review, as we've got lots of folks out for holidays over the next month 💛

[2022-06-13 11:55] janiceilene commented on #18573
Thanks for opening an issue @bishal7679! You or anyone else are welcome to open a PR to fix this typo 💖

[2022-06-13 12:02] DaveyJH commented on #18528
I feel better knowing I am not alone in!

Should I raise a second issue for the continuation of the changes? (not specific to [Setting your commit email address](https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-email-preferences/setting-your-commit-email-address)) - you may have guessed I am fairly new into the industry and trying to d

[2022-06-13 12:16] bishal7679 commented on #18573
@janiceilene why it is showing not accepted in deployment time of my PR. You have approved this issue.

[2022-06-13 12:23] janiceilene commented on #18573
@bishal7679 I just tweaked the syntax in the OP of your PR so they're linked now! Thanks for opening that ✨

[2022-06-13 12:25] bishal7679 commented on #18573
@janiceilene docs-engineering team will accept this changes?

[2022-06-13 14:34] #18573 closed

[2022-06-13 15:06] DanielNoord opened #18590 "Link to parameter options in ``List workflow runs`` is incorrect"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/actions/workflow-runs#list-workflow-runs

Specifically the section about the `status` parameter. There is a link to [`"Create a check run"`](https://docs.github

[2022-06-14 03:32] OmgImAlexis commented on #2271
Your link is broken btw. Managed to include the emoji in the link.

I've created a discussion for this as asked https://github.com/github-community/community/discussions/18549

[2022-06-14 05:30] bishal7679 opened #18606 "Add 'or not' at the end of this sentence "It checks whether Node.js is installed.""
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/blob/main/script/README.md
![Screenshot (125)](https://user-images.githubusercontent.com/70086051/173500025-cd10a127-0d86-4425-8689-0d03580e56e6.png)

### What p

[2022-06-14 05:56] #18419 closed

[2022-06-14 12:43] lecoursen commented on #18187
Thanks @jsoref, I agree that this phrasing is confusing. Since we do explain the permissions required for organization repositories just below, let's covert those two paragraphs into a bulleted list, preceded by some kind of introductory text that clarifies that the permissions required depend on whether the repository is owned by your personal account or an organization.

[2022-06-14 12:47] #18528 closed

[2022-06-15 08:55] janiceilene commented on #2271
🙈 Thanks for letting me know!

[2022-06-15 09:06] janiceilene commented on #18528
@DaveyJH Welcome to open source and thanks for spending some of your learning time with us 💖

You're welcome to just open a second PR with more fixes, since it's a continuation of this same issue and not an entirely new topic/area of the docs.

[2022-06-15 09:10] janiceilene commented on #18590
Thanks so much for opening an issue with a thorough explanation of what you're seeing and what you expect @DanielNoord! I'll get this triaged for review ⚡

[2022-06-15 09:31] janiceilene commented on #18606
Thanks for opening an issue with this suggestion @bishal7679! I think it'd be even clearer if we flipped it around a bit and said, `It checks whether or not Node.js is installed.`

You or anyone else are welcome to open a PR with this fix ⚡

[2022-06-15 09:38] janiceilene commented on #18537
👋 Thanks so much for opening an issue and clearly explaining your reasoning @TonyGravagno! Since this isn't a GitHub feature and is a totally optional thing that users can choose to add if they're interested, we're not going to add it to the docs 💛

Thank you for your interest and passion in improving the GitHub docs! ✨

[2022-06-15 09:38] #18537 closed

[2022-06-15 16:55] #15989 closed

[2022-06-15 21:34] #18590 closed

[2022-06-15 22:01] hamirmahal opened #18657 "Specify a page that will actually have user settings accessible in the top righthand corner"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

### What part(s) of the article would you like to see updated?

I saw `data/reu

[2022-06-16 10:21] janiceilene commented on #18657
👋 @hamirmahal Thanks for opening an issue! We use this reusable on many, many pages throughout the docs. Since your profile photo is visible in the top right hand corner of any page on GitHub, we're not going to add a link at this time.

[2022-06-16 10:21] #18657 closed

[2022-06-16 10:28] joonvena opened #18665 "Code samples uses token as authentication method instead of Basic Authentication"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/apps/oauth-applications

### What changes are you suggesting?

As the linked docs page states:
You must use [Basic Authentication](https://docs.github.com/rest/

[2022-06-16 13:36] wolfy1339 opened #18668 "[webhooks] Wrong example payload for `security_and_analysis` event"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#security_and_analysis

### What part(s) of the article would you like to see updated?

The payloa

[2022-06-16 17:59] timrogers commented on #18668
@wolfy1339 Thanks for taking the time to report this! I'm the Product Manager for Webhooks at GitHub. I'll pick this up with my team and will get this fixed as soon as we can.

[2022-06-16 19:46] timrogers commented on #18668
@wolfy1339 Have you been able to test this webhook, or are you just looking at the example? I'm wondering if the example is actually wrong or if it is just different to others (which might be a bad thing or a mistake!).

[2022-06-16 19:56] wolfy1339 commented on #18668
I haven't been able to trigger the webhook myself to test it properly.

It's different than others, not completely wrong. It's not in the expected format either, the payload has an extra `event` key, and the actual payload is wrapped inside the `payload` key, instead of being at the root of the JSON

![image](https://user-images.githubusercontent.com/4595477/174153051-125ce85f-e2ab-4511-b452-48fa1

[2022-06-16 19:59] timrogers commented on #18668
Thanks for clarifying! That's super helpful - sounds like you just think this webhook is unusual so you wanted to confirm. Let me check up on this internally and get back to you.

[2022-06-17 06:21] #18424 closed

[2022-06-17 09:27] janiceilene commented on #18665
@joonvena Thanks so much for opening an issue! I'll get this triaged for review ✨

[2022-06-17 11:07] timrogers commented on #18668
@wolfy1339 Watch this space - we're working on this issue.

[2022-06-17 12:54] styfle commented on #18537
It seems like GitHub must have a native way to do this because I'm seeing it in this PR: https://github.com/nodejs/node/pull/43310

<img width="910" alt="image" src="https://user-images.githubusercontent.com/229881/174301860-ac330112-b5b5-462b-b01a-c6ae4fef5557.png">

I'm not seeing this feature documented however so perhaps its beta? 🤔

[2022-06-17 18:28] skedwards88 commented on #18668
Thanks for flagging this! I've opened an internal PR to remove the extra `event` key from the payload example. You can expect to see that change live sometime next week. We're checking with the team about the other keys in question.

[2022-06-17 19:32] PythonCoderAS commented on #18537
Oh it's simple, just put in a normal link to the label. For example:

[code]

-> https://github.com/github/docs/labels/content

[2022-06-17 21:42] styfle commented on #18537
Cool! I don't see that documented though.

Perhaps it should be added to [Autolinked References and URLs](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls)

[2022-06-17 23:35] PythonCoderAS commented on #18537
Maybe open a different issue for that?

[2022-06-17 23:42] Mk1206mk commented on #17388
https://github.com/Mk1206mk/Mk1206mk.git

[2022-06-17 23:54] Sakhilemasina commented on #18537
is my job application to glassdoor successful?

On Fri, 10 Jun 2022, 20:52 Tony Gravagno, ***@***.***> wrote:

[2022-06-18 11:17] yuki-js opened #18703 "Typo in japanese content of Enabling debug logging"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/ja/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging#enabling-step-debug-logging

### What part(s) of the article would you like to see updated?

[2022-06-18 11:50] styfle opened #18704 "Missing docs for autolinking labels"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/autolinked-references-and-urls

### What part(s) of the article would you like to see updated?

Adding

[2022-06-18 11:51] styfle commented on #18537
I created #18704

[2022-06-18 17:05] CRamsan commented on #15727
This issue was closed but the feature is still not available, Can we please reopen it for tracking purposes?

[2022-06-19 10:40] ak2-lucky opened #18710 "Missing spelling in the command in the Japanese page."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/ja/repositories/creating-and-managing-repositories/troubleshooting-cloning-errors

### What part(s) of the article would you like to see updated?

missing command updat

[2022-06-19 17:58] hamirmahal opened #18715 "Remove overlap in suggested scopes of personal access token for GitHub GraphQL API"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/graphql/guides/forming-calls-with-graphql

### What part(s) of the article would you like to see updated?

https://docs.github.com/en/graphql/guides/forming-calls-wi

[2022-06-20 07:24] thomscoder opened #18724 "Consider adding new Achievements badges list"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Affected article](https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-profile/customizing-your-profile/personalizing-your-profile)

### What part(s) of the arti

[2022-06-20 12:21] mbogh opened #18727 "Incorrect syntax for OpenID Connect trust policy"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services

### What part(s) of the article would you like to see updat

[2022-06-20 15:41] solvaholic commented on #14926
I think it means _GitHub endorses and supports users' use of Octokit, and may sponsor maintenance of the library's projects_.

[The published doc](https://github.com/github/docs/blob/1f0d011173210de6c73a8ab983d29f8f4daa15f0/content/rest/overview/libraries.md#octokit-comes-in-many-flavors) currently lists 3 libraries as official. When users want help I think they may open issues or discussions in t

[2022-06-20 17:41] bishal7679 commented on #18710
/assign

[2022-06-20 19:38] abbylentz opened #18736 "Clarifying the source of a script file"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/hosting-your-own-runners/configuring-the-self-hosted-runner-application-as-a-service

### What part(s) of the article would you like to see updated?

This pa

[2022-06-20 19:59] jonathansick opened #18737 "check_suite webhook payload status enum should have "queued" instead of "requested""
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#check_suite

### What part(s) of the article would you like to see updated?

In the **Webhook pay

[2022-06-21 04:44] Bullenprof1 opened #18743 "Become a Producer at studio.faphouse.com"
https://studio.faphouse.com/pages/compliance_2257

[2022-06-21 12:57] benCoomes opened #18748 "Remove Extra Step in 'Managing Moderators'"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/organizations/managing-peoples-access-to-your-organization-with-roles/managing-moderators-in-your-organization

### What part(s) of the article would you like to see

[2022-06-21 17:22] NexusXe opened #18751 "Fix system spec terminology error"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners

### What part(s) of the article would you like to see updated?

Saying "SSD disk" and "RAM memory" w

[2022-06-21 18:18] jsoref opened #18753 "Create documentation for unarchiving-repositories"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/archiving-a-github-repository/archiving-repositories

### What part(s) of the article would you like to see updated?

1. Create a page explaining how to

[2022-06-22 16:17] ThetaEdra opened #18770 "Creating a personal access token"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token

### What part(s) of the article would you like to see updated?

The Description

[2022-06-22 16:18] #18770 closed

[2022-06-22 19:13] Philepe25 opened #18773 "Payment link"
37Utmdo4aVd4U3DhiSL4Vr5qcBUKTAVTPG

[2022-06-22 19:13] #18773 closed

[2022-06-22 22:34] vHeemstra opened #18777 "Explain `basehead` parameter for compare commits endpoint"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/commits/commits#compare-two-commits

### What changes are you suggesting?

The text doesn't explain what the `basehead` parameter should look like. The text say

[2022-06-22 22:40] ckuethe opened #18778 "Secret scanning docs missing examples of signature validation in python"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-cloud@latest/developers/overview/secret-scanning-partner-program#implement-signature-verification-in-your-secret-alert-service

At the time of this writin

[2022-06-23 03:54] djfurman commented on #15727
If this issue is not the correct place to keep the feature request open for the wiki support, can anyone direct to where we can make it a request?

[2022-06-23 05:18] zykadelic commented on #15727
https://github.com/orgs/github-community/discussions/11612 has the latest updates on wiki support

[2022-06-23 08:22] Athayde3586 commented on #18743
Hello this is my record label

[2022-06-23 08:57] Athayde3586 commented on #18353
There is no co owners there is only one owner

[2022-06-23 08:57] Athayde3586 commented on #18353
And that is me

[2022-06-23 08:58] Athayde3586 commented on #18321
I hope y'all still ain't trying to get what's mine

[2022-06-23 13:55] Elprimojr69 opened #18784 "Flex.tv"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-06-23 13:55] #18784 closed

[2022-06-23 14:55] #18743 closed

[2022-06-24 16:20] oplik0 opened #18798 "Document security policy being shown along with issue templates"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates

### What part(s) of the article would you like to se

[2022-06-24 19:44] #17811 closed

[2022-06-27 10:23] Paras-Saini commented on #13906
I want to work on this issue, as some keyboard shortcut are not updated according to the updated keyboard shortcuts on github.

[2022-06-27 16:57] #15733 closed

[2022-06-27 22:43] rjbell4 opened #18830 "Typo in app code sample"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/apps/apps#create-an-installation-access-token-for-an-app

### What part(s) of the article would you like to see updated?

Code sample

### Additional informatio

[2022-06-27 22:43] aidenwang9867 opened #18831 "Ambiguity found in the GitHub Dependency Review doc"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

The [GitHub Dependency Review](https://docs.github.com/en/rest/dependency-graph/dependency-review#about-the-dependency-review-api) document.

### What part(s) of the article would you like to

[2022-06-28 00:36] TonyGravagno commented on #18704
It's a shame that #18537 was closed because the suggested remedy was incorrect, though the request was exactly the same as the current one here. The problem was that I was trying to be helpful by suggesting how to solve a problem rather than just stating a problem and leaving it. That's really frustrating.

OK, I'm adding a +1 to support documenting how to autolink labels with a badge, as noted in

[2022-06-28 07:54] nawed2611 commented on #18830
<img width="218" alt="image" src="https://user-images.githubusercontent.com/83456083/176124620-c1d7b81a-36b9-496a-8ed8-dca28eb62624.png">

As you can see, there's a typo in the word ```respoitory```

I would like to fix this issue

[2022-06-28 08:13] sophietheking commented on #17099
Hey @ReidWeb, thanks for opening this issue, looks great and should definitely be added to the docs! ✨ I triaged it and you (or anyone else) are welcome to open a PR.

[2022-06-28 08:41] janiceilene commented on #17991
Thanks @pixelbrackets I've talked with the team about the issue and the associated PR. We've decided not to make the suggested changes. If a person no longer works at a company, they won't be able to verify an email address because they wouldn't have access to the email account anymore.

Thanks so much for your interest and passion in improving the GitHub docs!

[2022-06-28 08:41] #17991 closed

[2022-06-28 11:41] janiceilene commented on #18710
Thanks for opening this pull request! Unfortunately, we are not able to accept pull requests for translated content. Our translation process involves an integration with an external service at crowdin.com, where all translation activity happens. We hope to eventually open up the translation process to the open-source community, but we're not there yet.

See https://github.com/github/docs/blob/main

[2022-06-28 11:41] #18710 closed

[2022-06-28 12:12] janiceilene commented on #18737
@jonathansick Thanks so much for opening an issue! I'll get this triaged for review ⚡

[2022-06-28 12:13] janiceilene commented on #18736
@abbylentz Thanks so much for opening an issue! I'll get this triaged for review 💖

[2022-06-28 12:20] janiceilene commented on #18777
@vHeemstra Thanks so much for opening an issue! I'll get this triaged for review ⚡

[2022-06-28 15:21] cmwilson21 commented on #17750
After checking with the team, it looks as though, shortly after this issue was opened, an internal PR was submitted that added the missing information into Step 6. I'm going to close this issue now. Thanks again for opening the issue! 💛

[2022-06-28 15:21] #17750 closed

[2022-06-28 15:53] skedwards88 commented on #14926
Thanks everyone for this discussion! The Octokit libraries are now maintained again, and the maintainers are working on adding SUPPORT.md files, addressing security vulnerabilities, and cleaning up the projects.

- If you have a specific Octokit issue, you should open an issue in the corresponding Octokit repo. While these repos are maintained by GitHub, they are open source and community contribu

[2022-06-28 16:46] Artjomvbt opened #18845 "gh pr checkout 18732Thanks for opening this pull request! A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [contributing guidelines](https://github.com/github/docs/blob/main/CONTRIBUTING.md)."
Thanks for opening this pull request! A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [contributing guidelines](https://github.com/github/docs/blob/main/CONTRIBUTING.md).

_Originally posted by @welcome[bot] in https://github.com/github/docs/issues/18732#issuecomment-1160701210_

[2022-06-28 16:57] janiceilene commented on #18703
Thanks for opening an issue! Unfortunately, we are not able to accept pull requests for translated content. Our translation process involves an integration with an external service at crowdin.com, where all translation activity happens. We hope to eventually open up the translation process to the open-source community, but we're not there yet.

See https://github.com/github/docs/blob/main/CONTRIBU

[2022-06-28 17:05] janiceilene commented on #18831
@aidenwang9867 Thanks so much for opening an issue! I'll get this triaged for review ⚡

[2022-06-28 17:17] wolfy1339 commented on #18668
It seems the event was removed from the webhooks docs for GitHub.com (Free,Pro, Team)

Does this mean this event is only available to GHES users? If so, it would probably explain the other keys in question

[2022-06-29 00:26] OmarTawfik opened #18857 "Get Issue Labels description is nullable, while the docs say it is required"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/issues/labels

### What part(s) of the article would you like to see updated?

JSON Schema (and perhapes the examples) of the affected endpoints, including gett

[2022-06-29 03:05] OmarTawfik commented on #18857
Closing as I misread the API. It states that `description` is required, but nullable:

[code]

[2022-06-29 03:05] #18857 closed

[2022-06-29 07:01] najmiehsa commented on #13905
I work on this issue.

[2022-06-29 07:42] #18751 closed

[2022-06-29 08:18] hubwriter commented on #17891
@jsoref - That's really great detail! Many thanks for going the extra mile on this. 🎖️

We'll take a good look at all of these points and someone from the team will write up a content design plan for the necessary changes.

Thanks again for your help with this. Much appreciated. 👍

[2022-06-29 09:26] #18845 closed

[2022-06-29 09:30] janiceilene commented on #16324
Closing this to pick the work back up internally.

[2022-06-29 09:30] #16324 closed

[2022-06-29 16:12] magnussentio commented on #2418
So I'm facing the same issue, but slightly different: My repo was committed as public, github pages deployment was completely fine. I changed my repo to private (not realizing only public repos can be deployed), obviously the github page no longer worked. I then changed my repo back to public, and still my github pages does not redeploy. So it sounds like my only solution is to delete my repo and

[2022-06-29 16:19] #18703 closed

[2022-06-29 18:10] cmwilson21 commented on #13905
Thanks for your interest! You or anyone else are welcome to submit a PR with this update. ✨

[2022-06-29 18:33] nawed2611 commented on #13905
Can I work on this issue?

[2022-06-29 23:11] skedwards88 commented on #18737
You are correct. These are the possible values of `status`:

  - requested
  - in_progress
  - completed
  - queued

You or anyone else is welcome to open a pull request to fix this.

[2022-06-30 03:22] najmiehsa commented on #13905
@nawed2611 GIve this a try :)
 I can work on another issue.

[2022-06-30 06:54] nawed2611 commented on #13905
Sure thanks!

[2022-06-30 07:16] nawed2611 commented on #13905
Kindly review the PR made

[2022-06-30 07:40] andyliau opened #18891 "Inconsistent auth header in code sample"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/apps/apps#create-an-installation-access-token-for-an-app

### What part(s) of the article would you like to see updated?

[Create an installation access token f

[2022-06-30 13:21] timrogers commented on #18668
@wolfy1339 You're right - it has now disappeared! It is only available in GitHub Enterprise Cloud ([link](https://docs.github.com/en/enterprise-cloud@latest/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#security_and_analysis)), GHES and GitHub AE.

[2022-06-30 15:23] #13906 closed

[2022-06-30 15:37] mattpollard commented on #17891
👋🏻 Echoing @hubwriter's appreciation here: thanks for the detail. Just a quick note:

Slight correction: there are three types of accounts. In the context of GitHub.com...

- Free is a plan for personal accounts and organization accounts;
- Pro is a plan for personal accounts;
- Team is a plan for organization accounts;
- Enterprise is a plan that includes both organization accounts and an enterpr

[2022-06-30 16:30] cmwilson21 commented on #2418
Hey @magnussentio 👋 This question would best be handled by our [support team](https://support.github.com/request). Please reach out to them.

If there's anything in the documents that you have suggestions for updating, please feel free to open an issue. 💛

[2022-06-30 19:36] cmwilson21 commented on #18891
@andyliau Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-01 08:09] mbogh commented on #18727
Glitch in the matrix, Trust Policy editor is no longer complaining about it.

[2022-07-01 08:09] #18727 closed

[2022-07-01 14:44] cmwilson21 commented on #18830
Hi @Paras-Saini 👋 Thanks for your interest in updating this file! Most of our rest documentation has to be updated internally.

Please take a look at the help wanted section of [our open source board](https://github.com/github/docs/projects/1#column-11564194) to find open issues you can work on.

Thank you for your passion and enthusiasm for improving our docs! 💖

[2022-07-01 17:23] cmwilson21 commented on #18830
Since updates to the REST/GraphQL API description must be made internally. I have copied your issue to an internal issue, so I will close this issue.

Thank you for bringing this to our attention ✨

[2022-07-01 17:23] #18830 closed

[2022-07-01 17:25] cmwilson21 commented on #18891
Thank you for opening this issue! Updates to the REST/GraphQL API description must be made internally. I have copied your issue to an internal issue, so I will close this issue.

[2022-07-01 17:25] #18891 closed

[2022-07-01 19:59] jaclynj commented on #17891
Yes! This is much clearer.

---

This is mostly true. It is depends on their org settings. [This is our internal billable owner doc](https://github.com/github/codespaces/blob/main/docs/dev/design/billing/billing-ownership-model.md) that we keep up to date to understand who should be billed. (who should be billed for the codespace = the billable owner). Note that 'user pays scenario' is not impleme

[2022-07-02 20:47] Meggi-arch opened #18912 "https://www.reddit.com/user/Far-Quantity-308/upvoted.json?feed=687eeda70771a60e4e3fe726814c0838a3fe1542&user=Far-Quantity-308"
"

[2022-07-02 20:47] #18912 closed

[2022-07-02 22:07] Meggi-arch opened #18913 "uživatelů"
https://www.reddit.com/users/

[2022-07-02 22:07] #18913 closed

[2022-07-02 22:08] Meggi-arch opened #18914 "Amatéři.com"
https://github.com/github/docs/issues/18913#issue-1292151791

[2022-07-02 22:08] #18914 closed

[2022-07-02 22:11] Meggi-arch opened #18915 "Moje"
https://github.com/github/docs/issues/18914

[2022-07-02 22:11] #18915 closed

[2022-07-03 23:15] yakovmanshin opened #18921 "Missing link to Ubuntu 22.04 GHA runner configuration"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners

### What part(s) of the article would you like to see updated?

The list of available GitHub-hosted

[2022-07-04 10:09] Paras-Saini commented on #13900
I want to work on this issue.

[2022-07-05 08:25] nikola-jokic opened #18933 "Incorrectly stated that -eo pipefail is applied by default for bash when shell is not specified (Runner)"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#exit-codes-and-error-action-preference

### What part(s) of the article would you like to see updated?

`b

[2022-07-05 10:28] YashNagayach95 commented on #13810
How to get the target branch on push event (Not a PR yet)?
Target branch here I mean is main branch from where I created my own foo branch.
I need the target branch so that I can calculate the baseBranchCoverage on every push event.
Any suggestions?

[2022-07-05 12:47] alexgenaud opened #18936 "Explain different default contexts (fx with and without branch protection)"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/about-protected-branches

### What part(s) of the article

[2022-07-05 22:59] FW4248 opened #18938 "documents"
![github_apps_create_github_app](https://user-images.githubusercontent.com/104608815/177430094-8e8786c5-21c1-4f09-a471-4a1d909f5aee.png)

- [ ]   Do your merge by Creating app [here](
![icon_reminders__cguji2r4t03m_large](https://user-images.githubusercontent.com/104608815/177430373-6733376f-3324-48dc-8401-c640939683d4.png)
)

_Originally posted by @FW4248 in https://github.com/github/docs/pull/17

[2022-07-05 22:59] #18938 closed

[2022-07-05 23:04] FW4248 opened #18939 "18909"
Thanks for opening this pull request! A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [ uy lika !! whispsLanggam ](https://github.com/github/docs/blob/main/CONTRIBUTING.md).
[ ](576fa6d94338988aa9c230fcf9c0285c0511465a-104608815/177430094-8e8786c5-21c1-4f09-a471-4a1d909f5aee.png_Originally_posted_by_@welcome[bot]/in/https://github.com/github/docs

[2022-07-06 14:18] #18939 closed

[2022-07-06 22:08] jsoref commented on #17869
So, _some_ of this is _sort of_ described in https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#providing-inputs

[2022-07-07 20:28] gsrohde commented on #17869
Thanks.  This is very useful information.  It appears that this note was added about June 9 or so, and references to `github.event.inputs.*` in the surrounding text were changed to simply `inputs.*` at about that time as well.  I don't know what the workflow is for releasing changes to the documentation, so I don't know when this first appeared in the public-facing documentation.  I also don't kno

[2022-07-07 21:22] jsoref commented on #17869
They unified github.event.inputs and inputs around then.

This is probably the announcement:
https://github.blog/changelog/2022-06-10-github-actions-inputs-unified-across-manual-and-reusable-workflows/

[2022-07-08 10:50] Whiteme01 opened #18949 "Thanks for opening this pull request! A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [contributing guidelines](https://github.com/github/docs/blob/main/CONTRIBUTING.md)."
Thanks for opening this pull request! A GitHub docs team member should be by to give feedback soon. In the meantime, please check out the [contributing guidelines](https://github.com/github/docs/blob/main/CONTRIBUTING.md).

_Originally posted by @welcome[bot] in https://github.com/github/docs/issues/18947#issuecomment-1178557362_

[2022-07-08 13:14] cmwilson21 commented on #18949
This issue appears to have been opened accidentally. I'm going to close it now, but feel free to take a look at the [contributing.md](https://github.com/github/docs/blob/main/CONTRIBUTING.md/) to learn how to contribute in this repo. You can open a [discussion](https://github.com/github/docs/discussions) if you have any questions or check out issues with the [help wanted](https://github.com/github

[2022-07-08 13:14] #18949 closed

[2022-07-08 14:07] cmwilson21 commented on #13810
@YashNagayach95 👋  This question would best be handled by our [support team](https://support.github.com/request). Please reach out to them.

If there's anything in the documents that you have suggestions for updating, please feel free to open an issue. 💛

[2022-07-08 15:25] SirSpidey opened #18952 "Add context about issue label and contribute page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Setting guidelines for repository contributors](https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors)

### W

[2022-07-08 19:31] TonyGravagno commented on #18704
Suggestion : As a matter of protocol, please don't close tickets when someone is working on a PR ... Tickets should be Assigned, not Closed. PRs should then be applied to open tickets, verified, then closed. That is, why would anyone work on a task that's already closed? :)

And why should a comment like this be necessary in Github, of all places?

Thanks

[2022-07-08 22:32] m-kuhn opened #18955 "Documentation about secrets for step condition could elaborate on implications of the approach"
I think this would deserve a hint on the implication that the secret is leaked to every step within the job, regardless if it's required for a certain step or not (hence violating the principle of least privilege).

_Originally posted by @m-kuhn in https://github.com/github/docs/issues/12722#issuecomment-1172714298_

[2022-07-09 02:31] Zackaryjacob opened #18957 "stwrt_zch@yahoo:com"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

No

### What part(s) of the article would you like to see updated?

[3HhjUavPxQSdjGu7FCmz3nqEVE3Gsspxfi_en_usd_2020-05-17_2022-04-17_1 5.pdf](https://github.com/github/docs/files/9075710/3HhjU

[2022-07-09 02:31] #18957 closed

[2022-07-09 16:27] nhedger opened #18963 "Ambiguous instructions for publishing GitHub Actions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/creating-actions/publishing-actions-in-github-marketplace#publishing-an-action

### What part(s) of the article would you like to see updated?

https://docs.

[2022-07-10 15:15] noritada opened #18969 "Note on the use of square brackets in GitHub Actions workflows filter patterns"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Following paragraphs:

[on.<pull_request|pull_request_target>.<branches|branches-ignore>](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onpull_requestpu

[2022-07-10 20:49] Julisman1994 opened #18971 "turbo"
https://github.com/turbolinks/turbolinks-android/commit/a32b305e840097d657ce3ee5a1efaab52003305f

[2022-07-10 20:49] #18971 closed

[2022-07-10 21:09] Julisman1994 opened #18972 "turbolinks"
https://github.com/turbolinks/turbolinks-android/releases/tag/1.0.9

[2022-07-10 21:09] #18972 closed

[2022-07-11 18:04] cmwilson21 commented on #18955
@m-kuhn Thanks for opening a new issue for this. I'll get it triaged for review! ⚡

[2022-07-11 18:16] nhedger commented on #18963
Thanks @cmwilson21 !

[2022-07-11 20:07] tanmayeekamath commented on #17891
Thanks for the detailed feedback, this is very helpful!

+1 to everything @jaclynj mentioned above.

Re. Billing for codespaces prebuilds
Going back to the types of accounts:

For the Team and Enterprise plans, Codespaces can be enabled at an organization account level today. This means, for an Enterprise account that contains multiple organization accounts, an admin will need to enable Codespaces

[2022-07-11 20:25] #17312 closed

[2022-07-11 23:13] jsoref opened #18974 "`Requesting a pull request review` needs a review"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/requesting-a-pull-request-review

### What part(s) of the article wo

[2022-07-12 04:47] #18933 closed

[2022-07-12 07:16] #18748 closed

[2022-07-12 18:55] #18798 closed

[2022-07-12 19:05] cmwilson21 commented on #18952
Closing out this issue now. Details in [PR 18953](https://github.com/github/docs/pull/18953#issuecomment-1182142770)

✨

[2022-07-12 19:05] #18952 closed

[2022-07-12 20:16] ScriptAutomate opened #18984 "CODEOWNERS documentation claims that a user needs at least read access, but GitHub's built in linter claims the user needs write access"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### What part(s) of the article would you like to see upd

[2022-07-12 23:20] cmwilson21 commented on #18974
@jsoref Thanks for opening an issue and providing all this information 💖. I'll get this triaged for review! ⚡

[2022-07-12 23:35] cmwilson21 commented on #18984
@ScriptAutomate Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-12 23:37] #18921 closed

[2022-07-12 23:45] Walexero commented on #18753
Has this issue been solved or do i still need to contribute

[2022-07-13 00:38] jsoref commented on #18753
No. In theory you could try to write a PR offering such content.

I tend not to make PRs for things until I get an indication from GitHub staff that they'll accept it. (But, that's a personal choice wrt managing my resources.)

[2022-07-13 00:46] Benson665 commented on #18984
Thanks,I was carried away on my searching

[2022-07-13 00:53] Benson665 commented on #18974
All help can come from everyone of us that makes us all team together

[2022-07-13 00:55] Benson665 commented on #18969
All parts that will be more understandable easily and quickly

[2022-07-13 00:56] Benson665 commented on #18963
All easily and quickly parts thanks a lot

[2022-07-13 00:57] Benson665 commented on #18936
All easy and quickly parts

[2022-07-13 01:00] Benson665 commented on #18777
I was searching for it and I got missing, still on it.

[2022-07-13 01:09] Benson665 commented on #18753
It's okay now but you can still help by cording easy and quick understanding

[2022-07-13 01:34] Benson665 commented on #18955
Thanks also

[2022-07-13 06:46] vHeemstra commented on #18777
I couldn't find the matching doc file in the repo as well. I think this part is auto-generated from the (comments in) the source code?

[2022-07-13 15:27] cmwilson21 commented on #18936
Closing this issue as it was resolved with the closing of [PR 18935](https://github.com/github/docs/pull/18935#issuecomment-1181482848)

[2022-07-13 15:27] #18936 closed

[2022-07-13 15:29] cmwilson21 commented on #18753
@jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-13 16:30] cmwilson21 commented on #13645
We appreciate you taking the time to write up this issue and provide all the relative information. ✨

I’ve spoken with our team. We kept the language here fairly general since it is different for each provider. The ultimate goal is a CNAME that points [www.example.com](http://www.example.com/)  at <user>.[github.io](http://github.io/) , so we will not be changing the documentation around it.

Than

[2022-07-13 16:30] #13645 closed

[2022-07-13 21:47] m4ss1m0g opened #19000 "ssh keys custom name"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[error perimission-denied-publikey](https://docs.github.com/en/authentication/troubleshooting-ssh/error-permission-denied-publickey) article

### What changes are you suggesting?

Check if the

[2022-07-13 22:43] vedantsinghania05 opened #19002 "Add git lfs link or description to "Adding a file to a repository" page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/working-with-files/managing-files/adding-a-file-to-a-repository

### What part(s) of the article would you like to see updated?

Adding a link to the to

[2022-07-13 22:54] vedantsinghania05 opened #19003 "Discuss Github Copilot/Intellicode Conflicts in VSCode"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-visual-studio-code

### What part(s) of the article would you like to see updated?

[2022-07-13 22:58] skedwards88 commented on #18715
Closed via https://github.com/github/docs/pull/18716#issuecomment-1183761373

[2022-07-13 22:58] #18715 closed

[2022-07-13 23:30] GMNGeoffrey commented on #16515
I had exactly the same confusion and this issue appears to be the only documentation on this issue. Please reconsider clarifying what context values are in the case of `workflow_call`

[2022-07-14 03:08] aidenwang9867 commented on #18831
Hi Janice @janiceilene, are there any updates on this issue? :D

[2022-07-14 09:16] hubwriter commented on #18474
@emrul - Many thanks for raising this issue.

Can you provide some more information please?

Please provide a link to the documentation you're proposing linking to. If this is a page similar to [the page for Tailscale](https://tailscale.com/kb/1160/github-codespaces/) then this might be something it would be useful to link to.

Thanks again 👍

[2022-07-14 11:44] emrul commented on #18474
@hubwriter thanks for reaching out! I made a PR [here](https://github.com/github/docs/pull/18475#issuecomment-1151346936) that was closed without much detail and I asked for some feedback but didn't hear back.

We can certainly add a page on our docs site similar to the Tailscale page, let me go do that. Any other suggestions you'd like us to incorporate for this?

[2022-07-14 14:28] jsoref commented on #17891
@hubwriter there's a stray closing quote in one of the suggestion items.

Some suggestions say `organization or enterprise` and others `enterprise or organization`. I'd suggest being consistent, if I'm understanding things correctly, I think you should say the latter.

Enterprise is only mentioned once here and I think this isn't the way you'd want it to work.

I think this might work.

[2022-07-14 15:40] jaystyles commented on #18984
@Dependably close

[2022-07-14 15:42] jaystyles commented on #18963
@dependabot merge

[2022-07-14 15:43] jaystyles commented on #18963
@dependabot close

[2022-07-14 15:43] jaystyles commented on #19003
Thank you

[2022-07-14 16:19] cmwilson21 commented on #19002
@vedantsinghania05 Thanks so much for opening an issue and providing great detail! I'll triage this for the team to take a look :eyes:

[2022-07-14 16:21] vedantsinghania05 commented on #19002
Thank you!

[2022-07-14 16:40] cmwilson21 commented on #19003
@vedantsinghania05 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-14 19:05] vedantsinghania05 commented on #19003
Thank you!

[2022-07-14 22:10] gsrohde opened #19023 "Clarify what path value to use when using an action in the same repository as the workflow"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

### What part(s) of the article would you like to see updated?

This pertains to the [Using an action in

[2022-07-14 23:17] jsoref opened #19024 "restrict how the azure-preview-env-deploy.yml workflow runs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

This isn't specific to any particular article.

### What changes are you suggesting?

This workflow: https://github.com/github/docs/blob/main/.github/workflows/azure-preview-env-deploy.yml (an

[2022-07-15 10:29] hubwriter commented on #17891
Thanks @jsoref - I've modified the details in the OP.

[2022-07-15 11:54] hubwriter commented on #18474
@emrul - Thanks for getting back about this. I didn't spot the PR 🤦

I'll dig into this a little more and get back to you about this here.

[2022-07-15 12:16] emrul commented on #18474
Amazing!! Thanks @hubwriter, this is greatly appreciated. Will wait on an update 🤞🏽

[2022-07-15 14:51] cmwilson21 commented on #19023
@gsrohde Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-15 15:01] cmwilson21 commented on #19024
@jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-15 17:59] tempuslabs-devops opened #19039 "Missing section for webhooks with secret_scanning_alert or secret_scanning_alert_location"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads

### What part(s) of the article would you like to see updated?

There's no documentation for web

[2022-07-15 18:35] cmwilson21 commented on #3863
@andreiv1992 Thanks for bringing this up! This sounds as though it may need our awesome [support team](https://support.github.com/contact) to check into it. Please reach out to them to report this bug.

Thank you! 💛

[2022-07-15 18:52] cmwilson21 commented on #18831
@aidenwang9867 Thanks for checking in! 👍  We are still a bit [slow to respond](https://github.com/github/docs/issues/18510) right now, but this is up on the review board. Someone will get eyes on it soon 👀

Thank you for your patience! 💛

[2022-07-15 18:57] jsoref opened #19042 "reorder advice in `Best practices for leaving your company`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-personal-account-settings/best-practices-for-leaving-your-company

### What part

[2022-07-15 19:27] ScottTroyBritton commented on #19042
On Fri, Jul 15, 2022, 12:25 PM Scott Troy BrittonTM ***@***.***>
wrote:

[2022-07-15 20:09] nawed2611 commented on #18974
Can, I work on this issue?

[2022-07-15 20:14] Wookie9809 opened #19045 "Im not leaving"
### Code of Conduct

- [ ] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [ ] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [ ] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [ ] MUST emphasize how the thir

[2022-07-15 20:15] Wookie9809 commented on #19045
You no me better than that hommie[](url)

[2022-07-15 20:16] Wookie9809 commented on #19045
1. [ ]

# @- > [`**``**`](url)

[2022-07-15 20:22] jsoref commented on #18974
I personally wouldn't until I got a response from GitHub.

[2022-07-15 20:26] cmwilson21 commented on #18974
@nawed2611 Thanks for your interest in this issue! Right now, it's still waiting for review.

For issues that are open for anyone, check out our [help wanted](https://github.com/github/docs/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) section to find open issues you can work on. 💛

[2022-07-16 06:46] nawed2611 commented on #18974
Sure Thanks!

[2022-07-16 06:47] nawed2611 commented on #18520
Is this issue still open to work on?

[2022-07-16 06:49] nawed2611 commented on #17058
I would like to work on this issue!

[2022-07-16 10:46] orekihoutaro commented on #19045
LGMT!
Code of conduct should be updated...

[2022-07-16 11:32] pallarajasekhar commented on #19045
-_-

[2022-07-16 23:28] devjaiye commented on #19042
Helpful 💯💯

[2022-07-17 08:21] Andrewsmedia commented on #18974
yes
Visit Our Site Or Call For A Free Consultation (636) 385 - 4494
<https://frank-andrews-radio-media-advertisement.business.site>

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term

[2022-07-17 18:07] jnidzwetzki opened #19064 "Unnecessary code backticks around <kbd> blocks"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

On the [Introduction to dev containers](https://docs.github.com/en/codespaces/setting-up-your-project-for-codespaces/introduction-to-dev-containers#creating-a-custom-dev-container-configuratio

[2022-07-18 08:08] hubwriter commented on #17891
Just to clarify, for whoever picks up the docs work on this, the content design plan is in the original post above, and details the changes that need to be made.

[2022-07-18 08:17] hubwriter commented on #18474
@emrul - I've heard back from product management on this. That article is on the radar for an update, based on some work we've been doing in that area. We previously added the link to Tailscale after testing that solution internally here. We haven't done equivalent testing for Twingate. That's not to say that we wouldn't do that and add a link in future. However, at the moment, it's not clear whet

[2022-07-18 08:17] #18474 closed

[2022-07-18 09:58] Priyankasaggu11929 opened #19096 "add section for "creating projects" using api"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Under the heading [`using the API to manage projects (beta)`](https://docs.github.com/en/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects), add a sub-section with

[2022-07-18 11:16] tnir opened #19099 ""Viewing a project's contributors" needs a link to "List repository contributors""
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

- Viewing a project's contributors: https://docs.github.com/en/repositories/viewing-activity-and-data-for-your-repository/viewing-a-projects-contributors

### What part(s) of the article would

[2022-07-18 12:03] emrul commented on #18474
@hubwriter - I really appreciate you taking the time to dig in and explain the situation to us.  Your answer is not disappointing and much appreciated in fact.

For what its worth, my perspective is that any tooling that can help users get more from GitHub should always be welcome in docs (I say this as a GitHub user, your docs are pretty great!).  Either way we'd love for you to test out Twingate

[2022-07-18 13:50] cmwilson21 commented on #19039
@tempuslabs-devops @mstandley-tempus Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-18 13:57] cmwilson21 commented on #17058
@nawed2611 You or anyone else is welcome to work on this issue! 💖

[2022-07-18 13:59] #19045 closed

[2022-07-18 15:08] cmwilson21 commented on #19042
@jsoref Thanks so much for opening an issue! We appreciate the time and detail you've put into these suggestions. 💛

I'll triage this for the team to take a look :eyes:

[2022-07-18 16:25] cmwilson21 commented on #19064
@jnidzwetzki Thanks so much for opening an issue and linking your PR to it! 💖

[2022-07-18 18:51] cmwilson21 commented on #19096
@Priyankasaggu11929 Thanks for opening this issue and linking your PR to it! 💖

[2022-07-18 18:56] cmwilson21 commented on #19099
@tnir Thanks for opening this issue and linking it to your PR 💖

[2022-07-18 22:25] dmalan opened #19122 "API docs for creating a repository using a template don't indicate that template can also be public"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/repos/repos#create-a-repository-using-a-template

### What part(s) of the article would you like to see updated?

Currently, the docs say:

Ideally, docs would

[2022-07-19 06:32] janiceilene commented on #17714
@jsoref Thanks for opening an issue! I've discussed it with the team and we're going to leave the docs as they are since they follow our style guide and conventions. Adding this additional content may confuse more users than it helps.

Thanks again!

[2022-07-19 06:32] #17714 closed

[2022-07-19 06:39] janiceilene commented on #16667
Thanks so much @jsoref! I've spoken with the team and this one is something we're going to have bigger conversations with lots of folks internally. We've opened an internal issue to track that conversation, so I'm going to close this one now.

Thanks for pointing out this spot for improvement!

[2022-07-19 06:39] #16667 closed

[2022-07-19 08:16] #19099 closed

[2022-07-19 12:46] #19064 closed

[2022-07-19 16:17] cmwilson21 commented on #19122
@dmalan Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-19 23:49] madbernard opened #19156 "Use latest shell commands for ssh-add key article"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

 https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

### What part(s) of the article would you like to see updated?

[2022-07-20 12:15] Allyson04 opened #19166 "Docs unclear about custom-named SSH Keys"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

### What part(s) of the article would you like to see updated?

[2022-07-20 13:35] #19122 closed

[2022-07-20 13:58] cmwilson21 commented on #19156
@madbernard Thanks for creating this issue and linking it to your PR!

[2022-07-20 14:41] dmalan commented on #19122
Thank you, @cmwilson21!

[2022-07-20 15:07] ale94lko opened #19170 "Language misspelling"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/es/actions/creating-actions/about-custom-actions

### What part(s) of the article would you like to see updated?

I speak spanish natively and there are some misspellin

[2022-07-20 15:07] #19170 closed

[2022-07-20 15:11] ale94lko opened #19171 "Fix language misspelling in spanish documentation"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/es/actions/creating-actions/about-custom-actions

### What part(s) of the article would you like to see updated?

I speak spanish natively and there are some misspellin

[2022-07-20 21:05] zhongfly opened #19182 "Wrong example in rest github action cache api doc"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/actions/cache#delete-github-actions-caches-for-a-repository-using-a-cache-key

### What part(s) of the article would you like to see updated?

It said this api

[2022-07-20 23:30] hillearth commented on #4137
J

[2022-07-21 02:00] tnir opened #19184 "Some parts in "Comparing commits" do not work any more"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits#comparisons-across-commits

### What part(s) of the article would yo

[2022-07-21 02:27] tnir opened #19185 "Description in revision selection in "Comparing commits" is inadequate"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pull-requests/committing-changes-to-your-project/viewing-and-comparing-commits/comparing-commits#comparisons-across-commits

### What part(s) of the article would yo

[2022-07-21 08:15] nikola-jokic opened #19191 "Clarify how the bash shell will be invoked if not specified explicitly for jobs.<job_id>.steps[*].shell"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-cloud@latest/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsshell

### What part(s) of the article would you like to see update

[2022-07-21 14:49] dylanjha commented on #18353
Did anyone figure this out? Wondering the same thing

[2022-07-21 17:48] cmwilson21 commented on #19171
@ale94lko Thanks for opening this issue! ⚡ Unfortunately, we are not able to accept changes for translated content. Our translation process involves an integration with an external service, where all translation activity happens. We hope to eventually open up the translation process to the open-source community, but we’re not there yet.

See https://github.com/github/docs/blob/main/contributing/ty

[2022-07-21 17:48] #19171 closed

[2022-07-21 17:51] #19182 closed

[2022-07-21 17:54] cmwilson21 commented on #19184
@tnir Thanks so much for opening an issue and a PR! We appreciate all the detailed information 💖

[2022-07-21 18:03] cmwilson21 commented on #19185
@tnir Thanks for opening an issue and PR! We appreciate you taking the time to research it and provide great details 💖

[2022-07-21 18:10] cmwilson21 commented on #19191
@nikola-jokic Thanks for opening an issue and PR!

[2022-07-21 23:56] #13794 closed

[2022-07-22 13:39] jsoref opened #19214 "Mobile search results don't get enough space"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

The docs search view on mobile reserves way too much space for the things above the search text.

### What changes are you suggesting?

When on mobile, of a user enters text into the search fi

[2022-07-22 19:40] cmwilson21 commented on #18353
@dylanjha Thanks for checking in! This issue is up on the board and waiting for review. Someone will take a look at it soon 👀

[2022-07-22 20:13] 07961596451nhjj commented on #18353
[](https://github.com/07961596451nhjj/explore/tree/main)

[2022-07-24 00:51] horihiro opened #19239 "Arguments and options for `codeql database analyze` with `--download` example"
[maintainer edit]
This issue is reserved for the MLH Fellowship program.

### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-cloud@latest/code-security/code-scanning/using-codeql-code-scanning-with-your-ex

[2022-07-24 01:51] MafiaBoys commented on #19122
I don't like grammar and rows , but I learned it with my favorite teacher, @ [dmalan](https://github.com/dmalan)

[2022-07-24 19:48] palfrey commented on #3863
@cmwilson21 I've just opened a support ticket as I'm hitting this as well.

[2022-07-25 01:25] jsoref opened #19279 "Please clean up documentation for `/authorizations`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/github/docs/blob/61b260231c18d4ad15f1663087c912025b48ac71/content/rest/overview/index.md

Basically, there should be a page that directly covers `/authorizations`.

It is in

[2022-07-25 03:11] tannerdolby opened #19280 "Language search tags displaying as empty when the repo contains code of that tag"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Steps to reproduce:
1. Visit 'https://github.com/tannerdolby/binary-messenger'
2. Click on the 'Java' from the languages section.
3. See error 'We couldn’t find any code matching '' in [tanner

[2022-07-25 04:22] jsoref opened #19282 "githubs-ssh-key-fingerprints should link to rest/meta"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/githubs-ssh-key-fingerprints

### What part(s) of the article would you like to see updated?

It might make sense

[2022-07-25 04:22] jsoref opened #19283 "Add `host key verification failed` to `Troubleshooting SSH`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/troubleshooting-ssh

### What part(s) of the article would you like to see updated?

Create a new page for `host key verification failed`

* It should

[2022-07-25 14:15] cmwilson21 commented on #19239
@horihiro Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-25 14:35] cmwilson21 commented on #19282
@jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-25 14:39] cmwilson21 commented on #19283
@jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-25 16:09] tannerdolby commented on #19280
This seems to be resolved now. I'm not sure if a patch was implemented or if my original issue was an anomaly, but I will keep this open for a few days before closing in case anymore discussion continues.

<img width="1273" alt="Screen Shot 2022-07-25 at 9 04 03 AM" src="https://user-images.githubusercontent.com/48612525/180823838-c1da04ca-10c2-4c4c-8e00-efb330968baa.png">

[2022-07-25 18:09] cmwilson21 commented on #19214
@jsoref Thanks for opening an issue and bringing this to our attention. 👍

I've let the team know and we are going to open this as an internal issue. So, I'll go ahead and close this one out.

Thanks for the feedback! 💛

[2022-07-25 18:09] #19214 closed

[2022-07-26 05:59] Ahmadkhojaev commented on #16950
Hello Vedant Singhania. Thanks for opening a new issue. Good luck.

[2022-07-26 08:36] janiceilene commented on #19042
Wow, this is an old, outdated article that doesn't follow our style guide at all! Thanks so much for pointing this one out @jsoref ✨ We've opened an internal issue to update the whole thing (remove inline links and the `!` 😆 ), so I'm going to close this issue now.

Thanks again!

[2022-07-26 08:36] #19042 closed

[2022-07-26 08:49] janiceilene commented on #18753
Thanks for opening an issue @jsoref! I've looked at this one with the team and we think it makes the most sense to just add a new section below "Archiving a repository" called "Unarchiving a repository." Several of the steps can just be reusables from the Archiving section.

You or anyone else is welcome to open a PR with this update!

[2022-07-26 09:00] korosuke613 opened #19307 "`triggering_actor` is not listed in the `github` context"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Contexts - GitHub Docs
https://docs.github.com/en/actions/learn-github-actions/contexts

https://github.com/github/docs/blob/b2f87cd6a0ddd32baba98455e0f56d7bc5a58fd0/content/actions/learn-gith

[2022-07-26 09:57] nawed2611 commented on #17891
If this is open to work on, I can contribute to it!

[2022-07-26 11:58] jules-p commented on #19003
Hi @vedantsinghania05 👋🏻 Thank you so much for opening this issue, we really appreciate you taking the time. The issue you're describing is outside the scope of our docs, but I can raise it with the Copilot team and see whether there might be another way for us to surface the information. As it won't be part of the docs, I'll close this issue for now, but thank you again for highlighting it! ✨

[2022-07-26 11:59] #19003 closed

[2022-07-26 12:51] lecoursen commented on #17437
👋🏻 @fazith27, it looks like this may have dropped off your radar. I'll close the issue for now, but feel free to re-open if you get the chance to answer my question above!

[2022-07-26 12:51] #17437 closed

[2022-07-26 12:56] cmwilson21 commented on #19307
@korosuke613 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-26 13:03] cmwilson21 commented on #17891
@nawed2611 You or anyone else is welcome to work on this issue ✨

Thanks for your passion for improving GitHub docs! 💖

[2022-07-26 13:53] cmwilson21 commented on #19280
@tannerdolby Thanks for opening the issue and reporting back on it as well. I'm happy to hear that it is resolved now! 🎉

This doesn't really fall within the reach of the Docs team. If this were to come up again, I think a better place to bring up the issue would be with our awesome [support team](https://support.github.com/request). I'll go ahead and close this issue now.

If there's anything in

[2022-07-26 13:53] #19280 closed

[2022-07-26 14:36] abdullin opened #19311 "Documentation says"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/communities/documenting-your-project-with-wikis/editing-wiki-content

### What changes are you suggesting?

Documentation says that github docs use MediaWiki syntax:

[2022-07-26 14:36] #19311 closed

[2022-07-26 14:39] abdullin commented on #19311
I opened the issue intentionally, after spending time today figuring Github wiki problems with our Github Enterprise account.

[2022-07-26 14:52] abdullin opened #19312 "Fix docs to say that Github wiki Internal link format doesn't match MediaWiki link format"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/communities/documenting-your-project-with-wikis/editing-wiki-content

### What changes are you suggesting?

Documentation says that github docs use MediaWiki syntax:

[2022-07-26 17:43] tannerdolby commented on #19280
@cmwilson21 No problem! Thank you for the quick response. Yes, the issue seems to be resolved! 🎉

Okay, thanks for the clarification. I will make sure to bring up these types of issues with the [support team](https://support.github.com/request) if I ever encounter something like this again that doesn't fall into the reach of the Docs team.

I appreciate the info and will do! 👍

[2022-07-26 18:06] skedwards88 commented on #19279
@jsoref Thanks for this input! I agree that we need better authentication docs, and we are discussing ideas with the team. To make sure I understand what you are asking:

- Does [Basics of authentication](https://docs.github.com/rest/guides/basics-of-authentication) cover what you are looking for?
- Would it be clearer to combine [Other authentication methods](https://docs.github.com/rest/overview

[2022-07-26 18:09] skedwards88 commented on #19282
Thanks for this issue! You are anyone else is welcome to add this link to the docs.

[2022-07-26 18:27] jsoref commented on #19279
No.

I'm really trying to figure out what permissions my `GITHUB_TOKEN` has. And I have no idea how to do that.

I, personally, don't think having `Other authentication methods` as a separate article adds much value. So, I guess? (This is a really weak "yes")

It's linked because it was the only page that mentions it other than the meta page which shows it in the response. And yes, I'm aware it's

[2022-07-26 19:55] #17365 closed

[2022-07-26 22:10] skedwards88 commented on #19279
Thanks for this additional detail.

The `/authorizations` endpoint is documented at https://docs.github.com/en/rest/oauth-authorizations. Note: That endpoint is deprecated for non-GHES users, and the non-GHES docs are scheduled to disappear in the very near future.

For your question about `GITHUB_TOKEN`, I think that https://docs.github.com/en/actions/security-guides/automatic-token-authenticatio

[2022-07-26 22:12] vanjac commented on #15727
Above link is broken, here's the discussion page: https://github.com/orgs/community/discussions/11612

[2022-07-26 22:31] jsoref commented on #19279
As you've noted that the `/authorizations` endpoint is gone, shouldn't the `/meta` endpoint on GitHub (and the docs for the same) not mention it (conditional on NOT GHES)?

Similarly, shouldn't the https://docs.github.com/en/rest/oauth-authorizations#list-your-authorizations page no longer list it, as opposed to

https://docs.github.com/en/enterprise-server@3.2/rest/oauth-authorizations#list-your-

[2022-07-26 22:37] jsoref opened #19323 "Explain how an action can dynamically determine its `GITHUB_TOKEN` permissions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token

### What part(s) of the article would you like to see updated?

There's a se

[2022-07-26 22:42] jsoref commented on #19279
Filed #19323 for the `GITHUB_TOKEN` parts since apparently `/authorizations` is very much a ghost.

[2022-07-27 05:52] #18165 closed

[2022-07-27 06:40] martin389 commented on #19307
👋 The docs have just been updated, and you'll be able to find an explanation of `github.triggering_actor` here: https://docs.github.com/en/actions/learn-github-actions/contexts#github-context

[2022-07-27 07:45] #19307 closed

[2022-07-27 09:46] korosuke613 commented on #19307
Thanks!

[2022-07-27 11:41] vedant-z commented on #11784
@ramyaparimi If this issue is still open and no one's working on this, then may I ?

[2022-07-27 15:15] cmwilson21 commented on #19280
Sounds great! Thanks, @tannerdolby! 👍

[2022-07-27 15:20] cmwilson21 commented on #19323
@jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-27 15:32] cmwilson21 commented on #11784
@vedant-z Thanks for checking in on this. It looks like this issue was moved to an internal repo. Rest API docs fixes and improvements have to be done internally. Sorry about that! I'll close out this issue now. 💛

Please take a look at our [help wanted](https://github.com/github/docs/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) section to find other open issues you can work on.

Thank

[2022-07-27 15:32] #11784 closed

[2022-07-27 16:54] joel-coffman opened #19342 "No way to upload proof of academic status for education benefits"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/education/explore-the-benefits-of-teaching-and-learning-with-github-education/use-github-in-your-classroom-and-research/apply-for-an-educator-or-researcher-discount

[2022-07-27 20:12] cmwilson21 commented on #19312
@abdullin Thanks for opening an issue - I'm not sure why the bot closed your first one out, but we appreciate you opening another! 💛

I'll get this triaged for the team to take a look 👀

[2022-07-27 21:01] abdullin commented on #19312
@cmwilson21 thanks.

The bot was right - I forgot to fill the proper issue title :)

[2022-07-28 00:41] jsoref opened #19355 "Mention that no one else will know the current state of permission grants"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/support/learning-about-github-support/about-github-support#granting-github-support-temporary-access-to-a-private-repository

### What part(s) of the article would yo

[2022-07-28 09:24] felicitymay commented on #19039
Hi @mstandley-tempus - thanks for raising this omission in the docs and including a link to the blog post. It's really helpful to have the extra context ✨

I'll follow up on this with the engineering team.

[2022-07-28 09:49] felicitymay commented on #19039
@mstandley-tempus - I spent some time looking into this and can see what's happened.

Secret scanning only generates alerts for users of an enterprise version of GitHub. So the webhooks are only useful to people using enterprise versions of GitHub. Consequently, the webhooks are only listed in enterprise versions of the article, for example: [GitHub Enterprise Cloud](https://docs.github.com/en/ent

[2022-07-28 13:38] lecoursen commented on #18984
Thanks @ScriptAutomate, by coincidence this was actually just fixed internally and should be published shortly. 🙇🏻

[2022-07-28 13:38] #18984 closed

[2022-07-28 17:33] cmwilson21 commented on #19342
@joel-coffman Thanks for opening an issue and linking it to your PR! ⚡

[2022-07-28 17:38] cmwilson21 commented on #19312
@abdullin Gotcha! Thanks for letting me know. I was thinking our bot was on the fritz. 😄

[2022-07-28 17:40] cmwilson21 commented on #19355
👋 @jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-07-29 02:37] alialhammad1992 opened #19383 "Authentication"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

![C96BD34C-3F01-4EC6-88A7-D1000251924E](https://user-images.githubusercontent.com/104555394/181670898-0c5f3ed0-a148-4ee8-a644-dd71ad7d1894.png)

### What changes are you suggesting?

Saudi Ara

[2022-07-29 02:38] #19383 closed

[2022-07-29 10:40] thaiwab11 opened #19390 "Thaiwab"
Thaiwab

_Originally posted by @thaiwab11 in https://github.com/github/docs/discussions/19389_

[2022-07-29 10:40] #19390 closed

[2022-07-29 12:40] cmwilson21 commented on #19383
Hey @alialhammad1992! This issue would best be handled by our wonderful [support team](https://support.github.com/request). Please reach out to them.

If there's anything in the documents that you have suggestions for updating, please feel free to open an issue. 💛

[2022-07-29 20:43] thaiwab11 opened #19402 "Thaiwab"
Chartee Rodgawe

_Originally posted by @thaiwab11 in https://github.com/github/docs/discussions/19401#discussioncomment-3284123_

[2022-07-29 20:44] #19402 closed

[2022-07-30 03:58] yi-Xu-0100 commented on #17190
@ramyaparimi I make a PR(#19392) to fix this issue. I know that changes to translation files are not accepted, but I submitted it anyway because it's not a translation issue, but a style issue, and hopefully it will be updated. :)

[2022-07-30 08:07] Saransh-cpp opened #19416 "Incorrect return type for `startsWith`?"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/expressions

### What part(s) of the article would you like to see updated?

The docs for `startsWith` states that it returns a `boolean

[2022-07-30 14:51] mithatcy opened #19419 "I get a permission denied and I found a solution thanks to this Stackoverflow. It would be great if someone can point me to the right config for use custom key name. Why: Closes [#19000 ] What's being changed (if available, include any code snippets, screenshots, or gifs): Check off the following: I have reviewed my changes in staging (look for the "Automatically generated comment" and click the links in the "Preview" column to view your latest changes). For content changes, I have completed the self-review checklist. Writer impact (This section is for GitHub staff members only): This pull request impacts the contribution experience I have added the 'writer impact' label I have added a description and/or a video demo of the changes below (e.g. a "before and after video")"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

DSAASDASD

### What part(s) of the article would you like to see updated?

DSADASDADAS

### Additional information

DSADASDADSAD

[2022-07-30 15:14] #19419 closed

[2022-07-30 17:20] ryanrhanson opened #19420 "Add case-sensitivity note to HTTP verb documentation."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-server@3.6/rest/overview/resources-in-the-rest-api#http-verbs

### What part(s) of the article would you like to see updated?

Clarify that HTTP verbs are

[2022-07-31 23:39] jsoref opened #19447 "Response for `List app installations accessible to the user access token` is odd"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/apps/installations#list-app-installations-accessible-to-the-user-access-token

### What part(s) of the article would you like to see updated?

The JSON response

[2022-08-01 14:48] cmwilson21 commented on #19447
@jsoref Thanks so much for opening an issue and providing all this information! I'll triage this for the team to take a look :eyes:

[2022-08-01 20:22] cmwilson21 commented on #19416
@Saransh-cpp Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-01 21:18] cmwilson21 commented on #18831
@aidenwang9867 Thanks for your patience on this one! 💛

I spoke with the team and something that was noticed was that `pip.lockfile` isn't supported but `pipfile.lock` is. See the article on [supported package ecosystems](https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph#supported-package-ecosystems) for more informat

[2022-08-02 15:41] felicitymay commented on #19039
@mstandley-tempus - we've corrected the link from the [changelog](https://github.blog/changelog/2022-04-05-secret-scanning-webhooks-for-alert-locations/) to the article about web hooks.

I don't think that there are any other actions to take here, but feel free to reopen this issue if I've missed something and we can continue the discussion.

Wishing you the best of luck with your integration.

[2022-08-02 15:41] #19039 closed

[2022-08-02 16:51] aidenwang9867 commented on #18831
Thank you so much for the detailed reply!

[2022-08-02 16:51] #18831 closed

[2022-08-03 06:47] pronoym99 opened #19503 "Replace cross-marks ✖️ with tick-marks ✔️ to better represent permissions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Managing access to your organisations](https://docs.github.com/en/enterprise-server@3.6/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization)

[2022-08-03 13:52] mickey-philips opened #19507 "Using an underscore causes GitHub reusable workflow to be not found"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/reusing-workflows
source:
https://github.com/github/docs/blob/main/content/actions/using-workflows/reusing-workflows.md

### What part(s) of

[2022-08-03 15:03] 1233duy commented on #19507
Gxcvh

[2022-08-03 15:25] mstandley-tempus commented on #19039
Understood, thank you!

[2022-08-03 15:56] cmwilson21 commented on #19503
@pronoym99 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-03 16:09] cmwilson21 commented on #19507
@mickey-philips Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

Our actions team may be a little slow to respond right now, so we appreciate your patience! 💛

[2022-08-03 18:14] lgarron commented on #17814
@thispsj Do you think you'll get around to this at some point?
We'd love to seethe docs updated to avoid recommending our deprecated library.

[2022-08-04 03:22] Shangari-K opened #19520 "Add more subfields to Security and link the relevant doc pages"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Home page

https://docs.github.com/en

On our main home page, we have only included Code security under `Security`

It would be great if we could highlight the major Advances in security featu

[2022-08-04 03:52] thispsj commented on #17814
Ya sure I can implement this provided that I can edit REST docs. 😅

[2022-08-04 04:25] katmh opened #19521 "Missing example in "Contacting support" info for GitHub Actions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/understanding-github-actions

### What part(s) of the article would you like to see updated?

The "Contacting support" section describes

[2022-08-04 11:51] gdams opened #19526 "Update setup-java instructions to recommend Java 17 and Temurin"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

- https://docs.github.com/actions/automating-builds-and-tests/building-and-testing-java-with-ant
- https://docs.github.com/actions/automating-builds-and-tests/building-and-testing-java-with-ma

[2022-08-04 18:24] cmwilson21 commented on #19526
@gdams Thanks for opening an issue and linking it to your PR! 💛

[2022-08-04 18:32] cmwilson21 commented on #19521
@katmh Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

Our actions team may be a little slow to respond right now, so we appreciate your patience! :yellow_heart:

[2022-08-04 19:24] #19420 closed

[2022-08-04 20:30] skedwards88 commented on #17814
Thanks for opening this issue and for writing a replacement script @thispsj 💖 As you noted, this needs to be fixed internally in the OpenAPI schema, so I will add a label to start that process.

[2022-08-04 20:31] #17814 closed

[2022-08-04 21:03] #18510 closed

[2022-08-05 07:10] rafaelschlatter opened #19541 "Add help to install NuGet packages from a different repository"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-nuget-registry

### What part(s) of the article would you like to see updated?

The "Troubleshootin

[2022-08-05 15:32] cmwilson21 commented on #19355
👋 Hey @jsoref, I spoke with the team and found out that when Support unlocks a repo, the expected behavior includes the generation of several possible audit log events, including `staff.repo_lock` and `repo.staff_unlock` to name a couple. The repo owner can see these in their [security log](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log).

[2022-08-05 16:01] jsoref commented on #19355
Fwiw, searching for `repo.staff_unlock` doesn't work. Searching for `action:repo.staff_unlock` works.

https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log doesn't mention this event or any indication of how to know that this would be the event.

Completion for `action:` doesn't immediately show it.

In fact, the filter system shows up to five

[2022-08-05 19:12] cmwilson21 commented on #19541
@rafaelschlatter thanks for opening an issue and PR! 💖

[2022-08-06 02:41] Ed-Hack opened #19559 "Technology+Partner"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-08-06 02:41] #19559 closed

[2022-08-06 08:32] SethFalco opened #19563 "Poor instructions for getting starred_at property in stargazers endpoint"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/activity/starring

### What part(s) of the article would you like to see updated?

Currently, it states this:

But then it makes no mention of a value to use, a

[2022-08-06 12:21] vinzydev opened #19566 "Update cache action with correct snippet for Java-Maven example."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

### What part(s) of the article would you like to see updated?

Caching dependencies
You ca

[2022-08-06 14:36] AlekSi opened #19568 "Invalid anchor on the GraphQL/Reference/Objects page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/graphql/reference/objects

### What part(s) of the article would you like to see updated?

https://docs.github.com/en/graphql/reference/objects#projectv2 anchor from

[2022-08-07 13:43] InvincibleZeal opened #19580 "Update link text for searching repositories by number of stars as per example"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Search Repository by the number of stars](https://docs.github.com/en/search-github/searching-on-github/searching-for-repositories#search-by-number-of-stars)

### What part(s) of the article w

[2022-08-08 04:58] albinpk opened #19590 "Dropdown button is not readable on mouse hover"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

The `Free, Pro & Team` dropdown button is not readable on mouse hover

**Page affected:** https://docs.github.com/en/issues/tracking-your-work-with-issues/about-issues

**Browser:** Brave 1.42

[2022-08-08 14:03] cmwilson21 commented on #19563
@SethFalco Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-08 14:06] cmwilson21 commented on #19566
@vinzydev Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-08 14:13] cmwilson21 commented on #19580
@InvincibleZeal Thanks for opening an issue and linking it to your PR! 💖

[2022-08-08 14:14] tjenkinson opened #19593 "`state_reason` missing from rest api issue docs"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

~https://octokit.github.io/rest.js/v18#issues-update~ https://docs.github.com/en/rest/issues/issues#update-an-issue and probably some of the other issue entries too.

### What part(s) of the a

[2022-08-08 14:15] cmwilson21 commented on #19590
@albinpk Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-08 14:28] caseyMFRyan commented on #19580
- ![image](https://user-images.githubusercontent.com/95455673/183441687-50972f2b-0b78-47b4-ba97-12bbe4f23472.jpeg)

[2022-08-08 14:51] cmwilson21 commented on #19563
@SethFalco As docubot says, we will have to make this adjustment internally. Thank you for opening an issue 💛

[2022-08-08 18:44] cmwilson21 commented on #19568
@AlekSi Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-08 22:07] Hardikarya1995 opened #19603 "Hardikarya1995"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-08-08 22:08] #19603 closed

[2022-08-08 22:48] #19568 closed

[2022-08-08 22:59] #18777 closed

[2022-08-09 00:26] brownsarahm opened #19604 "outdated screenshot"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[renaming a repo](https://docs.github.com/en/repositories/creating-and-managing-repositories/renaming-a-repository)

### What part(s) of the article would you like to see updated?

- it shows

[2022-08-09 00:26] #19604 closed

[2022-08-09 00:33] brownsarahm opened #19605 "outdated screenshot on renaming a repository page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[renaming a repo](https://docs.github.com/en/repositories/creating-and-managing-repositories/renaming-a-repository)

### What part(s) of the article would you like to see updated?

![outdated

[2022-08-09 00:34] brownsarahm commented on #19604
opened #19605 instead

[2022-08-09 05:10] AlekSi commented on #19568
It makes it hard to know when this issue is fixed, though

[2022-08-09 09:29] #19503 closed

[2022-08-09 13:23] cmwilson21 commented on #19605
@brownsarahm Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-09 13:51] mchammer01 commented on #19605
@brownsarahm - thanks so much for noticing that this screenshot was outdated 🙈
I will fix this in our internal repo as this relates to screenshots ⚡

[2022-08-09 13:56] mchammer01 commented on #19605
@cmwilson21 - I raised an internal issue for this and will fix this during my review hour today 😃
Can I close this?

[2022-08-09 14:05] cmwilson21 commented on #19605
SGTM! Thank you @mchammer01!! :tada:

[2022-08-09 14:07] #19605 closed

[2022-08-09 17:57] SiaraMist commented on #19312
Thank you for your suggestion! ✨ You or anyone else can feel free to open a pull request to update the example in the Adding Links section to say `[[nameofwikipage|LinkText]]`, instead of the current order.

[2022-08-09 19:41] Lehcar opened #19624 "Update confusing wording on using self-hosted runners in a workflow"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/hosting-your-own-runners/using-self-hosted-runners-in-a-workflow#using-custom-labels-to-route-jobs

### What part(s) of the article would you like to see upd

[2022-08-09 19:46] jsoref opened #19626 "Mention that `GITHUB_*` and `RUNNER_*` can't be set using `GITHUB_ENV` (but that `CI` can be)"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/environment-variables

### What part(s) of the article would you like to see updated?

My understanding is that one can't set `GITHUB_*`

[2022-08-09 19:49] jsoref opened #19627 "Clarify that env vars are at least somewhat case insensitive on Windows"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-environment-variable

### What part(s) of the article would you like to see updated?

This is

[2022-08-09 20:13] nairb774 opened #19628 "Org Webhook: Document settings for requesting all event types."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/orgs/webhooks#create-an-organization-webhook

### What part(s) of the article would you like to see updated?

The documentation should note that the `events` at

[2022-08-09 21:01] jsoref opened #19631 "Provide a unified page that talks about the pull request bottom box"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks
https://docs.github

[2022-08-09 23:10] cmwilson21 commented on #19593
@tjenkinson Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-10 00:52] rachmari commented on #19590
@albinpk thank you for reporting this! I've opened an internal issue to get this fixed. We'll let you know when we've got an update in place. 🙇

[2022-08-10 04:09] albinpk commented on #19590
You're welcome

[2022-08-10 08:49] #19191 closed

[2022-08-10 13:47] calebboyd opened #19655 "Issue templates are only case insensitive initially."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/about-issue-and-pull-request-templates

### What part(s) of the article would you like to se

[2022-08-10 13:48] baolsen opened #19656 "OIDC on AWS documentation improvement"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services

### What part(s) of the article would you like to see updat

[2022-08-10 14:01] baolsen commented on #19656
I've submitted a PR, the build is failing because it is modifying restricted files.
However this issue requires those files to be modified... Happy for suggestions

[2022-08-10 14:03] baolsen commented on #19656
Relates to #15324

[2022-08-10 15:29] somtochiama commented on #15382
@skedwards88  I am willing to work on this to help get https://github.com/google/go-github/issues/2033 resolved.

Unfortunately, it isn't clear what the update should be. Testing out w the Github API, `package.package_version.body` is a string when the event is for an npm package but an object when the event is for a container package.

Secondly, `package.package_version.metadata` always seems to

[2022-08-10 16:08] cmwilson21 commented on #19626
:wave: @jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-10 16:13] cmwilson21 commented on #19627
👋 @jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-10 16:15] cmwilson21 commented on #19628
@nairb774 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-10 16:18] #19628 closed

[2022-08-10 16:18] cmwilson21 commented on #19631
👋 @jsoref Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-10 16:21] cmwilson21 commented on #19590
👋 Since this has been moved for internal work, I'm going to go ahead and close out this issue.

Thanks again for your passion for improving our docs! 💖

[2022-08-10 16:21] #19590 closed

[2022-08-10 16:22] cmwilson21 commented on #19655
@calebboyd Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-10 16:27] cmwilson21 commented on #19656
@baolsen Thanks for opening an issue and PR!

[2022-08-10 16:52] #18386 closed

[2022-08-10 21:45] jsoref opened #19667 "Search merges lines from tables w/o whitespace"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/learn-github-actions/environment-variables?query=macos

![image](https://user-images.githubusercontent.com/2119212/184026007-c2537d49-31cb-494d-931f-276f144b

[2022-08-11 01:15] tyntyn1 opened #19670 "Tyntyn1"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-08-11 01:15] #19670 closed

[2022-08-11 01:18] tyntyn1 commented on #19667
@t-dedah @jsoref @jsoref @bruce

[2022-08-11 01:43] bquantump opened #19671 "Add GHES 3.6 Performance Numbers"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

getting-started-with-github-actions-for-github-enterprise-server.md

### What part(s) of the article would you like to see updated?

The performance numbers matrix for vCPU to connected runner

[2022-08-11 08:30] mattpollard commented on #17514
👋🏻 Hi from the Docs team, @hak33m16. Thanks for your patience while we got to your issue.

The output you shared shows that GitHub.com's host key wasn't accepted when the connection was first attempted on the workstation.

[code]

Accepting the host key by typing `yes` and pressing Return after your client asks...

[code]

...will add GitHub.com to the _known_hosts_ file and allow a connection.

I

[2022-08-11 08:30] #17514 closed

[2022-08-11 13:17] cmwilson21 commented on #19023
Thank you for your patience as we work through our backlog 💛

[2022-08-11 13:17] cmwilson21 commented on #17869
Thank you for your patience as we are working through our backlog 💛

[2022-08-11 13:21] cmwilson21 commented on #19667
@jsoref 👋 Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-11 15:50] matthew0420 commented on #19312
Submitted a fix at https://github.com/github/docs/compare/main...matthew0420:docs:patch-1

[2022-08-11 17:00] rushtonmd commented on #15727
In case anyone is following this thread - Wikis now support Mermaid diagrams - see the [changelog](https://github.blog/changelog/2022-08-09-wikis-now-support-math-and-mermaid-diagrams/) for more info.

[2022-08-11 17:19] imhunterand opened #19690 "H1-446593 Fixed about vulnerabilities found other in H1-1646084"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://github.com/settings/apps

### What part(s) of the article would you like to see updated?

https://github.com/github/codeql/issues/9881

### Additional information

After I see the repo

[2022-08-11 17:40] rachmari commented on #19590
@albinpk we've put a fix in place. Thanks for reporting this, and please let us know if you're still seeing the issue.

[2022-08-12 04:45] RamonaReitz commented on #19667
https://vscode.dev/liveshare/377539EA169F43BA66091C8608121F955A35

[2022-08-12 05:50] thaiwab11 opened #19704 "[thaiwab11@gmail.com](kkk.thaiwab99.all.com) ``"
[thaiwab11@gmail.com](kkk.thaiwab99.all.com) ``

_Originally posted by @thaiwab11 in https://github.com/github/docs/discussions/19703_

[2022-08-12 05:50] #19704 closed

[2022-08-12 05:50] thaiwab11 commented on #19704
#19703

[2022-08-12 09:23] mchammer01 commented on #19239
@horihiro 👋🏻
We've checked with the CodeQL team and:
- The command-line parser we use allows flags and positional arguments to be intermixed freely, so the order of `--download` before the `/codeql-dbs/example-repo` path is allowed here.

- The second point is a bit more nuanced in that the example you provide should include both `echo $TOKEN` and `--github-auth-stdin`, or neither. The team's pref

[2022-08-12 10:37] gdams commented on #19526
CC @maxim-lobanov this one likely needs your approval. Also for added context this PR matches the basic suggested configuration on the setup-java docs https://github.com/marketplace/actions/setup-java-jdk#basic

[2022-08-12 13:52] cmwilson21 commented on #19312
@matthew0420 Thanks for making a fix. ✨

Can you open a [pull request](https://github.com/github/docs/blob/main/CONTRIBUTING.md#pull-request) for it? ⚡

[2022-08-12 15:20] matthew0420 commented on #19312
@cmwilson21 Pull request should be up, link here: https://github.com/github/docs/pull/19710

[2022-08-12 16:25] marosset opened #19712 "Token for graphql explorer should have read:project access"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/graphql/guides/forming-calls-with-graphql#authenticating-with-graphql and https://docs.github.com/en/graphql/overview/explorer

### What part(s) of the article would

[2022-08-12 16:25] marosset commented on #19712
@omerbensaadon

[2022-08-12 16:50] cmwilson21 commented on #19239
@horihiro Thanks again for opening this issue. You or anyone else are welcome to work on this following the suggestions above 💖

[2022-08-12 18:56] codingcodymiller commented on #19712
Seconding this issue. I attempted to include an Authorization header manually in the GraphQL Explorer's pane for providing request headers, but those headers are not being applied to the request at all either (Actual token replaced with filler value for the sake of the visual). [This page of the documentation](https://docs.github.com/en/graphql/guides/using-the-explorer) seems to be covering an ou

[2022-08-12 19:19] EUFELIPEPIMENTEL opened #19718 "FP"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

Old privacy

### What changes are you suggesting?

Improve our experience

### Additional information

_No response_

[2022-08-12 19:19] #19718 closed

[2022-08-12 19:22] SawMyintTun commented on #19718
Yes

09770090783

On Sat, 13 Aug 2022, 1:52 am welcome[bot], ***@***.***> wrote:

[2022-08-12 21:04] jhosman commented on #19002
Hi @vedantsinghania05, thanks for opening this issue! I agree that it would be helpful to include a link to the "About large files on GitHub" article.

You or anyone else is welcome to open a PR to add the following text at the end of the first paragraph in "[Adding a file to a repository](https://docs.github.com/en/repositories/working-with-files/managing-files/adding-a-file-to-a-repository)" (in

[2022-08-12 21:12] colossalchicken opened #19721 "postbin.org"
### Code of Conduct

- [x] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/webhooks

### What part(s) of the article would you like to see updated?

`postbin.org` has changed to `https://www.toptal.com/developers/postbin/`.

### Additi

[2022-08-12 21:12] #19721 closed

[2022-08-14 13:53] rlespinasse opened #19742 "Missing 'runs.' on post-entrypoint configuration for dockefile actions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#post-entrypoint

### What part(s) of the article would you like to see updated?

the 'runs for Docker con

[2022-08-14 20:19] Eikyarkway commented on #19656
plz

[2022-08-15 11:35] hubwriter commented on #17891
This issue is still open for anyone to pick up the content creation work and raise a pull request. The content design plan for the work required is in the original post above, detailing the changes that need to be made.

[2022-08-15 13:29] cmwilson21 commented on #19721
👋 @colossalchicken, it looks like our bot closed out your issue due to the title being only one word. Could you open this issue again and rephrase the title? ✨

[2022-08-15 13:31] cmwilson21 commented on #19712
@marosset Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-15 13:35] cmwilson21 commented on #19742
@rlespinasse Thanks for opening an issue and linking it to your PR! 💖

[2022-08-15 13:52] #19624 closed

[2022-08-15 13:56] timrogers commented on #19712
👋🏻 Thanks for reporting this issue. It should now be fixed. You'll need to sign out of the GraphQL Explorer and then sign in again to make sure that the correct permissions are available.

[2022-08-15 16:55] Fulya2133 opened #19808 "Thanks very much for contributing! Your pull request has been merged 🎉 You should see your changes appear on the site in approximately 24 hours. If you're looking for your next contribution, check out our [help wanted issues](https://github.com/github/docs/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) :zap:"
Thanks very much for contributing! Your pull request has been merged 🎉 You should see your changes appear on the site in approximately 24 hours. If you're looking for your next contribution, check out our [help wanted issues](https://github.com/github/docs/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) :zap:

_Originally posted by @github-actions[bot] in https://github.com/github/docs/is

[2022-08-15 17:06] marosset commented on #19712
@cmwilson21 @timrogers  - I signed out and in again and am able to query projectV2 objects via the GraphQL Explorer.
Thank you for the quick turnaround!

[2022-08-15 17:06] #19712 closed

[2022-08-15 17:15] rlespinasse opened #19809 "Missing 'Optional' flag on branding configuration"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/creating-actions/metadata-syntax-for-github-actions#branding

### What part(s) of the article would you like to see updated?

Adding `**Optional**` at the be

[2022-08-15 18:13] peterbe commented on #19667
Thanks so much for opening an issue! We've got an internal issue tracking this, so I'm going to close this one ✨

(note-to-self; it's issue # 2019)

[2022-08-15 18:13] #19667 closed

[2022-08-15 20:32] jamesbraza opened #19818 "Examples of CODEOWNERS ! negation"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

### What changes are you suggesting?

Currently for negat

[2022-08-15 23:58] GeekTrainer opened #19825 "Best practices for security advisories doc should use positive statements"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-cloud@latest/code-security/repository-security-advisories/about-coordinated-disclosure-of-security-vulnerabilities#best-practices-for-vulnerability-report

[2022-08-16 06:21] martin389 commented on #19521
Thanks for spotting this issue! I agree that this needs to be fixed. That bullet point could either be removed entirely, or the `, for example: a unique ID` part of the string can be removed. This approach will help futureproof the docs in case error messages are changed in future.

[2022-08-16 06:30] janiceilene commented on #19323
Hey @jsoref I've talked with the team and this is something that would be better to send over to the actions product folks! You can post in the new https://github.com/orgs/community/discussions/categories/actions-and-packages and come back to let us know if there ends up being something to change in the docs ✨

[2022-08-16 06:30] #19323 closed

[2022-08-16 07:46] chaiwattsw commented on #19521
I would like to take if author unavailable to do,  In my opinion removed the ` for example: a unique ID` part is better than removed entirely.

[2022-08-16 09:16] #19002 closed

[2022-08-16 10:24] #19312 closed

[2022-08-16 13:40] #19808 closed

[2022-08-16 13:41] cmwilson21 commented on #19809
@rlespinasse Thanks for opening an issue and linking it to your PR!

[2022-08-16 15:37] janiceilene commented on #19825
We're going to keep the language, so I'm going to close this. See PR comments for details:
- https://github.com/github/docs/pull/19826#issuecomment-1216665424
- https://github.com/github/docs/pull/19826#issuecomment-1216677431

[2022-08-16 15:37] #19825 closed

[2022-08-16 16:12] #19671 closed

[2022-08-16 17:15] kanishak11-cyber opened #19862 "Github Action page CSS break"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/guides

![image](https://user-images.githubusercontent.com/84625838/184939235-e615c845-3103-45f1-9477-57f78ddcd77a.png)

### What changes are you suggesting?

[2022-08-16 18:30] rp-jasonp opened #19869 "Update SSH Port 443 process to be useful."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/troubleshooting-ssh/using-ssh-over-the-https-port
https://docs.github.com/en/get-started/using-github/troubleshooting-connectivity-problems

### What

[2022-08-17 04:50] #19541 closed

[2022-08-17 05:25] #19809 closed

[2022-08-17 05:31] #19742 closed

[2022-08-17 09:41] dne opened #19904 "Fix misleading example of reusable workflows"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/actions/using-workflows/reusing-workflows

### What part(s) of the article would you like to see updated?

The [example reusable workflow](https://docs.github.com/en

[2022-08-17 14:33] cmwilson21 commented on #19862
@kanishak11-cyber Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-17 14:40] cmwilson21 commented on #19869
@rp-jasonp Thanks for opening an issue and PR! ⚡

[2022-08-17 14:48] cmwilson21 commented on #19904
@dne Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-17 15:17] cmwilson21 commented on #18665
@joonvena updates to our REST API content have to be made internally. I've transferred this for internal review, so will close this issue out now.

Thanks for your passion and interest in improving GitHub docs! 💛

[2022-08-17 15:17] #18665 closed

[2022-08-17 15:34] kanishak11-cyber commented on #19862
@cmwilson21
![image](https://user-images.githubusercontent.com/84625838/185181163-64c1aef3-963b-4fee-84d2-712160511f9a.png)
I also facing this issue

[2022-08-17 16:13] EncasedAmber opened #19922 "App Manager: Crash report"
java.lang.NumberFormatException: For input string: "93000001"
    at java.lang.Integer.parseInt(Integer.java:618)
    at java.lang.Integer.valueOf(Integer.java:775)
    at java.lang.Integer.decode(Integer.java:1232)
    at android.content.Intent.parseUriInternal(Intent.java:7376)
    at android.content.Intent.parseUri(Intent.java:7285)
    at io.github.muntashirakon.AppManager.intercept.ActivityIn

[2022-08-17 18:40] peterbe commented on #19862
Unable to reproduce. Did I miss something @kanishak11-cyber ?

https://user-images.githubusercontent.com/26739/185217554-0948b6bb-5e52-40b1-a6d6-37908738206a.mov

[2022-08-17 19:46] cmwilson21 commented on #19862
Maybe it's specific to dark mode? I'm getting a bit of it, too.

![Screen Shot 2022-08-17 at 2 44 53 PM](https://user-images.githubusercontent.com/77312589/185229018-b7aedcb4-0d25-4735-aeb4-d974af881042.png)

[2022-08-17 21:06] cmwilson21 commented on #19521
@chaiwattsw You or anyone else are welcome to work on this issue 💖

[2022-08-17 21:32] cmwilson21 commented on #17629
👋 @jsoref Thank you for your patience on this one. 💛

I’ve spoken with the team, we were able to reproduce this instance without the `Body cannot be empty error` populating. However, we did so without the `---` around the name and description, as the body tag is found externally here.

As for adding the error, you or anyone else are welcome to open a PR adding the error with a sentence similar to

[2022-08-17 21:39] jsoref commented on #17629
I probably should have explained that in my case, I'm pretty sure the reason for the error was the `---`. I'm not sure which will be more common: not having a body or for some reason copying a `---` and thus causing it not to be seen.

[2022-08-17 21:57] down4some1 commented on #4852
im sorry, but if i talk to my wife, you can have a random image, i will still always be ment to her. if monogamic features are a problem, im out. dont ask but smile that its over.

[2022-08-17 21:58] down4some1 commented on #4852
github.exe/offfeature

[2022-08-17 22:01] ScriptAutomate commented on #18984
@lecoursen Hey! Just following up: when you say this was "fixed internally" does this mean that the documentation was correct? I am still experiencing this problem in the linting result of the codeowners file and I am uncertain as to how I should proceed. If I ignore the linter errors, is it just meant to work the way I am expecting it to work based off of the docs?

[2022-08-17 22:08] ScriptAutomate commented on #18984
Thanks!

For documentation purposes: It looks like the error was in the documentation, which has since been fixed. It does mean that only users with **Write** access can be used in the CODEOWNERS file.

Is there a route I can take for a feature request? With our open source project, we would love to be able to have community members with explicit **Read** permissions to be able to be assigned to r

[2022-08-18 01:19] damon-atkins commented on #18984
It would be nice to able to have people who can not merge code (write),  be apart of the review/notification/approval process for a PR.

[2022-08-18 01:41] aitemour79 commented on #18984
***@***.*** com

On Wed, Aug 17, 2022, 11:10 PM Derek Ardolf ***@***.***>
wrote:

[2022-08-18 03:17] aitemour79 commented on #4852
***@***.*** com

On Wed, Aug 17, 2022, 11:01 PM down4some1 ***@***.***> wrote:

[2022-08-18 03:18] aitemour79 commented on #17629
***@***.*** com

On Wed, Aug 17, 2022, 10:35 PM Courtney Wilson ***@***.***>
wrote:

[2022-08-18 03:18] aitemour79 commented on #19521
Bouddi OK tomorrow

On Wed, Aug 17, 2022, 10:08 PM Courtney Wilson ***@***.***>
wrote:

[2022-08-18 03:21] aitemour79 commented on #19862
***@***.*** com

On Wed, Aug 17, 2022, 8:49 PM Courtney Wilson ***@***.***>
wrote:

[2022-08-18 03:21] aitemour79 commented on #19862
***@***.*** com

On Wed, Aug 17, 2022, 7:43 PM Peter Bengtsson ***@***.***>
wrote:

[2022-08-18 03:25] kanishak11-cyber commented on #19862
Im using dark Theme maybe it is in dark theme

[2022-08-18 06:41] lucascosti commented on #17823
👋 Thanks for opening this issue!

🤔 Yes, this is a bit complicated. For regular workflows, there is no `jobs` context. The `jobs` context only applies to reusable workflows (i.e. workflows with an `on.workflow_call` trigger), but I'm not 100% sure on where it can be used or what's in it; it might only be available to set outputs in the called workflow. I'll have to check in with engineering.

[2022-08-18 11:52] ajaykn commented on #17823
@lucascosti Thats right, this is available for reusable workflows while setting the output values.

Something like this:
[code]

and output1 data can look like:
[code]

[2022-08-18 13:38] #19922 closed

[2022-08-18 13:53] cmwilson21 commented on #17629
Gotcha. Thanks for clarifying here. And for submitting a PR, I'll get it triaged ⚡

[2022-08-18 14:47] darthwillis opened #19959 "Web commit signing docs mention a restriction that isn't necessary"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/enterprise-server@3.5/admin/configuration/configuring-your-enterprise/configuring-web-commit-signing

### What part(s) of the article would you like to see updated?

[2022-08-18 16:16] lecoursen commented on #18984
Yes! You can provide product feedback [here](https://github.com/orgs/community/discussions/categories/pull-requests). Thanks for helping us improve GitHub! 💖

[2022-08-18 17:26] jsoref commented on #17823
@lucascosti, technically the document already warns users about this:
https://docs.github.com/en/actions/learn-github-actions/contexts#context-availability

Now, it's probably true that this text is way too far down the document.

I'd argue that the structure should be:
1. About contexts (the stuff before the pink box in https://docs.github.com/en/actions/learn-github-actions/contexts#about-contex

[2022-08-18 20:13] #19862 closed

[2022-08-18 23:56] #17767 closed

[2022-08-19 02:54] damon-atkins commented on #18984
ScriptAutomate has submitted the request, @lecoursen  can you please ensure it has the correct labels. Many thanks.

[2022-08-19 13:11] lecoursen commented on #18984
👋🏻 @damon-atkins, the GitHub community discussions are owned by a different team. (We only own this repo and [docs.github.com](http://docs.github.com/).)  :sparkling_heart: I'm sure the appropriate team will review the post shortly! 😊

[2022-08-19 15:47] cmwilson21 commented on #19959
👋 @darthwillis Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-19 15:50] darthwillis commented on #19959
@cmwilson21 Thank you! I was actually working on a PR yesterday with a suggested update. I'll link it here if I finish it up and would appreciate any input or feedback!

[2022-08-19 15:56] cmwilson21 commented on #19959
Sounds great! I'll mark it as "On hold" until you finish the PR, that way our reviewers know you are still working on it.

[2022-08-20 18:31] nhemnt opened #20014 "Difficult to read the text when we hover on the button"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

**Link**
https://docs.github.com/en/developers/overview/github-developer-program

**Screenshot**
<img width="1279" alt="Screenshot 2022-08-20 at 11 54 34 PM" src="https://user-images.githubuse

[2022-08-21 02:56] TeerasakSinghnoi17 commented on #19808
<!DOTYPE html>
<x-foo id="a"></x-foo>
<x-foo id="b"></x-foo>

<script>
//Defining enquees upgrade reactions for both "a"and"b"customElements.define security-camera-footage
cconstructor(){
super();

[2022-08-21 10:43] bells17 opened #20026 "Fix ja-JP contexts.md layout"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

This page: https://docs.github.com/ja/actions/learn-github-actions/contexts#context-availability

### What part(s) of the article would you like to see updated?

layout bug

<img width="1668"

[2022-08-21 11:12] bells17 commented on #20026
PR: https://github.com/github/docs/pull/20027

[2022-08-21 21:19] Mohsinmrs commented on #19869
Mrs.d.com
Great day Job in Pakistan

[2022-08-22 02:24] kozr opened #20037 "Change word from "replace"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/repos/contents#delete-a-file

### What part(s) of the article would you like to see updated?

<img width="569" alt="image" src="https://user-images.githubuserco

[2022-08-22 02:25] kozr opened #20038 "Change word from "replaced" -> "deleted" in docs detailing deletion of content."
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/repos/contents#delete-a-file

### What part(s) of the article would you like to see updated?

<img width="569" alt="image" src="https://user-images.githubuserco

[2022-08-22 02:25] #20037 closed

[2022-08-22 04:03] lucascosti commented on #18377
👋  @tomas-pajurek, thanks for opening this issue. It looks like there are some modules present at the location currently documented (`/usr/local/share/powershell/Modules/*`), but the Azure modules do appear to be in the location you specified (/usr/share/az_<version>).

I'll try to get someone from the infrastructure team to clarify if this affects the other GitHub-hosted runner OSs too.

[2022-08-22 05:07] lucascosti commented on #18963
Sorry for the delay, @nhedger, and thanks for reporting this; I'll open a PR to correct the information about the banner.

About the `action.yml` vs `action.yaml` issue: there is an internal bug open for this. The option to publish to the Marketplace will be there if you create a repository with `action.yml` or `action.yaml`, but if you later rename that file to the other file extension (e.g. rena

[2022-08-22 05:50] #18963 closed

[2022-08-22 06:29] #18969 closed

[2022-08-22 06:52] lucascosti commented on #19507
👋 Hi @mickey-philips, unfortunately I can't reproduce this problem.

I used a reusable workflow with an underscore and it worked ok:

[code]

It's possible that this was a transient bug that has been fixed, but if you are still having issues, I would recommend contacting GitHub Support.

[2022-08-22 06:52] #19507 closed

[2022-08-22 06:57] lucascosti commented on #19566
Hi @vinzydev, thanks for opening this.

The [documented workflow in that section](https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven#caching-dependencies) already contains a caching configuration using the `cache: maven` option with the `actions/setup-java@v3` action (you can see the [caching docs for that action here](https://github.com/marketplace

[2022-08-22 06:57] #19566 closed

[2022-08-22 07:03] lucascosti commented on #19904
👋 @dne, thanks a lot for pointing this out! You are 100% correct; feel free for yourself (or anyone) to open a PR. Otherwise I should get to it in the next few days.

[2022-08-22 12:56] kun819590 opened #20050 "kun819590"
kun819590

_Originally posted by @kun819590 in https://github.com/github/docs/issues/20048#issuecomment-1222319238_

[2022-08-22 12:56] #20050 closed

[2022-08-22 13:11] cmwilson21 commented on #20014
@nhemnt Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-22 13:18] cmwilson21 commented on #20026
@bells17 Thanks for opening an issue and linking it to your PR!

[2022-08-22 13:22] cmwilson21 commented on #20026
Closing this now as I've submitted an internal issue to fix this. See my comment on the PR for more information 💛

[2022-08-22 13:22] #20026 closed

[2022-08-22 14:52] cmwilson21 commented on #20038
@kozr Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-22 14:53] #20038 closed

[2022-08-22 14:55] lecoursen commented on #19959
Thanks @darthwillis! I agree we should update the docs to clarify this. Definitely let us know when your PR is ready for review. 😊

[2022-08-22 16:48] carlena3497 opened #20057 "Issues 2"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### Pre-requisites

- [X] My application to the GitHub Technology Partner Program is approved.

### Tasks

- [X] MUST follow our [general contributing guidelines](CONTRIBUTING.md) for voice and markup format.
- [X] MUST emphasize how the thir

[2022-08-22 16:48] #20057 closed

[2022-08-22 17:10] thyeggman commented on #19416
Hi!  The actions editor treats YAML expressions as if they were strings.  Unfortunately we can't parse them yet, which is why you get the error.  In any case, your expression should return a boolean when committed and running.

Hope this helps 🙂

[2022-08-22 17:37] lrotschy opened #20060 "Add TSG for High CPU flag"
https://github.slack.com/archives/C01UE4KCVV4/p1660927204329239

Linked TSG is just for PerfView.
https://github.slack.com/archives/CNS9X1LHJ/p1660933901431089?thread_ts=1660931636.637299&cid=CNS9X1LHJ

If this is only happening for a single JA, check job history to see which job is using most cpu, check ApplicationEvents to see if anything else is running on the VM that’s using all the resources.

[2022-08-22 17:41] lrotschy commented on #20060
Sorry--opened this in the wrong repo. Closing and re-opening in actions-service.

[2022-08-22 17:41] #20060 closed

[2022-08-22 23:12] lucascosti commented on #19416
Thanks for the clarification, @thyeggman!

Because there's no docs change required, I'll close this issue.

[2022-08-22 23:12] #19416 closed

[2022-08-23 01:03] lucascosti commented on #19626
This seems like a reasonable addition, although I'm not sure if being able to re-set `CI` is an intentional (i.e. not a bug) behavior.

We should advise that it is not possible or advisable to re-set any of the default environment variables listed in https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables.

Also mentioning the same in https://doc

[2022-08-23 01:09] lucascosti commented on #19627
This probably needs some engineering clarification; environment variables on Windows platforms are not case-sensitive, but I'm not sure that when those environment variables are used by any Actions components (e.g. setting them in  `$env:GITHUB_ENV`) whether there might be cases where they are.

[2022-08-23 01:19] #19521 closed

[2022-08-23 01:52] jsoref commented on #19627
Technically environment variables in cmd are case-preserving:

[code]

![image](https://user-images.githubusercontent.com/2119212/186050573-52cc0c5e-6f76-486c-a35c-7ebd4f6ec436.png)

And the same applies for PowerShell:

[code]
![image](https://user-images.githubusercontent.com/2119212/186050929-3adfb343-dd0d-4535-8c41-4ba3463addd8.png)

But yes, it'd be good to get engineering input. I can only s

[2022-08-23 01:53] jsoref commented on #19626
I don't suppose I could get you to investigate the `CI` side? I'm happy to make the PR as is, but I really do file quite a few bugs, and I'm currently stuck on quite a few PRs and don't want to be seen as pestering (I really need someone to go through a whole actions org ... -- https://github.com/pulls?q=is%3Aopen+is%3Apr+author%3Ajsoref+archived%3Afalse+org%3Aactions)

[2022-08-23 04:53] #17071 closed

[2022-08-23 07:08] tosaka-n opened #20075 "Table layout is broken in the ja-JP of the document"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/ja/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization#permissions-for-each-role

### What part(s) of the article woul

[2022-08-23 08:32] bashirmindee opened #20078 "Github draft blog is out of date"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Step six here](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request#creating-the-pull-request)

[2022-08-23 08:32] #11639 closed

[2022-08-23 08:43] janiceilene commented on #19818
👋 @jamesbraza The section of the docs that includes the `!` syntax says:

The patterns listed there `\`, `!`, and `[ ]` do not work in CODEOWNERS files, so we are not going to add any examples.

Thanks so much for opening an issue!

[2022-08-23 08:43] #19818 closed

[2022-08-23 09:00] janiceilene commented on #19593
👋 @tjenkinson If I'm understanding correctly, you're looking to update the Octokit docs, which we don't own. You can open an issue in https://github.com/octokit to request an Octokit update.

It looks like we document this feature in https://docs.github.com/en/issues/tracking-your-work-with-issues/closing-an-issue on the GitHub Docs. I'm going to close this now, but please let me know if I'm misun

[2022-08-23 09:23] tjenkinson commented on #19593
Ah @janiceilene I put the wrong link. I meant https://docs.github.com/en/rest/issues/issues#update-an-issue

Looks like an issue should be opened on octokit too though

[2022-08-23 09:52] #17629 closed

[2022-08-23 10:03] janiceilene commented on #19593
That makes sense! Thanks for the clarification @tjenkinson I'll put this back on the review board for our rest folks to check out 💖

[2022-08-23 10:08] nhemnt commented on #20014
👋 @hectorsector, if possible can I work on this?

[2022-08-23 13:07] cmwilson21 commented on #20075
Thanks for reporting this! Closing this issue now per [PR comment](https://github.com/github/docs/pull/20073#issuecomment-1224049876).

[2022-08-23 13:07] #20075 closed

[2022-08-23 13:11] cmwilson21 commented on #20078
@bashirmindee Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-23 13:22] #19593 closed

[2022-08-23 15:03] hectorsector commented on #20014
Thanks so much @nhemnt! The issue is actually with the Primer components we use for the drop downs. If you'd like to follow along with that issue it is https://github.com/primer/react/issues/2229, they may accept contributions as well if you look at their contributing guidelines.

[2022-08-23 15:54] Saransh-cpp commented on #19416
Thanks for the help, @thyeggman, and @lucascosti! Would it be possible to highlight this behavior of the GH editor somewhere in the docs? Or is it already highlighted, but I missed it? (Due to the misleading warning, I ended up removing this line from my user-facing projects and the open-source projects I maintain.)

[2022-08-23 16:38] darthwillis commented on #19959
Thanks @cmwilson21 and @lecoursen - I am First Responder this week so I got delayed on making the changes. I'll ping as soon as I have a PR up.

[2022-08-23 16:50] skedwards88 commented on #19593
Thanks for this issue! If you navigate to the response schema instead of the example response, you will see the `state_reason` field as expected. This field isn't required and isn't part of the example response, so you don't see it in the example response.

<img width="938" alt="image" src="https://user-images.githubusercontent.com/25328854/186216175-17c4c427-e0c5-43e1-a5e2-5c9639c94750.png">

[2022-08-23 16:51] jamesbraza commented on #19818
HA that is funny, I must have totally misread the docs.  Thank you @janiceilene!

[2022-08-23 17:35] tjenkinson commented on #19593
Hi @skedwards88 for the update command though for the input it says

Can be one of: open, closed

So it’s not documented for the request?

[2022-08-23 18:34] timdeschryver opened #20094 "Add a dev container configuration to your repository (Node.js)"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/codespaces/setting-up-your-project-for-codespaces/setting-up-your-project-for-codespaces

### What part(s) of the article would you like to see updated?

I was setti

[2022-08-23 19:18] meowius commented on #19631
Thank you so much @jsoref for this excellent idea! Agree that the boxes within PRs can be confusing, and an explanation of them could help new users in particular.

We're going to consider this in the context of other improvements in the coming months, so I'll go ahead and assign this to myself as part of that work — thank you so much for raising this.

Adding some fact-finding notes here for futu

[2022-08-23 22:37] Paddymath1 opened #20103 "Leftovers"
3QaThWWx63wXm8ZCSPbLzaBGeZdt5SdNhx

This is a bitcoin network address. Do not send BTC over any other network to this address or your funds may be lost. Do not send Bitcoin Cash (BCH) to this address.

[2022-08-23 22:38] #20103 closed

[2022-08-24 04:14] lucascosti commented on #19416
🤔 Hmmm, we don't tend to document bug-like behavior in the docs, and this would be tough to mention in the right spots because the issue is rather with the option being set (in this case `cancel-in-progress`) rather than the behavior of the expression (which we have many that return a Boolean result).

@thyeggman Do you have any thoughts? Is it possible to update the editor to exclude that warning

[2022-08-24 07:51] noviicee commented on #9432
Hi! Since there has been no recent updates, can I take it from here..?

[2022-08-24 08:11] michael-robertson opened #20112 "Grammar fix on deployments page"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/rest/deployments/deployments

### What part(s) of the article would you like to see updated?

"These events allows third-party integrations to receive respond to dep

[2022-08-24 08:17] DrJosh9000 opened #20114 "SSH commit signing: Missing "key::" prefix for literal key in setup instructions"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key

### What part(s) of the article would you like to see updated?

Step 4 of "

[2022-08-24 12:33] Fran-Rg commented on #8926
Because I landed here from google search, the documented solution is here: https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/defining-the-mergeability-of-pull-requests/troubleshooting-required-status-checks#handling-skipped-but-required-checks

[2022-08-24 13:46] cmwilson21 commented on #20094
@timdeschryver Thanks so much for opening an issue! I'll triage this for the team to take a look :eyes:

[2022-08-24 13:53] cmwilson21 commented on #9432
@noviicee Thanks for checking in! You or anyone else are welcome to work on this issue.

Thanks for your interest and passion for improving GitHub docs! 💖

[2022-08-24 13:54] cmwilson21 commented on #20112
@michael-robertson Thanks for opening an issue and linking it to your PR! ⚡

[2022-08-24 17:54] gmaclennan commented on #17752
Just a gentle reminder, since this is still not documented, but appears to work and is intended to be documented.

[2022-08-24 17:57] Jerry-AWS opened #20134 "Case of X-Hub-Signature-256 header is incorrect in "Securing your webhooks" topic"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

"Securing your webhooks" https://docs.github.com/en/developers/webhooks-and-events/webhooks/securing-your-webhooks

### What part(s) of the article would you like to see updated?

The HTTP hea

[2022-08-24 18:03] rajbos opened #20136 "Consistent use of the plural form of `repository`"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

A lot! Check this search: https://docs.github.com/en?query=repository's

### What part(s) of the article would you like to see updated?

Filenames (it's just strange) as well as the texts itse

[2022-08-24 18:11] srbdev opened #20137 "SSH config PubkeyAcceptedKeyTypes directive for Error: Permission denied (publickey)"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

[Error: Permission denied (publickey)](https://docs.github.com/en/authentication/troubleshooting-ssh/error-permission-denied-publickey)

### What part(s) of the article would you like to see u

[2022-08-25 00:21] vincent-czi opened #20145 "Managing Custom domain page > "Configuring a subdomain" > second example undifferentiated from first example"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site/managing-a-custom-domain-for-your-github-pages-site

### What part(s) of the article would you like to s

[2022-08-25 01:08] #17823 closed

[2022-08-25 06:11] lucascosti commented on #18736
👋 Sorry for the delay in triaging this.

There is this mention at the top:

We could probably turn ☝️  into a note to make it more obvious, and update the Linux mention below to say that the script is created after successfully adding the runner.

[2022-08-25 09:26] #20112 closed

[2022-08-25 12:46] 89z opened #20162 "LICENSE_KEYWORD"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/search-github/searching-on-github/searching-for-repositories#search-by-license

### What part(s) of the article would you like to see updated?

says use `license:LIC

[2022-08-25 12:47] 89z opened #20163 "Explain LICENSE_KEYWORD"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/search-github/searching-on-github/searching-for-repositories#search-by-license

### What part(s) of the article would you like to see updated?

says use `license:LIC

[2022-08-25 12:47] #20163 closed

[2022-08-25 12:48] 89z opened #20164 "explain how to get LICENSE_KEYWORD"
### Code of Conduct

- [X] I have read and agree to the GitHub Docs project's [Code of Conduct](https://github.com/github/docs/blob/main/CODE_OF_CONDUCT.md)

### What article on docs.github.com is affected?

https://docs.github.com/en/search-github/searching-on-github/searching-for-repositories#search-by-license

### What part(s) of the article would you like to see updated?

says use `license:LIC

[2022-08-25 13:09] 89z commented on #20164
Looks like this might work:

https://choosealicense.com/appendix